In [1]:
import numpy as np
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup
import time

In [2]:
url3 = "https://www.99.co/singapore/sale"

In [3]:
p3 = requests.get(url3, headers = {'User-Agent': 'Mozilla/5.0'})

In [4]:
p3.status_code

200

In [5]:
s = BeautifulSoup(p3.text)

In [6]:
title = s.findAll("a", attrs={"class":"_3Ajbv _30I97 _1vzK2"})

In [7]:
title[0].text

'3 Bed Condo in Neem Tree'

In [8]:
title[15].text

'3 Bed Condo in Neem Tree'

In [9]:
title[2].text

'5 Bed House on Luxus Hills'

In [10]:
title[3].text

'2 Room HDB in 180B Rivervale Crescent'

In [11]:
title_class = '_3Ajbv _30I97 _1vzK2'
tag = 'a'
url = 'https://www.99.co/singapore/sale'
page = requests.get(url,headers = {'User-Agent': 'Mozilla/5.0'}) # 1,
if page.status_code==200:
    soup = BeautifulSoup(page.text) # 2
    title = soup.find_all(tag, attrs={'class':title_class}) # 3
    title = [x.text for x in title]
    print(title)
else:
    print("Http Error")

['3 Bed Condo in The Interlace', '3 Bed Condo in The Anchorage', '3 Bed Condo in Neem Tree', '4 Bed Exec Condo in Sol Acres', '5 Bed House on Luxus Hills', '2 Room HDB in 180B Rivervale Crescent', '2 Bed Condo in Mackenzie 88', '3 Bed HDB in 715 Tampines Street 71', '4 Bed House on Emerald Hill Conservation Area', '4 Room HDB in 285B Toh Guan Road', '4 Room HDB in 267 Boon Lay Drive', '3 Room HDB in 2 Bedok South Avenue 1', 'Exec HDB in 578 Hougang Avenue 4', '4 Room HDB in 886B Woodlands Drive 50', '4 Room HDB in 386 Bukit Batok West Avenue 5', '3 Bed Condo in The Interlace', '3 Bed Condo in The Skywoods', '1 Bed Condo in Parc Olympia', '3 Bed Exec Condo in Nuovo', '2 Bed Condo in Avenue South Residence', '4 Bed Condo in Turquoise', '2 Bed Condo in Signature @ Lewis', '4 Bed Condo in Rio Vista', '4 Room HDB in 91 Tanglin Halt Road', '2 Bed Condo in Bukit Regency', '4 Room HDB in 1A Cantonment Road', '5 Bed Condo in The Arcadia', '4 Bed Condo in The Hacienda', '3 Bed Condo in Le Quest', '3 Room HDB in 8 Holland Avenue', '3 Room HDB in 160 Mei Ling Street', '3 Room HDB in 104A Canberra Street', '3 Room HDB in 37 Margaret Drive', '3 Bed Condo in Westcove Condominium', '2 Bed Condo in The Florence Residences', '2 Bed Condo in Clavon']

In [12]:
for x in soup.find_all('div', attrs={'class':'_1zvu5'}):
    title = x.find('a', attrs={'class':'_3Ajbv _30I97 _1vzK2'})
    if title is None:
        print(np.NaN)
    else:
        print(title.text)

3 Bed Condo in The Interlace
3 Bed Condo in The Anchorage
3 Bed Condo in Neem Tree
4 Bed Exec Condo in Sol Acres
5 Bed House on Luxus Hills
2 Room HDB in 180B Rivervale Crescent
2 Bed Condo in Mackenzie 88
3 Bed HDB in 715 Tampines Street 71
4 Bed House on Emerald Hill Conservation Area
4 Room HDB in 285B Toh Guan Road
4 Room HDB in 267 Boon Lay Drive
3 Room HDB in 2 Bedok South Avenue 1
Exec HDB in 578 Hougang Avenue 4
4 Room HDB in 886B Woodlands Drive 50
4 Room HDB in 386 Bukit Batok West Avenue 5
3 Bed Condo in The Interlace
3 Bed Condo in The Skywoods
1 Bed Condo in Parc Olympia
3 Bed Exec Condo in Nuovo
2 Bed Condo in Avenue South Residence
4 Bed Condo in Turquoise
2 Bed Condo in Signature @ Lewis
4 Bed Condo in Rio Vista
4 Room HDB in 91 Tanglin Halt Road
2 Bed Condo in Bukit Regency
4 Room HDB in 1A Cantonment Road
5 Bed Condo in The Arcadia
4 Bed Condo in The Hacienda
3 Bed Condo in Le Quest
3 Room HDB in 8 Holland Avenue
3 Room HDB in 160 Mei Ling Street
3 Room HDB in 104A Canberra Street
3 Room HDB in 37 Margaret Drive
3 Bed Condo in Westcove Condominium
2 Bed Condo in The Florence Residences
2 Bed Condo in Clavon

In [13]:
address_class = '_3WG9R _3L5OV'
tag = 'li'
url = 'https://www.99.co/singapore/sale'
page = requests.get(url,headers = {'User-Agent': 'Mozilla/5.0'}) # 1,
if page.status_code==200:
    soup = BeautifulSoup(page.text) # 2
    address = soup.find_all(tag, attrs={'class':address_class}) # 3
    address = [x.text for x in address]
    print(address)
else:
    print("Http Error")

['190 Depot Rd', '370F Alexandra Rd', '30 Jln Kemaman', '10 Choa Chu Kang Grove', ' Luxus Hill Ave', '88 Mackenzie Rd', ' Emerald Hill Rd', '5 Dairy Farm Hts', '64 Flora Dr', '21 Ang Mo Kio Ave 9', '1 Silat Ave', '55 Cove Dr', '1 Lewis Rd', '10 Upp Serangoon View', '7 Upp Bt Timah View', '235 Arcadia Rd', '6 Hacienda Grove', '10 Bt Batok St 41', '12 West Coast Cres', '99 Hougang Ave 2']

In [14]:
for x in soup.find_all('div', attrs={'class':'_1zvu5'}):
    address = x.find('li', attrs={'class':'_3WG9R _3L5OV'})
    if address is None:
        print(np.NaN)
    else:
        print(address.text)

nan
190 Depot Rd
370F Alexandra Rd
30 Jln Kemaman
10 Choa Chu Kang Grove
 Luxus Hill Ave
nan
88 Mackenzie Rd
nan
 Emerald Hill Rd
nan
nan
nan
nan
nan
nan
nan
5 Dairy Farm Hts
64 Flora Dr
21 Ang Mo Kio Ave 9
1 Silat Ave
55 Cove Dr
1 Lewis Rd
10 Upp Serangoon View
nan
7 Upp Bt Timah View
nan
235 Arcadia Rd
6 Hacienda Grove
10 Bt Batok St 41
nan
nan
nan
nan
12 West Coast Cres
99 Hougang Ave 2

In [15]:
flat_class = '_3WG9R'
tag = 'li'
url = 'https://www.99.co/singapore/sale'
page = requests.get(url,headers = {'User-Agent': 'Mozilla/5.0'}) # 1,
if page.status_code==200:
    soup = BeautifulSoup(page.text) # 2
    flatno = soup.find_all(tag, attrs={'class':flat_class}) # 3
    flatno = [x.text for x in flatno]
    print(flatno)
else:
    print("Http Error")

['1 Leedon Hts', 'D10', '190 Depot Rd', 'D4', '370F Alexandra Rd', 'D3', '30 Jln Kemaman', 'D12', '10 Choa Chu Kang Grove', 'D23', ' Luxus Hill Ave', 'D28', '88 Mackenzie Rd', 'D9', ' Emerald Hill Rd', 'D9', '1 Leedon Hts', 'D10', '5 Dairy Farm Hts', 'D23', '64 Flora Dr', 'D17', '21 Ang Mo Kio Ave 9', 'D20', '1 Silat Ave', 'D3', '55 Cove Dr', 'D4', '1 Lewis Rd', 'D10', '10 Upp Serangoon View', 'D19', '7 Upp Bt Timah View', 'D21', '235 Arcadia Rd', 'D11', '6 Hacienda Grove', 'D15', '10 Bt Batok St 41', 'D23', '12 West Coast Cres', 'D5']

In [16]:
for x in soup.find_all('div', attrs={'class':'_1zvu5'}):
    flat = x.find('li', attrs={'class':'_3WG9R'})
    if flat is None:
        print(np.NaN)
    else:
        print(flat.text)

1 Leedon Hts
nan
190 Depot Rd
370F Alexandra Rd
30 Jln Kemaman
10 Choa Chu Kang Grove
 Luxus Hill Ave
nan
88 Mackenzie Rd
nan
 Emerald Hill Rd
nan
nan
nan
nan
1 Leedon Hts
nan
nan
5 Dairy Farm Hts
64 Flora Dr
21 Ang Mo Kio Ave 9
1 Silat Ave
55 Cove Dr
1 Lewis Rd
10 Upp Serangoon View
nan
7 Upp Bt Timah View
nan
235 Arcadia Rd
6 Hacienda Grove
10 Bt Batok St 41
nan
nan
nan
nan
12 West Coast Cres

In [17]:
typeofacco_class = '_1LPAx'
tag = 'li'
url = 'https://www.99.co/singapore/sale'
page = requests.get(url,headers = {'User-Agent': 'Mozilla/5.0'}) # 1,
if page.status_code==200:
    soup = BeautifulSoup(page.text) # 2
    accomo = soup.find_all(tag, attrs={'class':typeofacco_class}) # 3
    accomo = [x.text for x in accomo]
    print(accomo)
else:
    print("Http Error")

['Condo', '2015', '99 years', 'HDB (4A)', '2019', '99 years', 'Condo', '2013', '99 years', 'Condo', '1997', 'Freehold', 'Apartment', '2020', 'Freehold', 'Exec Condo', '2018', '99 years', 'Corner Terrace', '2013', '999 years', 'HDB (2RM)', '2015', '99 years', 'Apartment', '2009', 'Freehold', 'HDB', '1997', '99 years', 'Conservation House', 'Freehold', 'HDB (4A)', '1998', '99 years', 'HDB (4A)', '1998', '99 years', 'HDB (3I)', '1976', '99 years', 'HDB (EM)', '1997', '99 years', 'Condo', '2015', '99 years', 'HDB (4RM Premium)', '2015', '99 years', 'HDB (4A)', '2004', 'Condo', '2016', '99 years', 'Condo', '2015', '99 years', 'Exec Condo', '2004', '99 years', 'Apartment', '2023', '99 years', 'Condo', '2010', '99 years', 'Apartment', '2011', 'Freehold', 'Condo', '2004', '99 years', 'HDB (4A)', '2008', '99 years', 'Condo', '1995', 'Freehold', 'HDB (4A)', '2011', '99 years', 'Condo', '1983', '99 years', 'Condo', '1986', 'Freehold', 'Apartment', '2020', '99 years', 'HDB (3I)', '1974', '99 years', 'HDB (3I)', '1970', '99 years', 'HDB (3A)', '2018', '99 years', 'HDB (3RM)', '99 years', 'Condo', '1998', '99 years']

In [18]:
for x in soup.find_all('div', attrs={'class':'_1zvu5'}):
    accomo = x.find('li', attrs={'class':'_1LPAx'})
    if accomo is None:
        print(np.NaN)
    else:
        print(accomo.text)

Condo
HDB (4A)
Condo
Condo
Apartment
Exec Condo
Corner Terrace
HDB (2RM)
Apartment
HDB
Conservation House
HDB (4A)
HDB (4A)
HDB (3I)
HDB (EM)
Condo
HDB (4RM Premium)
HDB (4A)
Condo
Condo
Exec Condo
Apartment
Condo
Apartment
Condo
HDB (4A)
Condo
HDB (4A)
Condo
Condo
Apartment
HDB (3I)
HDB (3I)
HDB (3A)
HDB (3RM)
Condo

In [19]:
manufac_class = '_1LPAx _2saEz'
tag = 'li'
url = 'https://www.99.co/singapore/sale'
page = requests.get(url,headers = {'User-Agent': 'Mozilla/5.0'}) # 1,
if page.status_code==200:
    soup = BeautifulSoup(page.text) # 2
    manufac = soup.find_all(tag, attrs={'class':manufac_class}) # 3
    manufac = [x.text for x in manufac]
    print(manufac)
else:
    print("Http Error")

['Condo', '2015', 'HDB (4A)', '2019', 'Condo', '2013', 'Condo', '1997', 'Apartment', '2020', 'Exec Condo', '2018', 'Corner Terrace', '2013', 'HDB (2RM)', '2015', 'Apartment', '2009', 'HDB', '1997', 'Conservation House', 'HDB (4A)', '1998', 'HDB (4A)', '1998', 'HDB (3I)', '1976', 'HDB (EM)', '1997', 'Condo', '2015', 'HDB (4RM Premium)', '2015', 'HDB (4A)', 'Condo', '2016', 'Condo', '2015', 'Exec Condo', '2004', 'Apartment', '2023', 'Condo', '2010', 'Apartment', '2011', 'Condo', '2004', 'HDB (4A)', '2008', 'Condo', '1995', 'HDB (4A)', '2011', 'Condo', '1983', 'Condo', '1986', 'Apartment', '2020', 'HDB (3I)', '1974', 'HDB (3I)', '1970', 'HDB (3A)', '2018', 'HDB (3RM)', 'Condo', '1998']

In [20]:
for x in soup.find_all('div', attrs={'class':'_1zvu5'}):
    year = x.find('li', attrs={'class':'_1LPAx _2saEz'})
    if year is None:
        print(np.NaN)
    else:
        print(year.text)

Condo
HDB (4A)
Condo
Condo
Apartment
Exec Condo
Corner Terrace
HDB (2RM)
Apartment
HDB
Conservation House
HDB (4A)
HDB (4A)
HDB (3I)
HDB (EM)
Condo
HDB (4RM Premium)
HDB (4A)
Condo
Condo
Exec Condo
Apartment
Condo
Apartment
Condo
HDB (4A)
Condo
HDB (4A)
Condo
Condo
Apartment
HDB (3I)
HDB (3I)
HDB (3A)
HDB (3RM)
Condo

In [21]:
title_class = '_3Ajbv _30I97 _1vzK2'
tag = 'a'
url = 'https://www.99.co/singapore/sale'
page = requests.get(url,headers = {'User-Agent': 'Mozilla/5.0'}) # 1,
if page.status_code==200:
    soup = BeautifulSoup(page.text) # 2
    title = soup.find_all(tag, attrs={'class':title_class}) # 3
    title = [x.text for x in title]
    print(title)
else:
    print("Http Error")

["3 Bed Condo in D'leedon", '4 Room HDB in 461A Bukit Batok West Avenue 8', '3 Bed Condo in The Interlace', '3 Bed Condo in The Anchorage', '3 Bed Condo in Neem Tree', '4 Bed Exec Condo in Sol Acres', '5 Bed House on Luxus Hills', '2 Room HDB in 180B Rivervale Crescent', '2 Bed Condo in Mackenzie 88', '3 Bed HDB in 715 Tampines Street 71', '4 Bed House on Emerald Hill Conservation Area', '4 Room HDB in 285B Toh Guan Road', '4 Room HDB in 267 Boon Lay Drive', '3 Room HDB in 2 Bedok South Avenue 1', 'Exec HDB in 578 Hougang Avenue 4', "3 Bed Condo in D'leedon", '4 Room HDB in 886B Woodlands Drive 50', '4 Room HDB in 386 Bukit Batok West Avenue 5', '3 Bed Condo in The Skywoods', '1 Bed Condo in Parc Olympia', '3 Bed Exec Condo in Nuovo', '2 Bed Condo in Avenue South Residence', '4 Bed Condo in Turquoise', '2 Bed Condo in Signature @ Lewis', '4 Bed Condo in Rio Vista', '4 Room HDB in 91 Tanglin Halt Road', '2 Bed Condo in Bukit Regency', '4 Room HDB in 1A Cantonment Road', '5 Bed Condo in The Arcadia', '4 Bed Condo in The Hacienda', '3 Bed Condo in Le Quest', '3 Room HDB in 8 Holland Avenue', '3 Room HDB in 160 Mei Ling Street', '3 Room HDB in 104A Canberra Street', '3 Room HDB in 37 Margaret Drive', '3 Bed Condo in Westcove Condominium']

In [22]:
for x in soup.find_all('div', attrs={'class':'_1zvu5'}):
    title = x.find('a', attrs={'class':'_3Ajbv _30I97 _1vzK2'})
    if title is None:
        print(np.NaN)
    else:
        print(title.text)

3 Bed Condo in D'leedon
4 Room HDB in 461A Bukit Batok West Avenue 8
3 Bed Condo in The Interlace
3 Bed Condo in The Anchorage
3 Bed Condo in Neem Tree
4 Bed Exec Condo in Sol Acres
5 Bed House on Luxus Hills
2 Room HDB in 180B Rivervale Crescent
2 Bed Condo in Mackenzie 88
3 Bed HDB in 715 Tampines Street 71
4 Bed House on Emerald Hill Conservation Area
4 Room HDB in 285B Toh Guan Road
4 Room HDB in 267 Boon Lay Drive
3 Room HDB in 2 Bedok South Avenue 1
Exec HDB in 578 Hougang Avenue 4
3 Bed Condo in D'leedon
4 Room HDB in 886B Woodlands Drive 50
4 Room HDB in 386 Bukit Batok West Avenue 5
3 Bed Condo in The Skywoods
1 Bed Condo in Parc Olympia
3 Bed Exec Condo in Nuovo
2 Bed Condo in Avenue South Residence
4 Bed Condo in Turquoise
2 Bed Condo in Signature @ Lewis
4 Bed Condo in Rio Vista
4 Room HDB in 91 Tanglin Halt Road
2 Bed Condo in Bukit Regency
4 Room HDB in 1A Cantonment Road
5 Bed Condo in The Arcadia
4 Bed Condo in The Hacienda
3 Bed Condo in Le Quest
3 Room HDB in 8 Holland Avenue
3 Room HDB in 160 Mei Ling Street
3 Room HDB in 104A Canberra Street
3 Room HDB in 37 Margaret Drive
3 Bed Condo in Westcove Condominium

In [23]:
title_class = '_3Ajbv _30I97 _1vzK2'
tag = 'a'
url = 'https://www.99.co/singapore/sale'
page = requests.get(url,headers = {'User-Agent': 'Mozilla/5.0'}) # 1,
if page.status_code==200:
    soup = BeautifulSoup(page.text) # 2
    title = soup.find_all(tag, attrs={'class':title_class}) # 3
    title = [x.text for x in title]
    print(title)
else:
    print("Http Error")

["3 Bed Condo in D'leedon", '4 Room HDB in 461A Bukit Batok West Avenue 8', '3 Bed Condo in The Interlace', '3 Bed Condo in The Anchorage', '3 Bed Condo in Neem Tree', '4 Bed Exec Condo in Sol Acres', '5 Bed House on Luxus Hills', '2 Room HDB in 180B Rivervale Crescent', '2 Bed Condo in Mackenzie 88', '3 Bed HDB in 715 Tampines Street 71', '4 Bed House on Emerald Hill Conservation Area', '4 Room HDB in 285B Toh Guan Road', '4 Room HDB in 267 Boon Lay Drive', '3 Room HDB in 2 Bedok South Avenue 1', 'Exec HDB in 578 Hougang Avenue 4', "3 Bed Condo in D'leedon", '4 Room HDB in 886B Woodlands Drive 50', '4 Room HDB in 386 Bukit Batok West Avenue 5', '3 Bed Condo in The Skywoods', '1 Bed Condo in Parc Olympia', '3 Bed Exec Condo in Nuovo', '2 Bed Condo in Avenue South Residence', '4 Bed Condo in Turquoise', '2 Bed Condo in Signature @ Lewis', '4 Bed Condo in Rio Vista', '4 Room HDB in 91 Tanglin Halt Road', '2 Bed Condo in Bukit Regency', '4 Room HDB in 1A Cantonment Road', '5 Bed Condo in The Arcadia', '4 Bed Condo in The Hacienda', '3 Bed Condo in Le Quest', '3 Room HDB in 8 Holland Avenue', '3 Room HDB in 160 Mei Ling Street', '3 Room HDB in 104A Canberra Street', '3 Room HDB in 37 Margaret Drive', '3 Bed Condo in Westcove Condominium']

In [24]:
name = [] 
address = []
typeofhouse = []
yearofmanufac = []
price = []
offer = []
bedbathsizeinfo = []
pagenum = []
# go throught the 21 pages
total_time = time.time()
for i in range(1,18): 
    start_time = time.time()
    URL = "https://www.99.co/singapore/sale?bathrooms=any&composite_floor_level=any&composite_furnishing=any&composite_property_status=any&composite_views=any&features_and_amenities=any&has_floor_plan=false&isFilterUnapplied=false&main_category=all&map_bounds=1.5827095153768858%2C103.49449749970108%2C1.1090706240313446%2C104.12483807587296&page_num={}&page_size=35&path=%2Fsingapore%2Fsale&period_of_availability=any&property_segments=residential&query_coords=1.3039947%2C103.8298507&query_limit=radius&query_type=city&rooms=any&show_cluster_preview=true&show_description=true&show_future_mrts=true&show_internal_linking=true&show_meta_description=true&show_nearby=true&tenure=any&zoom=11".format(i)
    page = requests.get(URL,headers = {'User-Agent': 'Mozilla/5.0'})
    pagecontent = page.text
    soup = BeautifulSoup(pagecontent)

    for x in soup.find_all('div', attrs={'class':'TaGB0'}):
        nameofhouse = x.find('a', attrs = {'class':'_3Ajbv _30I97 _1vzK2'})
        streetaddress = x.find('li', attrs = {'class':'_3WG9R _3L5OV'})
        typeofhome = x.find('li', attrs = {'class':'_1LPAx'})
        year = x.find('span', attrs = {'class':'JiLXa'})
        priceofhouse = x.find('li', attrs={'class':'JlU_W'})
        offerper = x.find('li', attrs={'class':'_1iMmV'})
        bedbathsize = x.find('span', attrs={'class':'cUjn9'})
        if nameofhouse is None:
            name.append(np.NaN)
        else:
            name.append(nameofhouse.text)
            
        if streetaddress is None:
            address.append(np.NaN)
        else:
            address.append(streetaddress.text)
            
        if typeofhome is None:
            typeofhouse.append(np.NaN)
        else:
            typeofhouse.append(typeofhome.text)
            
        if year is None:
            yearofmanufac.append(np.NaN)
        else:
            yearofmanufac.append(year.text)
            
        if priceofhouse is None:
            price.append(np.NaN)
        else:
            price.append(priceofhouse.text)
            
        
        if offerper is None:
            offer.append(np.NaN)
        else:
            offer.append(offerper.text)
        
        if bedbathsize is None:
            bedbathsizeinfo.append(np.NaN)
        else:
            bedbathsizeinfo.append(bedbathsize.text)
        pagenum.append(i)
    print('Page {} completed in {} seconds'.format(i, time.time()-start_time))
print("Total Time Completed in seconds"+str(time.time()-total_time))

Page 1 completed in 9.355788707733154 seconds
Page 2 completed in 5.606630325317383 seconds
Page 3 completed in 7.324753999710083 seconds
Page 4 completed in 3.5260238647460938 seconds
Page 5 completed in 2.7227654457092285 seconds
Page 6 completed in 2.668670177459717 seconds
Page 7 completed in 2.135378837585449 seconds
Page 8 completed in 3.5521366596221924 seconds
Page 9 completed in 3.839574098587036 seconds
Page 10 completed in 3.2596840858459473 seconds
Page 11 completed in 2.493171215057373 seconds
Page 12 completed in 2.5578668117523193 seconds
Page 13 completed in 2.667424440383911 seconds
Page 14 completed in 2.6952953338623047 seconds
Page 15 completed in 1.6740946769714355 seconds
Page 16 completed in 4.279534101486206 seconds
Page 17 completed in 2.861614465713501 seconds
Total Time Completed in seconds63.26836395263672

In [25]:
print(len(name))
print(len(address))
print(len(typeofhouse))
print(len(yearofmanufac))
print(len(price))
print(len(offer))
print(len(bedbathsizeinfo))

612
612
612
612
612
612
612

In [26]:
home_df = pd.DataFrame({'Name':name, 'Lane':address, 'Type_of_house': typeofhouse, 'Year_of_manufacture':yearofmanufac, 'PageNo': pagenum,\
                          'Price':price,'Offer':offer,'Bed_bath_sizeinfo':bedbathsizeinfo})

In [27]:
home_df

,Name,Lane,Type_of_house,Year_of_manufacture,PageNo,Price,Offer,Bed_bath_sizeinfo
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,Apartment,2010Freehold,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,Apartment,201999 years,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm"
2,4 Room HDB in 114 Edgefield Plains,NaN,HDB (4RM),200399 years,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm"
3,4 Bed House on Jalan Senang,Jln Senang,Terraced House,,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm"
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,Apartment,1996Freehold,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm"
...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,Condo,202899 years,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,Condo,2030Freehold,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm"
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,Condo,2026Freehold,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm"
610,3 Bed Condo in Riviere,1 Jiak Kim St,Condo,202399 years,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm"
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,Condo,202899 years,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm

In [28]:
home_df.isnull().sum()

Name                     0
Lane                   175
Type_of_house            1
Year_of_manufacture      0
PageNo                   0
Price                    0
Offer                   17
Bed_bath_sizeinfo        0
dtype: int64

In [29]:
home_df.duplicated().sum()

3

In [30]:
home_df.duplicated().value_counts()

False    609
True       3
dtype: int64

In [31]:
home_df["Name"].nunique()

533

In [32]:
home_df["Year_of_manufacture"].unique()

array(['2010Freehold', '201999 years', '200399 years', '', '1996Freehold',
       '2013Freehold', '201199 years', '2012Freehold', '201599 years',
       '201399 years', '1997Freehold', '2020Freehold', '201899 years',
       '2013999 years', '2009Freehold', '199799 years', 'Freehold',
       '199899 years', '197699 years', '2004', '201699 years',
       '200499 years', '202399 years', '201099 years', '2011Freehold',
       '200899 years', '1995Freehold', '198399 years', '1986Freehold',
       '202099 years', '197499 years', '197099 years', '99 years',
       '202599 years', '198799 years', '2008Freehold', '199999 years',
       '198499 years', '2017Freehold', '2024Freehold', '199399 years',
       '199499 years', '2023Freehold', '200799 years', '197999 years',
       '1990999 years', '2015Freehold', '201499 years', '201799 years',
       '2016Freehold', '200199 years', '1999Freehold', '199699 years',
       '197899 years', '198599 years', '198999 years', '197599 years',
       '2018Freehold', '202199 years', '198199 years', '2002999 years',
       '196999 years', '202499 years', '201299 years', '2005Freehold',
       '202299 years', '1998Freehold', '198099 years', '2014Freehold',
       '2004Freehold', '1980Freehold', '198299 years', '200099 years',
       '1970999 years', '1978Freehold', '200999 years', '2015999 years',
       '198899 years', '2018999 years', '2019Freehold', '2014999 years',
       '196799 years', '1977Freehold', '1984Freehold', '200299 years',
       '1993100 years', '2010999 years', '2022Freehold', '1983Freehold',
       '197799 years', '1989Freehold', '199299 years', '2003Freehold',
       '1993Freehold', '2011999 years', '2007Freehold', '2010946 years',
       '2012999 years', '197299 years', '1990Freehold', '198699 years',
       '2010103 years', '1992999 years', '202799 years', '202699 years',
       '197199 years', '2016999 years', '1981999 years', '1994Freehold',
       '2000Freehold', '2002Freehold', '956 years', '999 years',
       '197399 years', '2025Freehold', '1992Freehold', '2030Freehold',
       '202999 years', '202899 years', '2026Freehold'], dtype=object)

In [33]:
#Regex Year_of_manufacture
re.findall(r"\d{4}", home_df["Year_of_manufacture"][500])

['2016']

In [34]:
home_df["Year_of_manufacture"]

0      2010Freehold
1      201999 years
2      200399 years
3
4      1996Freehold
           ...
607    202899 years
608    2030Freehold
609    2026Freehold
610    202399 years
611    202899 years
Name: Year_of_manufacture, Length: 612, dtype: object

In [35]:
home_df["Year_of_Manufacture"] = home_df["Year_of_manufacture"].apply(lambda x: re.findall(r"\d{4}", x)[0] if re.findall(r"\d{4}", x) else None)

In [36]:
home_df

,Name,Lane,Type_of_house,Year_of_manufacture,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,Apartment,2010Freehold,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,Apartment,201999 years,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019
2,4 Room HDB in 114 Edgefield Plains,NaN,HDB (4RM),200399 years,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003
3,4 Bed House on Jalan Senang,Jln Senang,Terraced House,,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,Apartment,1996Freehold,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996
...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,Condo,202899 years,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,Condo,2030Freehold,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,Condo,2026Freehold,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026
610,3 Bed Condo in Riviere,1 Jiak Kim St,Condo,202399 years,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,Condo,202899 years,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028

In [37]:
home_df

,Name,Lane,Type_of_house,Year_of_manufacture,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,Apartment,2010Freehold,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,Apartment,201999 years,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019
2,4 Room HDB in 114 Edgefield Plains,NaN,HDB (4RM),200399 years,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003
3,4 Bed House on Jalan Senang,Jln Senang,Terraced House,,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,Apartment,1996Freehold,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996
...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,Condo,202899 years,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,Condo,2030Freehold,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,Condo,2026Freehold,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026
610,3 Bed Condo in Riviere,1 Jiak Kim St,Condo,202399 years,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,Condo,202899 years,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028

In [38]:
# Regex for freehold
freehold = re.findall(r"Freehold$",home_df["Year_of_manufacture"][0])

In [39]:
freehold

['Freehold']

In [40]:
# Regex for 99 years
yearsoffreehold = re.findall(r"\b99 years\b",home_df["Year_of_manufacture"][3])

In [41]:
yearsoffreehold

[]

In [42]:
home_df["Lease_period"] = home_df["Year_of_manufacture"].apply(lambda x: re.findall(r"99 years", x)[0] if re.findall(r"99 years", x) else "Freehold")

In [43]:
home_df["Lease_period"].value_counts()

99 years    428
Freehold    184
Name: Lease_period, dtype: int64

In [44]:
home_df.drop(columns="Year_of_manufacture", axis=1, inplace=True)

In [45]:
home_df

,Name,Lane,Type_of_house,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,Apartment,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,Apartment,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years
2,4 Room HDB in 114 Edgefield Plains,NaN,HDB (4RM),1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years
3,4 Bed House on Jalan Senang,Jln Senang,Terraced House,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,Apartment,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold
...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,Condo,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,Condo,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,Condo,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold
610,3 Bed Condo in Riviere,1 Jiak Kim St,Condo,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,Condo,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years

In [46]:
home_df["Type_of_house"].value_counts()

Condo                 219
Apartment             134
HDB (4A)               43
HDB (5I)               31
Exec Condo             22
Semi-D                 17
Bungalow               14
HDB                    13
Terraced House         11
HDB (5A)                9
HDB (3NG)               9
HDB (3I)                9
Corner Terrace          9
HDB (3A)                8
HDB (EM)                7
HDB (EA)                7
HDB (4RM)               7
HDB (4NG)               5
Cluster House           5
HDB (3RM)               5
HDB (3STD)              4
HDB (4I)                3
HDB (4S)                3
HDB (2RM)               2
Conservation House      2
HDB (4RM Premium)       2
Freehold                2
HDB (2A)                2
HDB (5RM Premium)       1
HDB (Multi-gen)         1
HDB (4RM Jumbo)         1
HDB (2STD)              1
HDB (1RM)               1
HDB (5RM)               1
2013                    1
Name: Type_of_house, dtype: int64

In [47]:
regex = re.sub(r"(?:\d{4,6} years)","",home_df["Type_of_house"][0])

In [48]:
regex

'Apartment'

In [49]:
regex = re.sub(r"(?:\d{4,6} years|\d{4}Freehold)","",home_df["Type_of_house"][100])

In [50]:
regex

'Apartment'

In [51]:
regex = re.sub(r"(?:\d{4,6} years|\d{4}Freehold)","",home_df["Type_of_house"][294])

In [52]:
regex

'HDB (4A)'

In [53]:
home_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 612 non-null    object
 1   Lane                 437 non-null    object
 2   Type_of_house        611 non-null    object
 3   PageNo               612 non-null    int64
 4   Price                612 non-null    object
 5   Offer                595 non-null    object
 6   Bed_bath_sizeinfo    612 non-null    object
 7   Year_of_Manufacture  570 non-null    object
 8   Lease_period         612 non-null    object
dtypes: int64(1), object(8)
memory usage: 43.2+ KB

In [54]:
home_df["Type_of_home"] = home_df["Type_of_house"].str.replace('99 years','')

In [55]:
home_df["Type_of_home"] = home_df["Type_of_house"].str.replace('\d{4,8}Freehold','').str.replace('\d{0,8} years','').str.replace('Freehold','').str.replace('\d{4}','')

C:\Users\65866\AppData\Local\Temp\ipykernel_16308\545641701.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  home_df["Type_of_home"] = home_df["Type_of_house"].str.replace('\d{4,8}Freehold','').str.replace('\d{0,8} years','').str.replace('Freehold','').str.replace('\d{4}','')

In [56]:
home_df["Type_of_home"].value_counts()

Condo                 219
Apartment             134
HDB (4A)               43
HDB (5I)               31
Exec Condo             22
Semi-D                 17
Bungalow               14
HDB                    13
Terraced House         11
HDB (5A)                9
HDB (3NG)               9
Corner Terrace          9
HDB (3I)                9
HDB (3A)                8
HDB (EM)                7
HDB (4RM)               7
HDB (EA)                7
HDB (3RM)               5
Cluster House           5
HDB (4NG)               5
HDB (3STD)              4
HDB (4I)                3
                        3
HDB (4S)                3
HDB (2RM)               2
HDB (4RM Premium)       2
Conservation House      2
HDB (2A)                2
HDB (5RM Premium)       1
HDB (Multi-gen)         1
HDB (4RM Jumbo)         1
HDB (2STD)              1
HDB (1RM)               1
HDB (5RM)               1
Name: Type_of_home, dtype: int64

In [57]:
home_df

,Name,Lane,Type_of_house,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,Apartment,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,Apartment,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment
2,4 Room HDB in 114 Edgefield Plains,NaN,HDB (4RM),1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM)
3,4 Bed House on Jalan Senang,Jln Senang,Terraced House,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,Apartment,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment
...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,Condo,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,Condo,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,Condo,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo
610,3 Bed Condo in Riviere,1 Jiak Kim St,Condo,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,Condo,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo

In [58]:
home_df.drop(columns="Type_of_house", axis=1, inplace=True)

In [59]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM)
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment
...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo

In [60]:
home_df["Bed_bath_sizeinfo"]

0         2 Beds2 Baths872 sqft / 81.01 sqm
1      4 Beds3 Baths1,173 sqft / 108.98 sqm
2      4 Beds2 Baths1,400 sqft / 130.06 sqm
3      4 Beds4 Baths1,760 sqft / 163.51 sqm
4      3 Beds3 Baths1,432 sqft / 133.04 sqm
                       ...
607       2 Beds2 Baths710 sqft / 65.96 sqm
608    4 Beds5 Baths2,067 sqft / 192.03 sqm
609    4 Beds4 Baths1,313 sqft / 121.98 sqm
610    3 Beds2 Baths1,173 sqft / 108.98 sqm
611       3 Beds2 Baths926 sqft / 86.03 sqm
Name: Bed_bath_sizeinfo, Length: 612, dtype: object

In [61]:
home_df["Offer"]

0      $1,606 psf
1      $1,321 psf
2        $536 psf
3      $2,273 psf
4      $1,536 psf
          ...
607    $1,900 psf
608    $2,945 psf
609    $2,497 psf
610    $2,477 psf
611    $2,100 psf
Name: Offer, Length: 612, dtype: object

In [62]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM)
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment
...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo

In [63]:
home_df["Bed_bath_sizeinfo"].unique()

array(['2 Beds2 Baths872 sqft / 81.01 sqm',
       '4 Beds3 Baths1,173 sqft / 108.98 sqm',
       '4 Beds2 Baths1,400 sqft / 130.06 sqm',
       '4 Beds4 Baths1,760 sqft / 163.51 sqm',
       '3 Beds3 Baths1,432 sqft / 133.04 sqm',
       '3 Beds2 Baths947 sqft / 87.98 sqm',
       '3 Beds3 Baths1,830 sqft / 170.01 sqm',
       '3 Beds4 Baths2,756 sqft / 256.04 sqm',
       '3 Beds3 Baths1,249 sqft / 116.04 sqm',
       '3 Beds2 Baths1,001 sqft / 93 sqm',
       '3 Beds4 Baths3,875 sqft / 360 sqm',
       '3 Beds3 Baths1,550 sqft / 144 sqm',
       '3 Beds2 Baths818 sqft / 75.99 sqm',
       '4 Beds2 Baths1,291 sqft / 119.94 sqm',
       '5 Beds6 Baths2,160 sqft / 200.67 sqm',
       '1 Bed1 Bath505 sqft / 46.92 sqm',
       '2 Beds2 Baths840 sqft / 78.04 sqm',
       '3 Beds2 Baths1,076 sqft / 99.96 sqm',
       '4 Beds5 Baths1,551 sqft / 144.09 sqm',
       '3 Beds2 Baths1,109 sqft / 103.03 sqm',
       '4 Beds2 Baths1,098 sqft / 102.01 sqm',
       '3 Beds1 Bath699 sqft / 64.94 sqm',
       '4 Beds3 Baths1,507 sqft / 140 sqm',
       '3 Beds2 Baths990 sqft / 91.97 sqm',
       '3 Beds3 Baths1,183 sqft / 109.9 sqm',
       '1 Bed1 Bath495 sqft / 45.99 sqm',
       '3 Beds3 Baths2,433 sqft / 226.03 sqm',
       '2 Beds1 Bath807 sqft / 74.97 sqm',
       '4 Beds5 Baths3,735 sqft / 346.99 sqm',
       '2 Beds2 Baths980 sqft / 91.04 sqm',
       '4 Beds4 Baths2,272 sqft / 211.08 sqm',
       '3 Beds2 Baths960 sqft / 89.19 sqm',
       '2 Beds2 Baths936 sqft / 86.96 sqm',
       '3 Beds2 Baths1,044 sqft / 96.99 sqm',
       '5 Beds4 Baths3,755 sqft / 348.85 sqm',
       '4 Beds3 Baths2,195 sqft / 203.92 sqm',
       '3 Beds2 Baths936 sqft / 86.96 sqm',
       '2 Beds2 Baths635 sqft / 58.99 sqm',
       '2 Beds2 Baths775 sqft / 72 sqm',
       '2 Beds2 Baths731 sqft / 67.91 sqm',
       '2 Beds2 Baths667 sqft / 61.97 sqm',
       '3 Beds3 Baths1,539 sqft / 142.98 sqm',
       '2 Beds1 Bath635 sqft / 58.99 sqm',
       '2 Beds2 Baths764 sqft / 70.98 sqm',
       '3 Beds2 Baths1,216 sqft / 112.97 sqm',
       '3 Beds2 Baths1,302 sqft / 120.96 sqm',
       '1 Bath474 sqft / 44.04 sqm',
       '3 Beds2 Baths1,291 sqft / 119.94 sqm',
       '3 Beds2 Baths1,431 sqft / 132.94 sqm',
       '3 Beds2 Baths1,012 sqft / 94.02 sqm',
       '1 Bed1 Bath592 sqft / 55 sqm',
       '2 Beds2 Baths624 sqft / 57.97 sqm',
       '3 Beds2 Baths1,087 sqft / 100.99 sqm',
       '2 Beds2 Baths947 sqft / 87.98 sqm',
       '3 Beds3 Baths1,572 sqft / 146.04 sqm',
       '3 Beds2 Baths1,152 sqft / 107.02 sqm',
       '5 Beds4 Baths1,819 sqft / 168.99 sqm',
       '1 Bed2 Baths786 sqft / 73.02 sqm',
       '3 Beds2 Baths777 sqft / 72.19 sqm',
       '3 Beds3 Baths2,239 sqft / 208.01 sqm',
       '2 Beds2 Baths861 sqft / 79.99 sqm',
       '3 Beds3 Baths1,281 sqft / 119.01 sqm',
       '2 Beds2 Baths678 sqft / 62.99 sqm',
       '3 Beds3 Baths1,023 sqft / 95.04 sqm',
       '1 Bed1 Bath581 sqft / 53.98 sqm',
       '3 Beds3 Baths1,184 sqft / 110 sqm',
       '4 Beds5 Baths7,709 sqft / 716.19 sqm',
       '3 Beds3 Baths1,561 sqft / 145.02 sqm',
       '2 Beds1 Bath538 sqft / 49.98 sqm',
       '3 Beds3 Baths1,872 sqft / 173.91 sqm',
       '2 Beds2 Baths850 sqft / 78.97 sqm',
       '3 Beds2 Baths1,183 sqft / 109.9 sqm',
       '4 Beds2 Baths1,593 sqft / 147.99 sqm',
       '4 Beds3 Baths1,550 sqft / 144 sqm',
       '2 Beds2 Baths753 sqft / 69.96 sqm',
       '2 Beds2 Baths721 sqft / 66.98 sqm',
       '3 Beds2 Baths915 sqft / 85.01 sqm',
       '3 Beds3 Baths1,001 sqft / 93 sqm',
       '4 Beds5 Baths3,973 sqft / 369.1 sqm',
       '3 Beds2 Baths904 sqft / 83.98 sqm',
       '2 Beds2 Baths603 sqft / 56.02 sqm',
       '6 Beds6 Baths4,250 sqft / 394.84 sqm',
       '3 Beds2 Baths103 sqft / 9.57 sqm',
       '2 Beds2 Baths990 sqft / 91.97 sqm',
       '4 Beds3 Baths2,441 sqft / 226.78 sqm',
       '2 Beds2 Baths1,119 sqft / 103.96 sqm',
       '2 Beds3 Baths872 sqft / 81.01 sqm',
       '2 Beds2 Baths699 sqft / 64.94 sqm',
       '2 Beds2 Baths646 sqft / 60.02 sqm',
       '6 Beds6 Baths1,396 sqft / 129.69 sqm',
       '6 Beds6 Baths9,138 sqft / 848.95 sqm',
       '3 Beds3 Baths1,313 sqft / 121.98 sqm',
       '2 Beds2 Baths785 sqft / 72.93 sqm',
       '2 Beds1 Bath603 sqft / 56.02 sqm',
       '6 Beds5 Baths3,282 sqft / 304.91 sqm',
       '2 Beds2 Baths807 sqft / 74.97 sqm',
       '4 Beds5 Baths5,231 sqft / 485.98 sqm',
       '5 Beds5 Baths3,294 sqft / 306.02 sqm',
       '3 Beds2 Baths2,271 sqft / 210.98 sqm',
       '5 Beds4 Baths3,369 sqft / 312.99 sqm',
       '3 Beds3 Baths1,528 sqft / 141.96 sqm',
       '4 Beds4 Baths1,927 sqft / 179.02 sqm',
       '3 Beds2 Baths1,237 sqft / 114.92 sqm',
       '3 Beds2 Baths893 sqft / 82.96 sqm',
       '2 Beds2 Baths656 sqft / 60.94 sqm',
       '1 Bed1 Bath560 sqft / 52.03 sqm',
       '2 Beds2 Baths1,539 sqft / 142.98 sqm',
       '3 Beds3 Baths1,076 sqft / 99.96 sqm', '5 Beds4 Baths',
       '1 Bed1 Bath484 sqft / 44.97 sqm',
       '6 Beds5 Baths2,405 sqft / 223.43 sqm',
       '3 Beds3 Baths1,109 sqft / 103.03 sqm',
       '2 Beds2 Baths786 sqft / 73.02 sqm',
       '3 Beds2 Baths882 sqft / 81.94 sqm',
       '2 Beds2 Baths1,184 sqft / 110 sqm',
       '2 Beds1 Bath678 sqft / 62.99 sqm',
       '4 Beds2 Baths1,130 sqft / 104.98 sqm',
       '1 Bed1 Bath775 sqft / 72 sqm',
       '2 Beds2 Baths1,066 sqft / 99.03 sqm',
       '1 Bed1 Bath700 sqft / 65.03 sqm',
       '2 Beds2 Baths883 sqft / 82.03 sqm',
       '4 Beds2 Baths1,301 sqft / 120.87 sqm',
       '1 Bed2 Baths840 sqft / 78.04 sqm',
       '3 Beds2 Baths1,000 sqft / 92.9 sqm',
       '3 Beds2 Baths1,915 sqft / 177.91 sqm',
       '3 Beds2 Baths1,841 sqft / 171.03 sqm',
       '3 Beds3 Baths1,205 sqft / 111.95 sqm',
       '3 Beds2 Baths1,184 sqft / 110 sqm',
       '2 Beds2 Baths926 sqft / 86.03 sqm',
       '1 Bed2 Baths1,098 sqft / 102.01 sqm',
       '2 Beds2 Baths1,195 sqft / 111.02 sqm',
       '3 Beds2 Baths1,130 sqft / 104.98 sqm',
       '2 Beds2 Baths732 sqft / 68 sqm', '1 Bed1 Bath549 sqft / 51 sqm',
       '5 Beds5 Baths2,000 sqft / 185.81 sqm',
       '2 Beds2 Baths1,055 sqft / 98.01 sqm',
       '3 Beds3 Baths1,206 sqft / 112.04 sqm',
       '3 Beds2 Baths1,112 sqft / 103.31 sqm',
       '4 Beds4 Baths2,153 sqft / 200.02 sqm',
       '5 Beds4 Baths1,690 sqft / 157.01 sqm',
       '3 Beds3 Baths990 sqft / 91.97 sqm',
       '3 Beds2 Baths1,194 sqft / 110.93 sqm',
       '1 Bed1 Bath452 sqft / 41.99 sqm',
       '5 Beds4 Baths1,722 sqft / 159.98 sqm',
       '3 Beds2 Baths1,206 sqft / 112.04 sqm',
       '1 Bed2 Baths872 sqft / 81.01 sqm',
       '3 Beds2 Baths1,098 sqft / 102.01 sqm',
       '4 Beds3 Baths1,378 sqft / 128.02 sqm',
       '2 Beds1 Bath699 sqft / 64.94 sqm',
       '4 Beds3 Baths1,314 sqft / 122.07 sqm',
       '2 Beds1 Bath657 sqft / 61.04 sqm',
       '4 Beds4 Baths5,500 sqft / 510.97 sqm',
       '2 Beds1 Bath549 sqft / 51 sqm',
       '6 Beds4 Baths4,066 sqft / 377.74 sqm',
       '1 Bed1 Bath743 sqft / 69.03 sqm',
       '4 Beds2 Baths3,500 sqft / 325.16 sqm',
       '4 Beds4 Baths1,647 sqft / 153.01 sqm',
       '1 Bed1 Bath409 sqft / 38 sqm',
       '3 Beds4 Baths1,701 sqft / 158.03 sqm',
       '4 Beds4 Baths3,089 sqft / 286.98 sqm',
       '4 Beds2 Baths1,323 sqft / 122.91 sqm',
       '3 Beds3 Baths2,800 sqft / 260.13 sqm', '4 Beds5 Baths',
       '2 Beds1 Bath786 sqft / 73.02 sqm',
       '3 Beds3 Baths1,626 sqft / 151.06 sqm',
       '2 Beds1 Bath517 sqft / 48.03 sqm',
       '3 Beds3 Baths1,927 sqft / 179.02 sqm',
       '4 Beds4 Baths4,628 sqft / 429.96 sqm',
       '3 Beds2 Baths1,679 sqft / 155.98 sqm',
       '4 Beds4 Baths3,209 sqft / 298.13 sqm',
       '3 Beds2 Baths861 sqft / 79.99 sqm',
       '3 Beds3 Baths1,120 sqft / 104.05 sqm',
       '3 Beds3 Baths1,604 sqft / 149.02 sqm',
       '2 Beds2 Baths752 sqft / 69.86 sqm',
       '4 Beds6 Baths3,033 sqft / 281.77 sqm',
       '1 Bed1 Bath603 sqft / 56.02 sqm',
       '4 Beds3 Baths1,571 sqft / 145.95 sqm',
       '3 Beds2 Baths668 sqft / 62.06 sqm',
       '4 Beds3 Baths1,421 sqft / 132.02 sqm',
       '2 Beds2 Baths958 sqft / 89 sqm',
       '2 Beds2 Baths1,076 sqft / 99.96 sqm',
       '3 Beds3 Baths1,345 sqft / 124.95 sqm',
       '3 Beds2 Baths979 sqft / 90.95 sqm',
       '2 Beds2 Baths743 sqft / 69.03 sqm',
       '4 Beds6 Baths2,155 sqft / 200.21 sqm',
       '4 Beds2 Baths142 sqft / 13.19 sqm',
       '3 Beds3 Baths2,175 sqft / 202.06 sqm',
       '3 Beds3 Baths1,098 sqft / 102.01 sqm',
       '3 Beds2 Baths1,292 sqft / 120.03 sqm',
       '5 Beds4 Baths1,677 sqft / 155.8 sqm',
       '2 Beds2 Baths905 sqft / 84.08 sqm',
       '1 Bed1 Bath538 sqft / 49.98 sqm',
       '5 Beds4 Baths4,908 sqft / 455.97 sqm',
       '2 Beds2 Baths742 sqft / 68.93 sqm',
       '4 Beds2 Baths1,313 sqft / 121.98 sqm',
       '1 Bed1 Bath678 sqft / 62.99 sqm',
       '4 Beds3 Baths2,508 sqft / 233 sqm',
       '1 Bed1 Bath710 sqft / 65.96 sqm',
       '2 Beds1 Bath624 sqft / 57.97 sqm',
       '3 Beds2 Baths1,701 sqft / 158.03 sqm',
       '2 Beds2 Baths1,023 sqft / 95.04 sqm',
       '4 Beds2 Baths3,574 sqft / 332.04 sqm',
       '1 Bed1 Bath420 sqft / 39.02 sqm',
       '3 Beds3 Baths1,216 sqft / 112.97 sqm',
       '4 Beds2 Baths1,356 sqft / 125.98 sqm',
       '4 Beds3 Baths1,195 sqft / 111.02 sqm',
       '4 Beds2 Baths1,270 sqft / 117.99 sqm',
       '4 Beds2 Baths1,335 sqft / 124.03 sqm',
       '4 Beds2 Baths1,539 sqft / 142.98 sqm',
       '2 Beds1 Bath592 sqft / 55 sqm',
       '5 Beds5 Baths1,772 sqft / 164.62 sqm', '5 Beds6 Baths',
       '1 Bed1 Bath473 sqft / 43.94 sqm',
       '3 Beds4 Baths1,604 sqft / 149.02 sqm',
       '5 Beds5 Baths4,450 sqft / 413.42 sqm',
       '4 Beds3 Baths3,590 sqft / 333.52 sqm',
       '5 Beds5 Baths2,476 sqft / 230.03 sqm',
       '4 Beds4 Baths3,369 sqft / 312.99 sqm',
       '3 Beds4 Baths1,421 sqft / 132.02 sqm',
       '3 Beds1 Bath885 sqft / 82.22 sqm',
       '3 Beds2 Baths1,108 sqft / 102.94 sqm',
       '3 Beds3 Baths1,518 sqft / 141.03 sqm',
       '4 Beds3 Baths1,442 sqft / 133.97 sqm',
       '4 Beds2 Baths1,238 sqft / 115.01 sqm',
       '4 Beds4 Baths1,798 sqft / 167.04 sqm',
       '3 Beds3 Baths3,671 sqft / 341.05 sqm',
       '3 Beds2 Baths1,227 sqft / 113.99 sqm',
       '3 Beds2 Baths1,260 sqft / 117.06 sqm',
       '3 Beds2 Baths1,119 sqft / 103.96 sqm',
       '4 Beds3 Baths1,819 sqft / 168.99 sqm',
       '5 Beds5 Baths3,138 sqft / 291.53 sqm',
       '2 Beds1 Bath700 sqft / 65.03 sqm',
       '6 Beds7 Baths7,357 sqft / 683.49 sqm',
       '2 Beds2 Baths700 sqft / 65.03 sqm',
       '5 Beds4 Baths6,860 sqft / 637.31 sqm',
       '3 Beds2 Baths968 sqft / 89.93 sqm',
       '4 Beds3 Baths1,556 sqft / 144.56 sqm',
       '3 Beds2 Baths1,011 sqft / 93.92 sqm',
       '3 Beds3 Baths2,174 sqft / 201.97 sqm',
       '2 Beds3 Baths926 sqft / 86.03 sqm',
       '2 Beds2 Baths1,012 sqft / 94.02 sqm',
       '3 Beds2 Baths1,453 sqft / 134.99 sqm',
       '4 Beds3 Baths2,917 sqft / 271 sqm',
       '2 Beds2 Baths797 sqft / 74.04 sqm',
       '4 Beds2 Baths1,292 sqft / 120.03 sqm',
       '1 Bed1 Bath517 sqft / 48.03 sqm',
       '5 Beds6 Baths6,663 sqft / 619.01 sqm',
       '4 Beds3 Baths2,435 sqft / 226.22 sqm',
       '5 Beds3 Baths3,206 sqft / 297.85 sqm',
       '4 Beds4 Baths2,432 sqft / 225.94 sqm',
       '3 Beds3 Baths1,130 sqft / 104.98 sqm',
       '3 Beds3 Baths1,851 sqft / 171.96 sqm',
       '1 Bed1 Bath463 sqft / 43.01 sqm',
       '1 Bed1 Bath462 sqft / 42.92 sqm',
       '3 Beds3 Baths1,356 sqft / 125.98 sqm',
       '3 Beds2 Baths1,870 sqft / 173.73 sqm',
       '2 Beds2 Baths969 sqft / 90.02 sqm',
       '4 Beds3 Baths2,174 sqft / 201.97 sqm',
       '4 Beds5 Baths3,789 sqft / 352.01 sqm',
       '2 Beds3 Baths1,496 sqft / 138.98 sqm',
       '4 Beds4 Baths1,998 sqft / 185.62 sqm',
       '3 Beds4 Baths2,270 sqft / 210.89 sqm',
       '2 Beds2 Baths710 sqft / 65.96 sqm',
       '4 Beds4 Baths4,860 sqft / 451.51 sqm',
       '2 Beds2 Baths689 sqft / 64.01 sqm',
       '6 Beds5 Baths9,042 sqft / 840.03 sqm',
       '3 Beds3 Baths2,700 sqft / 250.84 sqm',
       '5 Beds6 Baths2,203 sqft / 204.67 sqm',
       '3 Beds5 Baths2,013 sqft / 187.01 sqm',
       '2 Beds2 Baths1,249 sqft / 116.04 sqm',
       '1 Bath527 sqft / 48.96 sqm',
       '3 Beds3 Baths1,625 sqft / 150.97 sqm',
       '3 Beds2 Baths969 sqft / 90.02 sqm',
       '3 Beds4 Baths1,679 sqft / 155.98 sqm',
       '3 Beds3 Baths1,141 sqft / 106 sqm',
       '4 Beds3 Baths1,488 sqft / 138.24 sqm',
       '1 Bed1 Bath861 sqft / 79.99 sqm',
       '3 Beds2 Baths1,280 sqft / 118.92 sqm',
       '9 Beds9 Baths4,315 sqft / 400.88 sqm',
       '3 Beds2 Baths1,399 sqft / 129.97 sqm',
       '3 Beds2 Baths1,345 sqft / 124.95 sqm',
       '3 Beds2 Baths850 sqft / 78.97 sqm',
       '2 Beds2 Baths1,302 sqft / 120.96 sqm',
       '1 Bed1 Bath430 sqft / 39.95 sqm',
       '3 Beds2 Baths1,195 sqft / 111.02 sqm',
       '5 Beds4 Baths3,263 sqft / 303.14 sqm',
       '1 Bed1 Bath635 sqft / 58.99 sqm',
       '4 Beds4 Baths3,810 sqft / 353.96 sqm',
       '5 Beds5 Baths3,132 sqft / 290.97 sqm',
       '3 Beds3 Baths1,485 sqft / 137.96 sqm',
       '3 Beds4 Baths1,475 sqft / 137.03 sqm', '1 Bath732 sqft / 68 sqm',
       '4 Beds3 Baths1,572 sqft / 146.04 sqm',
       '6 Beds6 Baths6,445 sqft / 598.76 sqm',
       '2 Beds1 Bath645 sqft / 59.92 sqm',
       '2 Beds2 Baths1,033 sqft / 95.97 sqm',
       '1 Bed1 Bath667 sqft / 61.97 sqm',
       '5 Beds5 Baths1,746 sqft / 162.21 sqm',
       '5 Beds6 Baths2,475 sqft / 229.93 sqm',
       '2 Beds2 Baths1,173 sqft / 108.98 sqm',
       '4 Beds4 Baths1,874 sqft / 174.1 sqm',
       '2 Beds2 Baths1,044 sqft / 96.99 sqm',
       '2 Beds3 Baths808 sqft / 75.07 sqm',
       '3 Beds3 Baths1,959 sqft / 182 sqm', '1 Bath431 sqft / 40.04 sqm',
       '2 Beds2 Baths818 sqft / 75.99 sqm',
       '4 Beds4 Baths1,658 sqft / 154.03 sqm',
       '6 Beds7 Baths8,385 sqft / 778.99 sqm',
       '2 Beds2 Baths893 sqft / 82.96 sqm',
       '3 Beds2 Baths113 sqft / 10.5 sqm',
       '2 Beds1 Bath1,130 sqft / 104.98 sqm',
       '5 Beds5 Baths6,458 sqft / 599.97 sqm',
       '4 Beds4 Baths1,300 sqft / 120.77 sqm',
       '3 Beds2 Baths1,840 sqft / 170.94 sqm',
       '3 Beds3 Baths1,324 sqft / 123 sqm',
       '6 Beds8 Baths4,150 sqft / 385.55 sqm',
       '3 Beds3 Baths1,227 sqft / 113.99 sqm',
       '4 Beds3 Baths1,776 sqft / 165 sqm',
       '3 Beds2 Baths1,249 sqft / 116.04 sqm',
       '4 Beds5 Baths3,358 sqft / 311.97 sqm',
       '2 Beds3 Baths1,012 sqft / 94.02 sqm',
       '4 Beds4 Baths2,713 sqft / 252.05 sqm',
       '4 Beds5 Baths3,778 sqft / 350.99 sqm',
       '4 Beds2 Baths1,572 sqft / 146.04 sqm',
       '4 Beds2 Baths1,600 sqft / 148.64 sqm',
       '3 Beds2 Baths1,356 sqft / 125.98 sqm',
       '3 Beds2 Baths1,281 sqft / 119.01 sqm',
       '1 Bed1 Bath1,281 sqft / 119.01 sqm',
       '4 Beds4 Baths2,303 sqft / 213.96 sqm',
       '3 Beds3 Baths1,421 sqft / 132.02 sqm',
       '4 Beds5 Baths6,200 sqft / 576 sqm',
       '6 Beds5 Baths3,285 sqft / 305.19 sqm',
       '4 Beds2 Baths1,216 sqft / 112.97 sqm',
       '3 Beds4 Baths2,045 sqft / 189.99 sqm',
       '4 Beds4 Baths2,723 sqft / 252.97 sqm',
       '2 Beds1 Bath646 sqft / 60.02 sqm',
       '1 Bed1 Bath398 sqft / 36.98 sqm',
       '3 Beds3 Baths3,240 sqft / 301.01 sqm',
       '6 Beds7 Baths9,600 sqft / 891.87 sqm',
       '4 Beds2 Baths1,475 sqft / 137.03 sqm',
       '4 Beds2 Baths1,324 sqft / 123 sqm',
       '3 Beds2 Baths1,744 sqft / 162.02 sqm',
       '4 Beds2 Baths1,496 sqft / 138.98 sqm',
       '7 Beds8 Baths3,465 sqft / 321.91 sqm',
       '2 Beds1 Bath797 sqft / 74.04 sqm',
       '4 Beds2 Baths1,281 sqft / 119.01 sqm',
       '1 Bed1 Bath840 sqft / 78.04 sqm',
       '3 Beds3 Baths1,636 sqft / 151.99 sqm',
       '2 Beds2 Baths1,270 sqft / 117.99 sqm',
       '5 Beds6 Baths4,402 sqft / 408.96 sqm',
       '4 Beds2 Baths1,280 sqft / 118.92 sqm',
       '3 Beds2 Baths1,173 sqft / 108.98 sqm',
       '3 Beds2 Baths1,313 sqft / 121.98 sqm',
       '4 Beds4 Baths1,970 sqft / 183.02 sqm',
       '5 Beds5 Baths7,973 sqft / 740.72 sqm',
       '7 Beds5 Baths3,342 sqft / 310.48 sqm',
       '2 Beds1 Bath581 sqft / 53.98 sqm',
       '3 Beds2 Baths1,205 sqft / 111.95 sqm',
       '5 Beds4 Baths5,000 sqft / 464.51 sqm',
       '4 Beds2 Baths1,001 sqft / 93 sqm',
       '2 Beds1 Bath689 sqft / 64.01 sqm',
       '4 Beds3 Baths1,270 sqft / 117.99 sqm',
       '2 Beds2 Baths904 sqft / 83.98 sqm',
       '6 Beds6 Baths7,037 sqft / 653.76 sqm',
       '1 Bed1 Bath656 sqft / 60.94 sqm',
       '2 Beds2 Baths1,421 sqft / 132.02 sqm',
       '6 Beds6 Baths5,700 sqft / 529.55 sqm',
       '2 Beds3 Baths1,830 sqft / 170.01 sqm',
       '4 Beds4 Baths1,302 sqft / 120.96 sqm',
       '3 Beds3 Baths2,261 sqft / 210.05 sqm',
       '5 Beds6 Baths5,612 sqft / 521.37 sqm',
       '1 Bath344 sqft / 31.96 sqm',
       '7 Beds8 Baths4,358 sqft / 404.87 sqm',
       '3 Beds1 Bath656 sqft / 60.94 sqm',
       '10 Beds10 Baths8,000 sqft / 743.22 sqm',
       '2 Beds2 Baths1,141 sqft / 106 sqm',
       '2 Beds1 Bath602 sqft / 55.93 sqm',
       '3 Beds2 Baths980 sqft / 91.04 sqm',
       '4 Beds3 Baths1,313 sqft / 121.98 sqm',
       '4 Beds3 Baths3,782 sqft / 351.36 sqm',
       '3 Beds2 Baths3,638 sqft / 337.98 sqm',
       '5 Beds5 Baths3,123 sqft / 290.14 sqm',
       '5 Beds3 Baths6,469 sqft / 600.99 sqm',
       '2 Beds1 Bath1,410 sqft / 130.99 sqm',
       '5 Beds4 Baths4,380 sqft / 406.92 sqm',
       '2 Beds1 Bath753 sqft / 69.96 sqm',
       '4 Beds4 Baths1,690 sqft / 157.01 sqm',
       '4 Beds4 Baths1,345 sqft / 124.95 sqm',
       '1 Bed1 Bath527 sqft / 48.96 sqm',
       '4 Beds4 Baths1,518 sqft / 141.03 sqm',
       '4 Beds2 Baths12,960 sqft / 1,204.02 sqm',
       '1 Bed2 Baths581 sqft / 53.98 sqm',
       '4 Beds4 Baths1,399 sqft / 129.97 sqm',
       '4 Beds3 Baths1,292 sqft / 120.03 sqm',
       '4 Beds5 Baths2,067 sqft / 192.03 sqm',
       '4 Beds4 Baths1,313 sqft / 121.98 sqm',
       '3 Beds2 Baths926 sqft / 86.03 sqm'], dtype=object)

In [64]:
# Regex Beds
regex = re.findall(r"\d{1} Beds", home_df["Bed_bath_sizeinfo"][0])

In [65]:
regex

['2 Beds']

In [66]:
home_df["Bed_bath_sizeinfo"].apply(lambda x:re.findall(r"\d{1} Beds",x)[0] if re.findall(r"\d{1} Beds", x) else None)

0      2 Beds
1      4 Beds
2      4 Beds
3      4 Beds
4      3 Beds
        ...
607    2 Beds
608    4 Beds
609    4 Beds
610    3 Beds
611    3 Beds
Name: Bed_bath_sizeinfo, Length: 612, dtype: object

In [67]:
home_df["No_of_Bedrooms"] = home_df["Bed_bath_sizeinfo"].apply(lambda x:re.findall(r"\d{1} Beds",x)[0] if re.findall(r"\d{1} Beds", x) else None)

In [68]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2 Beds
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4 Beds
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4 Beds
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House,4 Beds
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3 Beds
...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2 Beds
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4 Beds
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4 Beds
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3 Beds
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3 Beds

In [69]:
home_df["Bed_bath_sizeinfo"].unique()

array(['2 Beds2 Baths872 sqft / 81.01 sqm',
       '4 Beds3 Baths1,173 sqft / 108.98 sqm',
       '4 Beds2 Baths1,400 sqft / 130.06 sqm',
       '4 Beds4 Baths1,760 sqft / 163.51 sqm',
       '3 Beds3 Baths1,432 sqft / 133.04 sqm',
       '3 Beds2 Baths947 sqft / 87.98 sqm',
       '3 Beds3 Baths1,830 sqft / 170.01 sqm',
       '3 Beds4 Baths2,756 sqft / 256.04 sqm',
       '3 Beds3 Baths1,249 sqft / 116.04 sqm',
       '3 Beds2 Baths1,001 sqft / 93 sqm',
       '3 Beds4 Baths3,875 sqft / 360 sqm',
       '3 Beds3 Baths1,550 sqft / 144 sqm',
       '3 Beds2 Baths818 sqft / 75.99 sqm',
       '4 Beds2 Baths1,291 sqft / 119.94 sqm',
       '5 Beds6 Baths2,160 sqft / 200.67 sqm',
       '1 Bed1 Bath505 sqft / 46.92 sqm',
       '2 Beds2 Baths840 sqft / 78.04 sqm',
       '3 Beds2 Baths1,076 sqft / 99.96 sqm',
       '4 Beds5 Baths1,551 sqft / 144.09 sqm',
       '3 Beds2 Baths1,109 sqft / 103.03 sqm',
       '4 Beds2 Baths1,098 sqft / 102.01 sqm',
       '3 Beds1 Bath699 sqft / 64.94 sqm',
       '4 Beds3 Baths1,507 sqft / 140 sqm',
       '3 Beds2 Baths990 sqft / 91.97 sqm',
       '3 Beds3 Baths1,183 sqft / 109.9 sqm',
       '1 Bed1 Bath495 sqft / 45.99 sqm',
       '3 Beds3 Baths2,433 sqft / 226.03 sqm',
       '2 Beds1 Bath807 sqft / 74.97 sqm',
       '4 Beds5 Baths3,735 sqft / 346.99 sqm',
       '2 Beds2 Baths980 sqft / 91.04 sqm',
       '4 Beds4 Baths2,272 sqft / 211.08 sqm',
       '3 Beds2 Baths960 sqft / 89.19 sqm',
       '2 Beds2 Baths936 sqft / 86.96 sqm',
       '3 Beds2 Baths1,044 sqft / 96.99 sqm',
       '5 Beds4 Baths3,755 sqft / 348.85 sqm',
       '4 Beds3 Baths2,195 sqft / 203.92 sqm',
       '3 Beds2 Baths936 sqft / 86.96 sqm',
       '2 Beds2 Baths635 sqft / 58.99 sqm',
       '2 Beds2 Baths775 sqft / 72 sqm',
       '2 Beds2 Baths731 sqft / 67.91 sqm',
       '2 Beds2 Baths667 sqft / 61.97 sqm',
       '3 Beds3 Baths1,539 sqft / 142.98 sqm',
       '2 Beds1 Bath635 sqft / 58.99 sqm',
       '2 Beds2 Baths764 sqft / 70.98 sqm',
       '3 Beds2 Baths1,216 sqft / 112.97 sqm',
       '3 Beds2 Baths1,302 sqft / 120.96 sqm',
       '1 Bath474 sqft / 44.04 sqm',
       '3 Beds2 Baths1,291 sqft / 119.94 sqm',
       '3 Beds2 Baths1,431 sqft / 132.94 sqm',
       '3 Beds2 Baths1,012 sqft / 94.02 sqm',
       '1 Bed1 Bath592 sqft / 55 sqm',
       '2 Beds2 Baths624 sqft / 57.97 sqm',
       '3 Beds2 Baths1,087 sqft / 100.99 sqm',
       '2 Beds2 Baths947 sqft / 87.98 sqm',
       '3 Beds3 Baths1,572 sqft / 146.04 sqm',
       '3 Beds2 Baths1,152 sqft / 107.02 sqm',
       '5 Beds4 Baths1,819 sqft / 168.99 sqm',
       '1 Bed2 Baths786 sqft / 73.02 sqm',
       '3 Beds2 Baths777 sqft / 72.19 sqm',
       '3 Beds3 Baths2,239 sqft / 208.01 sqm',
       '2 Beds2 Baths861 sqft / 79.99 sqm',
       '3 Beds3 Baths1,281 sqft / 119.01 sqm',
       '2 Beds2 Baths678 sqft / 62.99 sqm',
       '3 Beds3 Baths1,023 sqft / 95.04 sqm',
       '1 Bed1 Bath581 sqft / 53.98 sqm',
       '3 Beds3 Baths1,184 sqft / 110 sqm',
       '4 Beds5 Baths7,709 sqft / 716.19 sqm',
       '3 Beds3 Baths1,561 sqft / 145.02 sqm',
       '2 Beds1 Bath538 sqft / 49.98 sqm',
       '3 Beds3 Baths1,872 sqft / 173.91 sqm',
       '2 Beds2 Baths850 sqft / 78.97 sqm',
       '3 Beds2 Baths1,183 sqft / 109.9 sqm',
       '4 Beds2 Baths1,593 sqft / 147.99 sqm',
       '4 Beds3 Baths1,550 sqft / 144 sqm',
       '2 Beds2 Baths753 sqft / 69.96 sqm',
       '2 Beds2 Baths721 sqft / 66.98 sqm',
       '3 Beds2 Baths915 sqft / 85.01 sqm',
       '3 Beds3 Baths1,001 sqft / 93 sqm',
       '4 Beds5 Baths3,973 sqft / 369.1 sqm',
       '3 Beds2 Baths904 sqft / 83.98 sqm',
       '2 Beds2 Baths603 sqft / 56.02 sqm',
       '6 Beds6 Baths4,250 sqft / 394.84 sqm',
       '3 Beds2 Baths103 sqft / 9.57 sqm',
       '2 Beds2 Baths990 sqft / 91.97 sqm',
       '4 Beds3 Baths2,441 sqft / 226.78 sqm',
       '2 Beds2 Baths1,119 sqft / 103.96 sqm',
       '2 Beds3 Baths872 sqft / 81.01 sqm',
       '2 Beds2 Baths699 sqft / 64.94 sqm',
       '2 Beds2 Baths646 sqft / 60.02 sqm',
       '6 Beds6 Baths1,396 sqft / 129.69 sqm',
       '6 Beds6 Baths9,138 sqft / 848.95 sqm',
       '3 Beds3 Baths1,313 sqft / 121.98 sqm',
       '2 Beds2 Baths785 sqft / 72.93 sqm',
       '2 Beds1 Bath603 sqft / 56.02 sqm',
       '6 Beds5 Baths3,282 sqft / 304.91 sqm',
       '2 Beds2 Baths807 sqft / 74.97 sqm',
       '4 Beds5 Baths5,231 sqft / 485.98 sqm',
       '5 Beds5 Baths3,294 sqft / 306.02 sqm',
       '3 Beds2 Baths2,271 sqft / 210.98 sqm',
       '5 Beds4 Baths3,369 sqft / 312.99 sqm',
       '3 Beds3 Baths1,528 sqft / 141.96 sqm',
       '4 Beds4 Baths1,927 sqft / 179.02 sqm',
       '3 Beds2 Baths1,237 sqft / 114.92 sqm',
       '3 Beds2 Baths893 sqft / 82.96 sqm',
       '2 Beds2 Baths656 sqft / 60.94 sqm',
       '1 Bed1 Bath560 sqft / 52.03 sqm',
       '2 Beds2 Baths1,539 sqft / 142.98 sqm',
       '3 Beds3 Baths1,076 sqft / 99.96 sqm', '5 Beds4 Baths',
       '1 Bed1 Bath484 sqft / 44.97 sqm',
       '6 Beds5 Baths2,405 sqft / 223.43 sqm',
       '3 Beds3 Baths1,109 sqft / 103.03 sqm',
       '2 Beds2 Baths786 sqft / 73.02 sqm',
       '3 Beds2 Baths882 sqft / 81.94 sqm',
       '2 Beds2 Baths1,184 sqft / 110 sqm',
       '2 Beds1 Bath678 sqft / 62.99 sqm',
       '4 Beds2 Baths1,130 sqft / 104.98 sqm',
       '1 Bed1 Bath775 sqft / 72 sqm',
       '2 Beds2 Baths1,066 sqft / 99.03 sqm',
       '1 Bed1 Bath700 sqft / 65.03 sqm',
       '2 Beds2 Baths883 sqft / 82.03 sqm',
       '4 Beds2 Baths1,301 sqft / 120.87 sqm',
       '1 Bed2 Baths840 sqft / 78.04 sqm',
       '3 Beds2 Baths1,000 sqft / 92.9 sqm',
       '3 Beds2 Baths1,915 sqft / 177.91 sqm',
       '3 Beds2 Baths1,841 sqft / 171.03 sqm',
       '3 Beds3 Baths1,205 sqft / 111.95 sqm',
       '3 Beds2 Baths1,184 sqft / 110 sqm',
       '2 Beds2 Baths926 sqft / 86.03 sqm',
       '1 Bed2 Baths1,098 sqft / 102.01 sqm',
       '2 Beds2 Baths1,195 sqft / 111.02 sqm',
       '3 Beds2 Baths1,130 sqft / 104.98 sqm',
       '2 Beds2 Baths732 sqft / 68 sqm', '1 Bed1 Bath549 sqft / 51 sqm',
       '5 Beds5 Baths2,000 sqft / 185.81 sqm',
       '2 Beds2 Baths1,055 sqft / 98.01 sqm',
       '3 Beds3 Baths1,206 sqft / 112.04 sqm',
       '3 Beds2 Baths1,112 sqft / 103.31 sqm',
       '4 Beds4 Baths2,153 sqft / 200.02 sqm',
       '5 Beds4 Baths1,690 sqft / 157.01 sqm',
       '3 Beds3 Baths990 sqft / 91.97 sqm',
       '3 Beds2 Baths1,194 sqft / 110.93 sqm',
       '1 Bed1 Bath452 sqft / 41.99 sqm',
       '5 Beds4 Baths1,722 sqft / 159.98 sqm',
       '3 Beds2 Baths1,206 sqft / 112.04 sqm',
       '1 Bed2 Baths872 sqft / 81.01 sqm',
       '3 Beds2 Baths1,098 sqft / 102.01 sqm',
       '4 Beds3 Baths1,378 sqft / 128.02 sqm',
       '2 Beds1 Bath699 sqft / 64.94 sqm',
       '4 Beds3 Baths1,314 sqft / 122.07 sqm',
       '2 Beds1 Bath657 sqft / 61.04 sqm',
       '4 Beds4 Baths5,500 sqft / 510.97 sqm',
       '2 Beds1 Bath549 sqft / 51 sqm',
       '6 Beds4 Baths4,066 sqft / 377.74 sqm',
       '1 Bed1 Bath743 sqft / 69.03 sqm',
       '4 Beds2 Baths3,500 sqft / 325.16 sqm',
       '4 Beds4 Baths1,647 sqft / 153.01 sqm',
       '1 Bed1 Bath409 sqft / 38 sqm',
       '3 Beds4 Baths1,701 sqft / 158.03 sqm',
       '4 Beds4 Baths3,089 sqft / 286.98 sqm',
       '4 Beds2 Baths1,323 sqft / 122.91 sqm',
       '3 Beds3 Baths2,800 sqft / 260.13 sqm', '4 Beds5 Baths',
       '2 Beds1 Bath786 sqft / 73.02 sqm',
       '3 Beds3 Baths1,626 sqft / 151.06 sqm',
       '2 Beds1 Bath517 sqft / 48.03 sqm',
       '3 Beds3 Baths1,927 sqft / 179.02 sqm',
       '4 Beds4 Baths4,628 sqft / 429.96 sqm',
       '3 Beds2 Baths1,679 sqft / 155.98 sqm',
       '4 Beds4 Baths3,209 sqft / 298.13 sqm',
       '3 Beds2 Baths861 sqft / 79.99 sqm',
       '3 Beds3 Baths1,120 sqft / 104.05 sqm',
       '3 Beds3 Baths1,604 sqft / 149.02 sqm',
       '2 Beds2 Baths752 sqft / 69.86 sqm',
       '4 Beds6 Baths3,033 sqft / 281.77 sqm',
       '1 Bed1 Bath603 sqft / 56.02 sqm',
       '4 Beds3 Baths1,571 sqft / 145.95 sqm',
       '3 Beds2 Baths668 sqft / 62.06 sqm',
       '4 Beds3 Baths1,421 sqft / 132.02 sqm',
       '2 Beds2 Baths958 sqft / 89 sqm',
       '2 Beds2 Baths1,076 sqft / 99.96 sqm',
       '3 Beds3 Baths1,345 sqft / 124.95 sqm',
       '3 Beds2 Baths979 sqft / 90.95 sqm',
       '2 Beds2 Baths743 sqft / 69.03 sqm',
       '4 Beds6 Baths2,155 sqft / 200.21 sqm',
       '4 Beds2 Baths142 sqft / 13.19 sqm',
       '3 Beds3 Baths2,175 sqft / 202.06 sqm',
       '3 Beds3 Baths1,098 sqft / 102.01 sqm',
       '3 Beds2 Baths1,292 sqft / 120.03 sqm',
       '5 Beds4 Baths1,677 sqft / 155.8 sqm',
       '2 Beds2 Baths905 sqft / 84.08 sqm',
       '1 Bed1 Bath538 sqft / 49.98 sqm',
       '5 Beds4 Baths4,908 sqft / 455.97 sqm',
       '2 Beds2 Baths742 sqft / 68.93 sqm',
       '4 Beds2 Baths1,313 sqft / 121.98 sqm',
       '1 Bed1 Bath678 sqft / 62.99 sqm',
       '4 Beds3 Baths2,508 sqft / 233 sqm',
       '1 Bed1 Bath710 sqft / 65.96 sqm',
       '2 Beds1 Bath624 sqft / 57.97 sqm',
       '3 Beds2 Baths1,701 sqft / 158.03 sqm',
       '2 Beds2 Baths1,023 sqft / 95.04 sqm',
       '4 Beds2 Baths3,574 sqft / 332.04 sqm',
       '1 Bed1 Bath420 sqft / 39.02 sqm',
       '3 Beds3 Baths1,216 sqft / 112.97 sqm',
       '4 Beds2 Baths1,356 sqft / 125.98 sqm',
       '4 Beds3 Baths1,195 sqft / 111.02 sqm',
       '4 Beds2 Baths1,270 sqft / 117.99 sqm',
       '4 Beds2 Baths1,335 sqft / 124.03 sqm',
       '4 Beds2 Baths1,539 sqft / 142.98 sqm',
       '2 Beds1 Bath592 sqft / 55 sqm',
       '5 Beds5 Baths1,772 sqft / 164.62 sqm', '5 Beds6 Baths',
       '1 Bed1 Bath473 sqft / 43.94 sqm',
       '3 Beds4 Baths1,604 sqft / 149.02 sqm',
       '5 Beds5 Baths4,450 sqft / 413.42 sqm',
       '4 Beds3 Baths3,590 sqft / 333.52 sqm',
       '5 Beds5 Baths2,476 sqft / 230.03 sqm',
       '4 Beds4 Baths3,369 sqft / 312.99 sqm',
       '3 Beds4 Baths1,421 sqft / 132.02 sqm',
       '3 Beds1 Bath885 sqft / 82.22 sqm',
       '3 Beds2 Baths1,108 sqft / 102.94 sqm',
       '3 Beds3 Baths1,518 sqft / 141.03 sqm',
       '4 Beds3 Baths1,442 sqft / 133.97 sqm',
       '4 Beds2 Baths1,238 sqft / 115.01 sqm',
       '4 Beds4 Baths1,798 sqft / 167.04 sqm',
       '3 Beds3 Baths3,671 sqft / 341.05 sqm',
       '3 Beds2 Baths1,227 sqft / 113.99 sqm',
       '3 Beds2 Baths1,260 sqft / 117.06 sqm',
       '3 Beds2 Baths1,119 sqft / 103.96 sqm',
       '4 Beds3 Baths1,819 sqft / 168.99 sqm',
       '5 Beds5 Baths3,138 sqft / 291.53 sqm',
       '2 Beds1 Bath700 sqft / 65.03 sqm',
       '6 Beds7 Baths7,357 sqft / 683.49 sqm',
       '2 Beds2 Baths700 sqft / 65.03 sqm',
       '5 Beds4 Baths6,860 sqft / 637.31 sqm',
       '3 Beds2 Baths968 sqft / 89.93 sqm',
       '4 Beds3 Baths1,556 sqft / 144.56 sqm',
       '3 Beds2 Baths1,011 sqft / 93.92 sqm',
       '3 Beds3 Baths2,174 sqft / 201.97 sqm',
       '2 Beds3 Baths926 sqft / 86.03 sqm',
       '2 Beds2 Baths1,012 sqft / 94.02 sqm',
       '3 Beds2 Baths1,453 sqft / 134.99 sqm',
       '4 Beds3 Baths2,917 sqft / 271 sqm',
       '2 Beds2 Baths797 sqft / 74.04 sqm',
       '4 Beds2 Baths1,292 sqft / 120.03 sqm',
       '1 Bed1 Bath517 sqft / 48.03 sqm',
       '5 Beds6 Baths6,663 sqft / 619.01 sqm',
       '4 Beds3 Baths2,435 sqft / 226.22 sqm',
       '5 Beds3 Baths3,206 sqft / 297.85 sqm',
       '4 Beds4 Baths2,432 sqft / 225.94 sqm',
       '3 Beds3 Baths1,130 sqft / 104.98 sqm',
       '3 Beds3 Baths1,851 sqft / 171.96 sqm',
       '1 Bed1 Bath463 sqft / 43.01 sqm',
       '1 Bed1 Bath462 sqft / 42.92 sqm',
       '3 Beds3 Baths1,356 sqft / 125.98 sqm',
       '3 Beds2 Baths1,870 sqft / 173.73 sqm',
       '2 Beds2 Baths969 sqft / 90.02 sqm',
       '4 Beds3 Baths2,174 sqft / 201.97 sqm',
       '4 Beds5 Baths3,789 sqft / 352.01 sqm',
       '2 Beds3 Baths1,496 sqft / 138.98 sqm',
       '4 Beds4 Baths1,998 sqft / 185.62 sqm',
       '3 Beds4 Baths2,270 sqft / 210.89 sqm',
       '2 Beds2 Baths710 sqft / 65.96 sqm',
       '4 Beds4 Baths4,860 sqft / 451.51 sqm',
       '2 Beds2 Baths689 sqft / 64.01 sqm',
       '6 Beds5 Baths9,042 sqft / 840.03 sqm',
       '3 Beds3 Baths2,700 sqft / 250.84 sqm',
       '5 Beds6 Baths2,203 sqft / 204.67 sqm',
       '3 Beds5 Baths2,013 sqft / 187.01 sqm',
       '2 Beds2 Baths1,249 sqft / 116.04 sqm',
       '1 Bath527 sqft / 48.96 sqm',
       '3 Beds3 Baths1,625 sqft / 150.97 sqm',
       '3 Beds2 Baths969 sqft / 90.02 sqm',
       '3 Beds4 Baths1,679 sqft / 155.98 sqm',
       '3 Beds3 Baths1,141 sqft / 106 sqm',
       '4 Beds3 Baths1,488 sqft / 138.24 sqm',
       '1 Bed1 Bath861 sqft / 79.99 sqm',
       '3 Beds2 Baths1,280 sqft / 118.92 sqm',
       '9 Beds9 Baths4,315 sqft / 400.88 sqm',
       '3 Beds2 Baths1,399 sqft / 129.97 sqm',
       '3 Beds2 Baths1,345 sqft / 124.95 sqm',
       '3 Beds2 Baths850 sqft / 78.97 sqm',
       '2 Beds2 Baths1,302 sqft / 120.96 sqm',
       '1 Bed1 Bath430 sqft / 39.95 sqm',
       '3 Beds2 Baths1,195 sqft / 111.02 sqm',
       '5 Beds4 Baths3,263 sqft / 303.14 sqm',
       '1 Bed1 Bath635 sqft / 58.99 sqm',
       '4 Beds4 Baths3,810 sqft / 353.96 sqm',
       '5 Beds5 Baths3,132 sqft / 290.97 sqm',
       '3 Beds3 Baths1,485 sqft / 137.96 sqm',
       '3 Beds4 Baths1,475 sqft / 137.03 sqm', '1 Bath732 sqft / 68 sqm',
       '4 Beds3 Baths1,572 sqft / 146.04 sqm',
       '6 Beds6 Baths6,445 sqft / 598.76 sqm',
       '2 Beds1 Bath645 sqft / 59.92 sqm',
       '2 Beds2 Baths1,033 sqft / 95.97 sqm',
       '1 Bed1 Bath667 sqft / 61.97 sqm',
       '5 Beds5 Baths1,746 sqft / 162.21 sqm',
       '5 Beds6 Baths2,475 sqft / 229.93 sqm',
       '2 Beds2 Baths1,173 sqft / 108.98 sqm',
       '4 Beds4 Baths1,874 sqft / 174.1 sqm',
       '2 Beds2 Baths1,044 sqft / 96.99 sqm',
       '2 Beds3 Baths808 sqft / 75.07 sqm',
       '3 Beds3 Baths1,959 sqft / 182 sqm', '1 Bath431 sqft / 40.04 sqm',
       '2 Beds2 Baths818 sqft / 75.99 sqm',
       '4 Beds4 Baths1,658 sqft / 154.03 sqm',
       '6 Beds7 Baths8,385 sqft / 778.99 sqm',
       '2 Beds2 Baths893 sqft / 82.96 sqm',
       '3 Beds2 Baths113 sqft / 10.5 sqm',
       '2 Beds1 Bath1,130 sqft / 104.98 sqm',
       '5 Beds5 Baths6,458 sqft / 599.97 sqm',
       '4 Beds4 Baths1,300 sqft / 120.77 sqm',
       '3 Beds2 Baths1,840 sqft / 170.94 sqm',
       '3 Beds3 Baths1,324 sqft / 123 sqm',
       '6 Beds8 Baths4,150 sqft / 385.55 sqm',
       '3 Beds3 Baths1,227 sqft / 113.99 sqm',
       '4 Beds3 Baths1,776 sqft / 165 sqm',
       '3 Beds2 Baths1,249 sqft / 116.04 sqm',
       '4 Beds5 Baths3,358 sqft / 311.97 sqm',
       '2 Beds3 Baths1,012 sqft / 94.02 sqm',
       '4 Beds4 Baths2,713 sqft / 252.05 sqm',
       '4 Beds5 Baths3,778 sqft / 350.99 sqm',
       '4 Beds2 Baths1,572 sqft / 146.04 sqm',
       '4 Beds2 Baths1,600 sqft / 148.64 sqm',
       '3 Beds2 Baths1,356 sqft / 125.98 sqm',
       '3 Beds2 Baths1,281 sqft / 119.01 sqm',
       '1 Bed1 Bath1,281 sqft / 119.01 sqm',
       '4 Beds4 Baths2,303 sqft / 213.96 sqm',
       '3 Beds3 Baths1,421 sqft / 132.02 sqm',
       '4 Beds5 Baths6,200 sqft / 576 sqm',
       '6 Beds5 Baths3,285 sqft / 305.19 sqm',
       '4 Beds2 Baths1,216 sqft / 112.97 sqm',
       '3 Beds4 Baths2,045 sqft / 189.99 sqm',
       '4 Beds4 Baths2,723 sqft / 252.97 sqm',
       '2 Beds1 Bath646 sqft / 60.02 sqm',
       '1 Bed1 Bath398 sqft / 36.98 sqm',
       '3 Beds3 Baths3,240 sqft / 301.01 sqm',
       '6 Beds7 Baths9,600 sqft / 891.87 sqm',
       '4 Beds2 Baths1,475 sqft / 137.03 sqm',
       '4 Beds2 Baths1,324 sqft / 123 sqm',
       '3 Beds2 Baths1,744 sqft / 162.02 sqm',
       '4 Beds2 Baths1,496 sqft / 138.98 sqm',
       '7 Beds8 Baths3,465 sqft / 321.91 sqm',
       '2 Beds1 Bath797 sqft / 74.04 sqm',
       '4 Beds2 Baths1,281 sqft / 119.01 sqm',
       '1 Bed1 Bath840 sqft / 78.04 sqm',
       '3 Beds3 Baths1,636 sqft / 151.99 sqm',
       '2 Beds2 Baths1,270 sqft / 117.99 sqm',
       '5 Beds6 Baths4,402 sqft / 408.96 sqm',
       '4 Beds2 Baths1,280 sqft / 118.92 sqm',
       '3 Beds2 Baths1,173 sqft / 108.98 sqm',
       '3 Beds2 Baths1,313 sqft / 121.98 sqm',
       '4 Beds4 Baths1,970 sqft / 183.02 sqm',
       '5 Beds5 Baths7,973 sqft / 740.72 sqm',
       '7 Beds5 Baths3,342 sqft / 310.48 sqm',
       '2 Beds1 Bath581 sqft / 53.98 sqm',
       '3 Beds2 Baths1,205 sqft / 111.95 sqm',
       '5 Beds4 Baths5,000 sqft / 464.51 sqm',
       '4 Beds2 Baths1,001 sqft / 93 sqm',
       '2 Beds1 Bath689 sqft / 64.01 sqm',
       '4 Beds3 Baths1,270 sqft / 117.99 sqm',
       '2 Beds2 Baths904 sqft / 83.98 sqm',
       '6 Beds6 Baths7,037 sqft / 653.76 sqm',
       '1 Bed1 Bath656 sqft / 60.94 sqm',
       '2 Beds2 Baths1,421 sqft / 132.02 sqm',
       '6 Beds6 Baths5,700 sqft / 529.55 sqm',
       '2 Beds3 Baths1,830 sqft / 170.01 sqm',
       '4 Beds4 Baths1,302 sqft / 120.96 sqm',
       '3 Beds3 Baths2,261 sqft / 210.05 sqm',
       '5 Beds6 Baths5,612 sqft / 521.37 sqm',
       '1 Bath344 sqft / 31.96 sqm',
       '7 Beds8 Baths4,358 sqft / 404.87 sqm',
       '3 Beds1 Bath656 sqft / 60.94 sqm',
       '10 Beds10 Baths8,000 sqft / 743.22 sqm',
       '2 Beds2 Baths1,141 sqft / 106 sqm',
       '2 Beds1 Bath602 sqft / 55.93 sqm',
       '3 Beds2 Baths980 sqft / 91.04 sqm',
       '4 Beds3 Baths1,313 sqft / 121.98 sqm',
       '4 Beds3 Baths3,782 sqft / 351.36 sqm',
       '3 Beds2 Baths3,638 sqft / 337.98 sqm',
       '5 Beds5 Baths3,123 sqft / 290.14 sqm',
       '5 Beds3 Baths6,469 sqft / 600.99 sqm',
       '2 Beds1 Bath1,410 sqft / 130.99 sqm',
       '5 Beds4 Baths4,380 sqft / 406.92 sqm',
       '2 Beds1 Bath753 sqft / 69.96 sqm',
       '4 Beds4 Baths1,690 sqft / 157.01 sqm',
       '4 Beds4 Baths1,345 sqft / 124.95 sqm',
       '1 Bed1 Bath527 sqft / 48.96 sqm',
       '4 Beds4 Baths1,518 sqft / 141.03 sqm',
       '4 Beds2 Baths12,960 sqft / 1,204.02 sqm',
       '1 Bed2 Baths581 sqft / 53.98 sqm',
       '4 Beds4 Baths1,399 sqft / 129.97 sqm',
       '4 Beds3 Baths1,292 sqft / 120.03 sqm',
       '4 Beds5 Baths2,067 sqft / 192.03 sqm',
       '4 Beds4 Baths1,313 sqft / 121.98 sqm',
       '3 Beds2 Baths926 sqft / 86.03 sqm'], dtype=object)

In [70]:
# regex for sqm
#regex = re.findall(r"\d{1,4}\.\d{1,3} sqm", home_df["Bed_bath_sizeinfo"][0])

In [71]:
#home_df["Bed_bath_sizeinfo"].apply(lambda x:re.findall(r"\d{1,4}\.\d{1,3} sqm",x)[0] if re.findall(r"\d{1,4}\.\d{1,3} sqm",x) else None)

In [72]:
#home_df["Area_in_sqm"] = home_df["Bed_bath_sizeinfo"].apply(lambda x:re.findall(r"\d{1,4}\.\d{1,3} sqm",x)[0] if re.findall(r"\d{1,4}\.\d{1,3} sqm",x) else None)

In [73]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2 Beds
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4 Beds
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4 Beds
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House,4 Beds
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3 Beds
...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2 Beds
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4 Beds
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4 Beds
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3 Beds
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3 Beds

In [74]:
#home_df["Area_in_sqm"].value_counts()

In [75]:
home_df["Bed_bath_sizeinfo"].value_counts()

3 Beds2 Baths1,001 sqft / 93 sqm        20
3 Beds2 Baths990 sqft / 91.97 sqm       10
2 Beds2 Baths732 sqft / 68 sqm           8
3 Beds2 Baths1,119 sqft / 103.96 sqm     6
3 Beds2 Baths1,216 sqft / 112.97 sqm     6
                                        ..
4 Beds3 Baths1,173 sqft / 108.98 sqm     1
3 Beds2 Baths1,431 sqft / 132.94 sqm     1
4 Beds3 Baths2,508 sqft / 233 sqm        1
3 Beds2 Baths1,012 sqft / 94.02 sqm      1
3 Beds2 Baths926 sqft / 86.03 sqm        1
Name: Bed_bath_sizeinfo, Length: 397, dtype: int64

In [76]:
re.findall(r"[0-9]+ Bath",home_df["Bed_bath_sizeinfo"][0])

['2 Bath']

In [77]:
home_df["Bathrooms"]=home_df["Bed_bath_sizeinfo"].apply(lambda x:re.findall(r"[0-9]+ Bath",x)[0] if re.findall(r"[0-9]+ Bath",x) else None)

In [78]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,Bathrooms
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2 Beds,2 Bath
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4 Beds,3 Bath
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4 Beds,2 Bath
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House,4 Beds,4 Bath
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3 Beds,3 Bath
...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2 Beds,2 Bath
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4 Beds,5 Bath
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4 Beds,4 Bath
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3 Beds,2 Bath
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3 Beds,2 Bath

In [79]:
home_df["Bed_bath_sizeinfo"].unique()

array(['2 Beds2 Baths872 sqft / 81.01 sqm',
       '4 Beds3 Baths1,173 sqft / 108.98 sqm',
       '4 Beds2 Baths1,400 sqft / 130.06 sqm',
       '4 Beds4 Baths1,760 sqft / 163.51 sqm',
       '3 Beds3 Baths1,432 sqft / 133.04 sqm',
       '3 Beds2 Baths947 sqft / 87.98 sqm',
       '3 Beds3 Baths1,830 sqft / 170.01 sqm',
       '3 Beds4 Baths2,756 sqft / 256.04 sqm',
       '3 Beds3 Baths1,249 sqft / 116.04 sqm',
       '3 Beds2 Baths1,001 sqft / 93 sqm',
       '3 Beds4 Baths3,875 sqft / 360 sqm',
       '3 Beds3 Baths1,550 sqft / 144 sqm',
       '3 Beds2 Baths818 sqft / 75.99 sqm',
       '4 Beds2 Baths1,291 sqft / 119.94 sqm',
       '5 Beds6 Baths2,160 sqft / 200.67 sqm',
       '1 Bed1 Bath505 sqft / 46.92 sqm',
       '2 Beds2 Baths840 sqft / 78.04 sqm',
       '3 Beds2 Baths1,076 sqft / 99.96 sqm',
       '4 Beds5 Baths1,551 sqft / 144.09 sqm',
       '3 Beds2 Baths1,109 sqft / 103.03 sqm',
       '4 Beds2 Baths1,098 sqft / 102.01 sqm',
       '3 Beds1 Bath699 sqft / 64.94 sqm',
       '4 Beds3 Baths1,507 sqft / 140 sqm',
       '3 Beds2 Baths990 sqft / 91.97 sqm',
       '3 Beds3 Baths1,183 sqft / 109.9 sqm',
       '1 Bed1 Bath495 sqft / 45.99 sqm',
       '3 Beds3 Baths2,433 sqft / 226.03 sqm',
       '2 Beds1 Bath807 sqft / 74.97 sqm',
       '4 Beds5 Baths3,735 sqft / 346.99 sqm',
       '2 Beds2 Baths980 sqft / 91.04 sqm',
       '4 Beds4 Baths2,272 sqft / 211.08 sqm',
       '3 Beds2 Baths960 sqft / 89.19 sqm',
       '2 Beds2 Baths936 sqft / 86.96 sqm',
       '3 Beds2 Baths1,044 sqft / 96.99 sqm',
       '5 Beds4 Baths3,755 sqft / 348.85 sqm',
       '4 Beds3 Baths2,195 sqft / 203.92 sqm',
       '3 Beds2 Baths936 sqft / 86.96 sqm',
       '2 Beds2 Baths635 sqft / 58.99 sqm',
       '2 Beds2 Baths775 sqft / 72 sqm',
       '2 Beds2 Baths731 sqft / 67.91 sqm',
       '2 Beds2 Baths667 sqft / 61.97 sqm',
       '3 Beds3 Baths1,539 sqft / 142.98 sqm',
       '2 Beds1 Bath635 sqft / 58.99 sqm',
       '2 Beds2 Baths764 sqft / 70.98 sqm',
       '3 Beds2 Baths1,216 sqft / 112.97 sqm',
       '3 Beds2 Baths1,302 sqft / 120.96 sqm',
       '1 Bath474 sqft / 44.04 sqm',
       '3 Beds2 Baths1,291 sqft / 119.94 sqm',
       '3 Beds2 Baths1,431 sqft / 132.94 sqm',
       '3 Beds2 Baths1,012 sqft / 94.02 sqm',
       '1 Bed1 Bath592 sqft / 55 sqm',
       '2 Beds2 Baths624 sqft / 57.97 sqm',
       '3 Beds2 Baths1,087 sqft / 100.99 sqm',
       '2 Beds2 Baths947 sqft / 87.98 sqm',
       '3 Beds3 Baths1,572 sqft / 146.04 sqm',
       '3 Beds2 Baths1,152 sqft / 107.02 sqm',
       '5 Beds4 Baths1,819 sqft / 168.99 sqm',
       '1 Bed2 Baths786 sqft / 73.02 sqm',
       '3 Beds2 Baths777 sqft / 72.19 sqm',
       '3 Beds3 Baths2,239 sqft / 208.01 sqm',
       '2 Beds2 Baths861 sqft / 79.99 sqm',
       '3 Beds3 Baths1,281 sqft / 119.01 sqm',
       '2 Beds2 Baths678 sqft / 62.99 sqm',
       '3 Beds3 Baths1,023 sqft / 95.04 sqm',
       '1 Bed1 Bath581 sqft / 53.98 sqm',
       '3 Beds3 Baths1,184 sqft / 110 sqm',
       '4 Beds5 Baths7,709 sqft / 716.19 sqm',
       '3 Beds3 Baths1,561 sqft / 145.02 sqm',
       '2 Beds1 Bath538 sqft / 49.98 sqm',
       '3 Beds3 Baths1,872 sqft / 173.91 sqm',
       '2 Beds2 Baths850 sqft / 78.97 sqm',
       '3 Beds2 Baths1,183 sqft / 109.9 sqm',
       '4 Beds2 Baths1,593 sqft / 147.99 sqm',
       '4 Beds3 Baths1,550 sqft / 144 sqm',
       '2 Beds2 Baths753 sqft / 69.96 sqm',
       '2 Beds2 Baths721 sqft / 66.98 sqm',
       '3 Beds2 Baths915 sqft / 85.01 sqm',
       '3 Beds3 Baths1,001 sqft / 93 sqm',
       '4 Beds5 Baths3,973 sqft / 369.1 sqm',
       '3 Beds2 Baths904 sqft / 83.98 sqm',
       '2 Beds2 Baths603 sqft / 56.02 sqm',
       '6 Beds6 Baths4,250 sqft / 394.84 sqm',
       '3 Beds2 Baths103 sqft / 9.57 sqm',
       '2 Beds2 Baths990 sqft / 91.97 sqm',
       '4 Beds3 Baths2,441 sqft / 226.78 sqm',
       '2 Beds2 Baths1,119 sqft / 103.96 sqm',
       '2 Beds3 Baths872 sqft / 81.01 sqm',
       '2 Beds2 Baths699 sqft / 64.94 sqm',
       '2 Beds2 Baths646 sqft / 60.02 sqm',
       '6 Beds6 Baths1,396 sqft / 129.69 sqm',
       '6 Beds6 Baths9,138 sqft / 848.95 sqm',
       '3 Beds3 Baths1,313 sqft / 121.98 sqm',
       '2 Beds2 Baths785 sqft / 72.93 sqm',
       '2 Beds1 Bath603 sqft / 56.02 sqm',
       '6 Beds5 Baths3,282 sqft / 304.91 sqm',
       '2 Beds2 Baths807 sqft / 74.97 sqm',
       '4 Beds5 Baths5,231 sqft / 485.98 sqm',
       '5 Beds5 Baths3,294 sqft / 306.02 sqm',
       '3 Beds2 Baths2,271 sqft / 210.98 sqm',
       '5 Beds4 Baths3,369 sqft / 312.99 sqm',
       '3 Beds3 Baths1,528 sqft / 141.96 sqm',
       '4 Beds4 Baths1,927 sqft / 179.02 sqm',
       '3 Beds2 Baths1,237 sqft / 114.92 sqm',
       '3 Beds2 Baths893 sqft / 82.96 sqm',
       '2 Beds2 Baths656 sqft / 60.94 sqm',
       '1 Bed1 Bath560 sqft / 52.03 sqm',
       '2 Beds2 Baths1,539 sqft / 142.98 sqm',
       '3 Beds3 Baths1,076 sqft / 99.96 sqm', '5 Beds4 Baths',
       '1 Bed1 Bath484 sqft / 44.97 sqm',
       '6 Beds5 Baths2,405 sqft / 223.43 sqm',
       '3 Beds3 Baths1,109 sqft / 103.03 sqm',
       '2 Beds2 Baths786 sqft / 73.02 sqm',
       '3 Beds2 Baths882 sqft / 81.94 sqm',
       '2 Beds2 Baths1,184 sqft / 110 sqm',
       '2 Beds1 Bath678 sqft / 62.99 sqm',
       '4 Beds2 Baths1,130 sqft / 104.98 sqm',
       '1 Bed1 Bath775 sqft / 72 sqm',
       '2 Beds2 Baths1,066 sqft / 99.03 sqm',
       '1 Bed1 Bath700 sqft / 65.03 sqm',
       '2 Beds2 Baths883 sqft / 82.03 sqm',
       '4 Beds2 Baths1,301 sqft / 120.87 sqm',
       '1 Bed2 Baths840 sqft / 78.04 sqm',
       '3 Beds2 Baths1,000 sqft / 92.9 sqm',
       '3 Beds2 Baths1,915 sqft / 177.91 sqm',
       '3 Beds2 Baths1,841 sqft / 171.03 sqm',
       '3 Beds3 Baths1,205 sqft / 111.95 sqm',
       '3 Beds2 Baths1,184 sqft / 110 sqm',
       '2 Beds2 Baths926 sqft / 86.03 sqm',
       '1 Bed2 Baths1,098 sqft / 102.01 sqm',
       '2 Beds2 Baths1,195 sqft / 111.02 sqm',
       '3 Beds2 Baths1,130 sqft / 104.98 sqm',
       '2 Beds2 Baths732 sqft / 68 sqm', '1 Bed1 Bath549 sqft / 51 sqm',
       '5 Beds5 Baths2,000 sqft / 185.81 sqm',
       '2 Beds2 Baths1,055 sqft / 98.01 sqm',
       '3 Beds3 Baths1,206 sqft / 112.04 sqm',
       '3 Beds2 Baths1,112 sqft / 103.31 sqm',
       '4 Beds4 Baths2,153 sqft / 200.02 sqm',
       '5 Beds4 Baths1,690 sqft / 157.01 sqm',
       '3 Beds3 Baths990 sqft / 91.97 sqm',
       '3 Beds2 Baths1,194 sqft / 110.93 sqm',
       '1 Bed1 Bath452 sqft / 41.99 sqm',
       '5 Beds4 Baths1,722 sqft / 159.98 sqm',
       '3 Beds2 Baths1,206 sqft / 112.04 sqm',
       '1 Bed2 Baths872 sqft / 81.01 sqm',
       '3 Beds2 Baths1,098 sqft / 102.01 sqm',
       '4 Beds3 Baths1,378 sqft / 128.02 sqm',
       '2 Beds1 Bath699 sqft / 64.94 sqm',
       '4 Beds3 Baths1,314 sqft / 122.07 sqm',
       '2 Beds1 Bath657 sqft / 61.04 sqm',
       '4 Beds4 Baths5,500 sqft / 510.97 sqm',
       '2 Beds1 Bath549 sqft / 51 sqm',
       '6 Beds4 Baths4,066 sqft / 377.74 sqm',
       '1 Bed1 Bath743 sqft / 69.03 sqm',
       '4 Beds2 Baths3,500 sqft / 325.16 sqm',
       '4 Beds4 Baths1,647 sqft / 153.01 sqm',
       '1 Bed1 Bath409 sqft / 38 sqm',
       '3 Beds4 Baths1,701 sqft / 158.03 sqm',
       '4 Beds4 Baths3,089 sqft / 286.98 sqm',
       '4 Beds2 Baths1,323 sqft / 122.91 sqm',
       '3 Beds3 Baths2,800 sqft / 260.13 sqm', '4 Beds5 Baths',
       '2 Beds1 Bath786 sqft / 73.02 sqm',
       '3 Beds3 Baths1,626 sqft / 151.06 sqm',
       '2 Beds1 Bath517 sqft / 48.03 sqm',
       '3 Beds3 Baths1,927 sqft / 179.02 sqm',
       '4 Beds4 Baths4,628 sqft / 429.96 sqm',
       '3 Beds2 Baths1,679 sqft / 155.98 sqm',
       '4 Beds4 Baths3,209 sqft / 298.13 sqm',
       '3 Beds2 Baths861 sqft / 79.99 sqm',
       '3 Beds3 Baths1,120 sqft / 104.05 sqm',
       '3 Beds3 Baths1,604 sqft / 149.02 sqm',
       '2 Beds2 Baths752 sqft / 69.86 sqm',
       '4 Beds6 Baths3,033 sqft / 281.77 sqm',
       '1 Bed1 Bath603 sqft / 56.02 sqm',
       '4 Beds3 Baths1,571 sqft / 145.95 sqm',
       '3 Beds2 Baths668 sqft / 62.06 sqm',
       '4 Beds3 Baths1,421 sqft / 132.02 sqm',
       '2 Beds2 Baths958 sqft / 89 sqm',
       '2 Beds2 Baths1,076 sqft / 99.96 sqm',
       '3 Beds3 Baths1,345 sqft / 124.95 sqm',
       '3 Beds2 Baths979 sqft / 90.95 sqm',
       '2 Beds2 Baths743 sqft / 69.03 sqm',
       '4 Beds6 Baths2,155 sqft / 200.21 sqm',
       '4 Beds2 Baths142 sqft / 13.19 sqm',
       '3 Beds3 Baths2,175 sqft / 202.06 sqm',
       '3 Beds3 Baths1,098 sqft / 102.01 sqm',
       '3 Beds2 Baths1,292 sqft / 120.03 sqm',
       '5 Beds4 Baths1,677 sqft / 155.8 sqm',
       '2 Beds2 Baths905 sqft / 84.08 sqm',
       '1 Bed1 Bath538 sqft / 49.98 sqm',
       '5 Beds4 Baths4,908 sqft / 455.97 sqm',
       '2 Beds2 Baths742 sqft / 68.93 sqm',
       '4 Beds2 Baths1,313 sqft / 121.98 sqm',
       '1 Bed1 Bath678 sqft / 62.99 sqm',
       '4 Beds3 Baths2,508 sqft / 233 sqm',
       '1 Bed1 Bath710 sqft / 65.96 sqm',
       '2 Beds1 Bath624 sqft / 57.97 sqm',
       '3 Beds2 Baths1,701 sqft / 158.03 sqm',
       '2 Beds2 Baths1,023 sqft / 95.04 sqm',
       '4 Beds2 Baths3,574 sqft / 332.04 sqm',
       '1 Bed1 Bath420 sqft / 39.02 sqm',
       '3 Beds3 Baths1,216 sqft / 112.97 sqm',
       '4 Beds2 Baths1,356 sqft / 125.98 sqm',
       '4 Beds3 Baths1,195 sqft / 111.02 sqm',
       '4 Beds2 Baths1,270 sqft / 117.99 sqm',
       '4 Beds2 Baths1,335 sqft / 124.03 sqm',
       '4 Beds2 Baths1,539 sqft / 142.98 sqm',
       '2 Beds1 Bath592 sqft / 55 sqm',
       '5 Beds5 Baths1,772 sqft / 164.62 sqm', '5 Beds6 Baths',
       '1 Bed1 Bath473 sqft / 43.94 sqm',
       '3 Beds4 Baths1,604 sqft / 149.02 sqm',
       '5 Beds5 Baths4,450 sqft / 413.42 sqm',
       '4 Beds3 Baths3,590 sqft / 333.52 sqm',
       '5 Beds5 Baths2,476 sqft / 230.03 sqm',
       '4 Beds4 Baths3,369 sqft / 312.99 sqm',
       '3 Beds4 Baths1,421 sqft / 132.02 sqm',
       '3 Beds1 Bath885 sqft / 82.22 sqm',
       '3 Beds2 Baths1,108 sqft / 102.94 sqm',
       '3 Beds3 Baths1,518 sqft / 141.03 sqm',
       '4 Beds3 Baths1,442 sqft / 133.97 sqm',
       '4 Beds2 Baths1,238 sqft / 115.01 sqm',
       '4 Beds4 Baths1,798 sqft / 167.04 sqm',
       '3 Beds3 Baths3,671 sqft / 341.05 sqm',
       '3 Beds2 Baths1,227 sqft / 113.99 sqm',
       '3 Beds2 Baths1,260 sqft / 117.06 sqm',
       '3 Beds2 Baths1,119 sqft / 103.96 sqm',
       '4 Beds3 Baths1,819 sqft / 168.99 sqm',
       '5 Beds5 Baths3,138 sqft / 291.53 sqm',
       '2 Beds1 Bath700 sqft / 65.03 sqm',
       '6 Beds7 Baths7,357 sqft / 683.49 sqm',
       '2 Beds2 Baths700 sqft / 65.03 sqm',
       '5 Beds4 Baths6,860 sqft / 637.31 sqm',
       '3 Beds2 Baths968 sqft / 89.93 sqm',
       '4 Beds3 Baths1,556 sqft / 144.56 sqm',
       '3 Beds2 Baths1,011 sqft / 93.92 sqm',
       '3 Beds3 Baths2,174 sqft / 201.97 sqm',
       '2 Beds3 Baths926 sqft / 86.03 sqm',
       '2 Beds2 Baths1,012 sqft / 94.02 sqm',
       '3 Beds2 Baths1,453 sqft / 134.99 sqm',
       '4 Beds3 Baths2,917 sqft / 271 sqm',
       '2 Beds2 Baths797 sqft / 74.04 sqm',
       '4 Beds2 Baths1,292 sqft / 120.03 sqm',
       '1 Bed1 Bath517 sqft / 48.03 sqm',
       '5 Beds6 Baths6,663 sqft / 619.01 sqm',
       '4 Beds3 Baths2,435 sqft / 226.22 sqm',
       '5 Beds3 Baths3,206 sqft / 297.85 sqm',
       '4 Beds4 Baths2,432 sqft / 225.94 sqm',
       '3 Beds3 Baths1,130 sqft / 104.98 sqm',
       '3 Beds3 Baths1,851 sqft / 171.96 sqm',
       '1 Bed1 Bath463 sqft / 43.01 sqm',
       '1 Bed1 Bath462 sqft / 42.92 sqm',
       '3 Beds3 Baths1,356 sqft / 125.98 sqm',
       '3 Beds2 Baths1,870 sqft / 173.73 sqm',
       '2 Beds2 Baths969 sqft / 90.02 sqm',
       '4 Beds3 Baths2,174 sqft / 201.97 sqm',
       '4 Beds5 Baths3,789 sqft / 352.01 sqm',
       '2 Beds3 Baths1,496 sqft / 138.98 sqm',
       '4 Beds4 Baths1,998 sqft / 185.62 sqm',
       '3 Beds4 Baths2,270 sqft / 210.89 sqm',
       '2 Beds2 Baths710 sqft / 65.96 sqm',
       '4 Beds4 Baths4,860 sqft / 451.51 sqm',
       '2 Beds2 Baths689 sqft / 64.01 sqm',
       '6 Beds5 Baths9,042 sqft / 840.03 sqm',
       '3 Beds3 Baths2,700 sqft / 250.84 sqm',
       '5 Beds6 Baths2,203 sqft / 204.67 sqm',
       '3 Beds5 Baths2,013 sqft / 187.01 sqm',
       '2 Beds2 Baths1,249 sqft / 116.04 sqm',
       '1 Bath527 sqft / 48.96 sqm',
       '3 Beds3 Baths1,625 sqft / 150.97 sqm',
       '3 Beds2 Baths969 sqft / 90.02 sqm',
       '3 Beds4 Baths1,679 sqft / 155.98 sqm',
       '3 Beds3 Baths1,141 sqft / 106 sqm',
       '4 Beds3 Baths1,488 sqft / 138.24 sqm',
       '1 Bed1 Bath861 sqft / 79.99 sqm',
       '3 Beds2 Baths1,280 sqft / 118.92 sqm',
       '9 Beds9 Baths4,315 sqft / 400.88 sqm',
       '3 Beds2 Baths1,399 sqft / 129.97 sqm',
       '3 Beds2 Baths1,345 sqft / 124.95 sqm',
       '3 Beds2 Baths850 sqft / 78.97 sqm',
       '2 Beds2 Baths1,302 sqft / 120.96 sqm',
       '1 Bed1 Bath430 sqft / 39.95 sqm',
       '3 Beds2 Baths1,195 sqft / 111.02 sqm',
       '5 Beds4 Baths3,263 sqft / 303.14 sqm',
       '1 Bed1 Bath635 sqft / 58.99 sqm',
       '4 Beds4 Baths3,810 sqft / 353.96 sqm',
       '5 Beds5 Baths3,132 sqft / 290.97 sqm',
       '3 Beds3 Baths1,485 sqft / 137.96 sqm',
       '3 Beds4 Baths1,475 sqft / 137.03 sqm', '1 Bath732 sqft / 68 sqm',
       '4 Beds3 Baths1,572 sqft / 146.04 sqm',
       '6 Beds6 Baths6,445 sqft / 598.76 sqm',
       '2 Beds1 Bath645 sqft / 59.92 sqm',
       '2 Beds2 Baths1,033 sqft / 95.97 sqm',
       '1 Bed1 Bath667 sqft / 61.97 sqm',
       '5 Beds5 Baths1,746 sqft / 162.21 sqm',
       '5 Beds6 Baths2,475 sqft / 229.93 sqm',
       '2 Beds2 Baths1,173 sqft / 108.98 sqm',
       '4 Beds4 Baths1,874 sqft / 174.1 sqm',
       '2 Beds2 Baths1,044 sqft / 96.99 sqm',
       '2 Beds3 Baths808 sqft / 75.07 sqm',
       '3 Beds3 Baths1,959 sqft / 182 sqm', '1 Bath431 sqft / 40.04 sqm',
       '2 Beds2 Baths818 sqft / 75.99 sqm',
       '4 Beds4 Baths1,658 sqft / 154.03 sqm',
       '6 Beds7 Baths8,385 sqft / 778.99 sqm',
       '2 Beds2 Baths893 sqft / 82.96 sqm',
       '3 Beds2 Baths113 sqft / 10.5 sqm',
       '2 Beds1 Bath1,130 sqft / 104.98 sqm',
       '5 Beds5 Baths6,458 sqft / 599.97 sqm',
       '4 Beds4 Baths1,300 sqft / 120.77 sqm',
       '3 Beds2 Baths1,840 sqft / 170.94 sqm',
       '3 Beds3 Baths1,324 sqft / 123 sqm',
       '6 Beds8 Baths4,150 sqft / 385.55 sqm',
       '3 Beds3 Baths1,227 sqft / 113.99 sqm',
       '4 Beds3 Baths1,776 sqft / 165 sqm',
       '3 Beds2 Baths1,249 sqft / 116.04 sqm',
       '4 Beds5 Baths3,358 sqft / 311.97 sqm',
       '2 Beds3 Baths1,012 sqft / 94.02 sqm',
       '4 Beds4 Baths2,713 sqft / 252.05 sqm',
       '4 Beds5 Baths3,778 sqft / 350.99 sqm',
       '4 Beds2 Baths1,572 sqft / 146.04 sqm',
       '4 Beds2 Baths1,600 sqft / 148.64 sqm',
       '3 Beds2 Baths1,356 sqft / 125.98 sqm',
       '3 Beds2 Baths1,281 sqft / 119.01 sqm',
       '1 Bed1 Bath1,281 sqft / 119.01 sqm',
       '4 Beds4 Baths2,303 sqft / 213.96 sqm',
       '3 Beds3 Baths1,421 sqft / 132.02 sqm',
       '4 Beds5 Baths6,200 sqft / 576 sqm',
       '6 Beds5 Baths3,285 sqft / 305.19 sqm',
       '4 Beds2 Baths1,216 sqft / 112.97 sqm',
       '3 Beds4 Baths2,045 sqft / 189.99 sqm',
       '4 Beds4 Baths2,723 sqft / 252.97 sqm',
       '2 Beds1 Bath646 sqft / 60.02 sqm',
       '1 Bed1 Bath398 sqft / 36.98 sqm',
       '3 Beds3 Baths3,240 sqft / 301.01 sqm',
       '6 Beds7 Baths9,600 sqft / 891.87 sqm',
       '4 Beds2 Baths1,475 sqft / 137.03 sqm',
       '4 Beds2 Baths1,324 sqft / 123 sqm',
       '3 Beds2 Baths1,744 sqft / 162.02 sqm',
       '4 Beds2 Baths1,496 sqft / 138.98 sqm',
       '7 Beds8 Baths3,465 sqft / 321.91 sqm',
       '2 Beds1 Bath797 sqft / 74.04 sqm',
       '4 Beds2 Baths1,281 sqft / 119.01 sqm',
       '1 Bed1 Bath840 sqft / 78.04 sqm',
       '3 Beds3 Baths1,636 sqft / 151.99 sqm',
       '2 Beds2 Baths1,270 sqft / 117.99 sqm',
       '5 Beds6 Baths4,402 sqft / 408.96 sqm',
       '4 Beds2 Baths1,280 sqft / 118.92 sqm',
       '3 Beds2 Baths1,173 sqft / 108.98 sqm',
       '3 Beds2 Baths1,313 sqft / 121.98 sqm',
       '4 Beds4 Baths1,970 sqft / 183.02 sqm',
       '5 Beds5 Baths7,973 sqft / 740.72 sqm',
       '7 Beds5 Baths3,342 sqft / 310.48 sqm',
       '2 Beds1 Bath581 sqft / 53.98 sqm',
       '3 Beds2 Baths1,205 sqft / 111.95 sqm',
       '5 Beds4 Baths5,000 sqft / 464.51 sqm',
       '4 Beds2 Baths1,001 sqft / 93 sqm',
       '2 Beds1 Bath689 sqft / 64.01 sqm',
       '4 Beds3 Baths1,270 sqft / 117.99 sqm',
       '2 Beds2 Baths904 sqft / 83.98 sqm',
       '6 Beds6 Baths7,037 sqft / 653.76 sqm',
       '1 Bed1 Bath656 sqft / 60.94 sqm',
       '2 Beds2 Baths1,421 sqft / 132.02 sqm',
       '6 Beds6 Baths5,700 sqft / 529.55 sqm',
       '2 Beds3 Baths1,830 sqft / 170.01 sqm',
       '4 Beds4 Baths1,302 sqft / 120.96 sqm',
       '3 Beds3 Baths2,261 sqft / 210.05 sqm',
       '5 Beds6 Baths5,612 sqft / 521.37 sqm',
       '1 Bath344 sqft / 31.96 sqm',
       '7 Beds8 Baths4,358 sqft / 404.87 sqm',
       '3 Beds1 Bath656 sqft / 60.94 sqm',
       '10 Beds10 Baths8,000 sqft / 743.22 sqm',
       '2 Beds2 Baths1,141 sqft / 106 sqm',
       '2 Beds1 Bath602 sqft / 55.93 sqm',
       '3 Beds2 Baths980 sqft / 91.04 sqm',
       '4 Beds3 Baths1,313 sqft / 121.98 sqm',
       '4 Beds3 Baths3,782 sqft / 351.36 sqm',
       '3 Beds2 Baths3,638 sqft / 337.98 sqm',
       '5 Beds5 Baths3,123 sqft / 290.14 sqm',
       '5 Beds3 Baths6,469 sqft / 600.99 sqm',
       '2 Beds1 Bath1,410 sqft / 130.99 sqm',
       '5 Beds4 Baths4,380 sqft / 406.92 sqm',
       '2 Beds1 Bath753 sqft / 69.96 sqm',
       '4 Beds4 Baths1,690 sqft / 157.01 sqm',
       '4 Beds4 Baths1,345 sqft / 124.95 sqm',
       '1 Bed1 Bath527 sqft / 48.96 sqm',
       '4 Beds4 Baths1,518 sqft / 141.03 sqm',
       '4 Beds2 Baths12,960 sqft / 1,204.02 sqm',
       '1 Bed2 Baths581 sqft / 53.98 sqm',
       '4 Beds4 Baths1,399 sqft / 129.97 sqm',
       '4 Beds3 Baths1,292 sqft / 120.03 sqm',
       '4 Beds5 Baths2,067 sqft / 192.03 sqm',
       '4 Beds4 Baths1,313 sqft / 121.98 sqm',
       '3 Beds2 Baths926 sqft / 86.03 sqm'], dtype=object)

In [80]:
# regerx for sqm
regex = re.findall(r"\d{0,3}?\,?\d{1,4}\.?\d{1,3} sqm", home_df["Bed_bath_sizeinfo"][2])

In [81]:
regex

['130.06 sqm']

In [82]:
home_df["Area_in_sqm"] = home_df["Bed_bath_sizeinfo"].apply(lambda x: re.findall(r"\d{0,3}?\,?\d{1,4}\.?\d{1,3} sqm",x)[0] if re.findall(r"\d{0,3}?\,?\d{1,4}\.?\d{1,3} sqm",x) else None)

In [83]:
home_df["Area_in_sqm"]

0       81.01 sqm
1      108.98 sqm
2      130.06 sqm
3      163.51 sqm
4      133.04 sqm
          ...
607     65.96 sqm
608    192.03 sqm
609    121.98 sqm
610    108.98 sqm
611     86.03 sqm
Name: Area_in_sqm, Length: 612, dtype: object

In [84]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,Bathrooms,Area_in_sqm
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2 Beds,2 Bath,81.01 sqm
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4 Beds,3 Bath,108.98 sqm
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4 Beds,2 Bath,130.06 sqm
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House,4 Beds,4 Bath,163.51 sqm
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3 Beds,3 Bath,133.04 sqm
...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2 Beds,2 Bath,65.96 sqm
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4 Beds,5 Bath,192.03 sqm
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4 Beds,4 Bath,121.98 sqm
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3 Beds,2 Bath,108.98 sqm
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3 Beds,2 Bath,86.03 sqm

In [85]:
# Regex for sqft
regex = re.findall(r"[0-9]\,?[0-9]+ sqft", home_df["Bed_bath_sizeinfo"][1])

In [86]:
regex

['1,173 sqft']

In [87]:
home_df["Area_in_sqft"] = home_df["Bed_bath_sizeinfo"].apply(lambda x:re.findall(r"[0-9]\,?[0-9]+ sqft",x)[0] if re.findall(r"[0-9]\,?[0-9]+ sqft",x) else None)

In [88]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,Bathrooms,Area_in_sqm,Area_in_sqft
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2 Beds,2 Bath,81.01 sqm,872 sqft
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4 Beds,3 Bath,108.98 sqm,"1,173 sqft"
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4 Beds,2 Bath,130.06 sqm,"1,400 sqft"
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House,4 Beds,4 Bath,163.51 sqm,"1,760 sqft"
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3 Beds,3 Bath,133.04 sqm,"1,432 sqft"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2 Beds,2 Bath,65.96 sqm,710 sqft
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4 Beds,5 Bath,192.03 sqm,"2,067 sqft"
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4 Beds,4 Bath,121.98 sqm,"1,313 sqft"
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3 Beds,2 Bath,108.98 sqm,"1,173 sqft"
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3 Beds,2 Bath,86.03 sqm,926 sqft

In [89]:
#home_df.drop(columns=["Bed_bath_sizeinfo","Area"],axis=1, inplace=True)

In [90]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,Bathrooms,Area_in_sqm,Area_in_sqft
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2 Beds,2 Bath,81.01 sqm,872 sqft
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4 Beds,3 Bath,108.98 sqm,"1,173 sqft"
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4 Beds,2 Bath,130.06 sqm,"1,400 sqft"
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House,4 Beds,4 Bath,163.51 sqm,"1,760 sqft"
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3 Beds,3 Bath,133.04 sqm,"1,432 sqft"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2 Beds,2 Bath,65.96 sqm,710 sqft
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4 Beds,5 Bath,192.03 sqm,"2,067 sqft"
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4 Beds,4 Bath,121.98 sqm,"1,313 sqft"
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3 Beds,2 Bath,108.98 sqm,"1,173 sqft"
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3 Beds,2 Bath,86.03 sqm,926 sqft

In [91]:
home_df["Area_in_sqm"].unique()

array(['81.01 sqm', '108.98 sqm', '130.06 sqm', '163.51 sqm',
       '133.04 sqm', '87.98 sqm', '170.01 sqm', '256.04 sqm',
       '116.04 sqm', '93 sqm', '360 sqm', '144 sqm', '75.99 sqm',
       '119.94 sqm', '200.67 sqm', '46.92 sqm', '78.04 sqm', '99.96 sqm',
       '144.09 sqm', '103.03 sqm', '102.01 sqm', '64.94 sqm', '140 sqm',
       '91.97 sqm', '109.9 sqm', '45.99 sqm', '226.03 sqm', '74.97 sqm',
       '346.99 sqm', '91.04 sqm', '211.08 sqm', '89.19 sqm', '86.96 sqm',
       '96.99 sqm', '348.85 sqm', '203.92 sqm', '58.99 sqm', '72 sqm',
       '67.91 sqm', '61.97 sqm', '142.98 sqm', '70.98 sqm', '112.97 sqm',
       '120.96 sqm', '44.04 sqm', '132.94 sqm', '94.02 sqm', '55 sqm',
       '57.97 sqm', '100.99 sqm', '146.04 sqm', '107.02 sqm',
       '168.99 sqm', '73.02 sqm', '72.19 sqm', '208.01 sqm', '79.99 sqm',
       '119.01 sqm', '62.99 sqm', '95.04 sqm', '53.98 sqm', '110 sqm',
       '716.19 sqm', '145.02 sqm', '49.98 sqm', '173.91 sqm', '78.97 sqm',
       '147.99 sqm', '69.96 sqm', '66.98 sqm', '85.01 sqm', '369.1 sqm',
       '83.98 sqm', '56.02 sqm', '394.84 sqm', '9.57 sqm', '226.78 sqm',
       '103.96 sqm', '60.02 sqm', '129.69 sqm', '848.95 sqm',
       '121.98 sqm', '72.93 sqm', '304.91 sqm', '485.98 sqm',
       '306.02 sqm', '210.98 sqm', '312.99 sqm', '141.96 sqm',
       '179.02 sqm', '114.92 sqm', '82.96 sqm', '60.94 sqm', '52.03 sqm',
       None, '44.97 sqm', '223.43 sqm', '81.94 sqm', '104.98 sqm',
       '99.03 sqm', '65.03 sqm', '82.03 sqm', '120.87 sqm', '92.9 sqm',
       '177.91 sqm', '171.03 sqm', '111.95 sqm', '86.03 sqm',
       '111.02 sqm', '68 sqm', '51 sqm', '185.81 sqm', '98.01 sqm',
       '112.04 sqm', '103.31 sqm', '200.02 sqm', '157.01 sqm',
       '110.93 sqm', '41.99 sqm', '159.98 sqm', '128.02 sqm',
       '122.07 sqm', '61.04 sqm', '510.97 sqm', '377.74 sqm', '69.03 sqm',
       '325.16 sqm', '153.01 sqm', '38 sqm', '158.03 sqm', '286.98 sqm',
       '122.91 sqm', '260.13 sqm', '151.06 sqm', '48.03 sqm',
       '429.96 sqm', '155.98 sqm', '298.13 sqm', '104.05 sqm',
       '149.02 sqm', '69.86 sqm', '281.77 sqm', '145.95 sqm', '62.06 sqm',
       '132.02 sqm', '89 sqm', '124.95 sqm', '90.95 sqm', '200.21 sqm',
       '13.19 sqm', '202.06 sqm', '120.03 sqm', '155.8 sqm', '84.08 sqm',
       '455.97 sqm', '68.93 sqm', '233 sqm', '65.96 sqm', '332.04 sqm',
       '39.02 sqm', '125.98 sqm', '117.99 sqm', '124.03 sqm',
       '164.62 sqm', '43.94 sqm', '413.42 sqm', '333.52 sqm',
       '230.03 sqm', '82.22 sqm', '102.94 sqm', '141.03 sqm',
       '133.97 sqm', '115.01 sqm', '167.04 sqm', '341.05 sqm',
       '113.99 sqm', '117.06 sqm', '291.53 sqm', '683.49 sqm',
       '637.31 sqm', '89.93 sqm', '144.56 sqm', '93.92 sqm', '201.97 sqm',
       '134.99 sqm', '271 sqm', '74.04 sqm', '619.01 sqm', '226.22 sqm',
       '297.85 sqm', '225.94 sqm', '171.96 sqm', '43.01 sqm', '42.92 sqm',
       '173.73 sqm', '90.02 sqm', '352.01 sqm', '138.98 sqm',
       '185.62 sqm', '210.89 sqm', '451.51 sqm', '64.01 sqm',
       '840.03 sqm', '250.84 sqm', '204.67 sqm', '187.01 sqm',
       '48.96 sqm', '150.97 sqm', '106 sqm', '138.24 sqm', '118.92 sqm',
       '400.88 sqm', '129.97 sqm', '39.95 sqm', '303.14 sqm',
       '353.96 sqm', '290.97 sqm', '137.96 sqm', '137.03 sqm',
       '598.76 sqm', '59.92 sqm', '95.97 sqm', '162.21 sqm', '229.93 sqm',
       '174.1 sqm', '75.07 sqm', '182 sqm', '40.04 sqm', '154.03 sqm',
       '778.99 sqm', '10.5 sqm', '599.97 sqm', '120.77 sqm', '170.94 sqm',
       '123 sqm', '385.55 sqm', '165 sqm', '311.97 sqm', '252.05 sqm',
       '350.99 sqm', '148.64 sqm', '213.96 sqm', '576 sqm', '305.19 sqm',
       '189.99 sqm', '252.97 sqm', '36.98 sqm', '301.01 sqm',
       '891.87 sqm', '162.02 sqm', '321.91 sqm', '151.99 sqm',
       '408.96 sqm', '183.02 sqm', '740.72 sqm', '310.48 sqm',
       '464.51 sqm', '653.76 sqm', '529.55 sqm', '210.05 sqm',
       '521.37 sqm', '31.96 sqm', '404.87 sqm', '743.22 sqm', '55.93 sqm',
       '351.36 sqm', '337.98 sqm', '290.14 sqm', '600.99 sqm',
       '130.99 sqm', '406.92 sqm', '1,204.02 sqm', '192.03 sqm'],
      dtype=object)

In [92]:

home_df["Bed_bath_sizeinfo"].value_counts()

3 Beds2 Baths1,001 sqft / 93 sqm        20
3 Beds2 Baths990 sqft / 91.97 sqm       10
2 Beds2 Baths732 sqft / 68 sqm           8
3 Beds2 Baths1,119 sqft / 103.96 sqm     6
3 Beds2 Baths1,216 sqft / 112.97 sqm     6
                                        ..
4 Beds3 Baths1,173 sqft / 108.98 sqm     1
3 Beds2 Baths1,431 sqft / 132.94 sqm     1
4 Beds3 Baths2,508 sqft / 233 sqm        1
3 Beds2 Baths1,012 sqft / 94.02 sqm      1
3 Beds2 Baths926 sqft / 86.03 sqm        1
Name: Bed_bath_sizeinfo, Length: 397, dtype: int64

In [93]:
68.93
111.02
360
1,074.24
#regex = re.findall(r"[0-9]\,?[0-9]\.?[0-9]\.?[0-9]\.?[0-9]*","68.93"'111.02''360''1,074.24')

(1, 74.24)

In [94]:
#regex

In [95]:
#regex = re.findall(r"[0-9]\,?[0-9]\.?[0-9]\.?[0-9]\.?[0-9]*","68.93"'111.02''360''1,074.24')

In [96]:
# regerx for sqm
#regex = re.findall(r"[0-9]?,?\d{1,4}\.\d{1,3} sqm", home_df["Bed_bath_sizeinfo"][500])

In [97]:
#regex

In [98]:
#regex = re.findall(r"[0-9]?,?\d{1,4}\.?\d{1,3} sqm", "809.9 sqm")

In [99]:
#regex

In [100]:
#regex = re.findall(r"\d{0,3}?\,?\d{1,4}\.?\d{1,3} sqm", home_df["Bed_bath_sizeinfo"][1])

In [101]:
#regex

In [102]:
#regex = re.findall(r"\d{0,3}?\,?\d{1,4}\.?\d{1,3} sqm", home_df["Bed_bath_sizeinfo"][500])

In [103]:
regex

['1,173 sqft']

In [104]:
#regex = re.findall(r"\d{0,3}?\,?\d{1,4}\.?\d{1,3} sqm", home_df["Bed_bath_sizeinfo"][0])

In [105]:
regex

['1,173 sqft']

In [106]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,Bathrooms,Area_in_sqm,Area_in_sqft
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2 Beds,2 Bath,81.01 sqm,872 sqft
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4 Beds,3 Bath,108.98 sqm,"1,173 sqft"
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4 Beds,2 Bath,130.06 sqm,"1,400 sqft"
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House,4 Beds,4 Bath,163.51 sqm,"1,760 sqft"
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3 Beds,3 Bath,133.04 sqm,"1,432 sqft"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2 Beds,2 Bath,65.96 sqm,710 sqft
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4 Beds,5 Bath,192.03 sqm,"2,067 sqft"
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4 Beds,4 Bath,121.98 sqm,"1,313 sqft"
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3 Beds,2 Bath,108.98 sqm,"1,173 sqft"
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3 Beds,2 Bath,86.03 sqm,926 sqft

In [107]:
#home_df.drop(columns=["Bed_bath_sizeinfo","Area"],axis=1, inplace=True)

In [108]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,Bathrooms,Area_in_sqm,Area_in_sqft
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2 Beds,2 Bath,81.01 sqm,872 sqft
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4 Beds,3 Bath,108.98 sqm,"1,173 sqft"
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4 Beds,2 Bath,130.06 sqm,"1,400 sqft"
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House,4 Beds,4 Bath,163.51 sqm,"1,760 sqft"
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3 Beds,3 Bath,133.04 sqm,"1,432 sqft"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2 Beds,2 Bath,65.96 sqm,710 sqft
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4 Beds,5 Bath,192.03 sqm,"2,067 sqft"
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4 Beds,4 Bath,121.98 sqm,"1,313 sqft"
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3 Beds,2 Bath,108.98 sqm,"1,173 sqft"
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3 Beds,2 Bath,86.03 sqm,926 sqft

In [109]:
home_df.isnull().sum()

Name                     0
Lane                   175
PageNo                   0
Price                    0
Offer                   17
Bed_bath_sizeinfo        0
Year_of_Manufacture     42
Lease_period             0
Type_of_home             1
No_of_Bedrooms          68
Bathrooms                0
Area_in_sqm              4
Area_in_sqft             4
dtype: int64

In [110]:
home_df.duplicated().sum()

3

In [111]:
home_df.duplicated().value_counts()

False    609
True       3
dtype: int64

In [112]:
noof_duplicxtaes = home_df.drop_duplicates()

In [113]:
noof_duplicxtaes

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,Bathrooms,Area_in_sqm,Area_in_sqft
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2 Beds,2 Bath,81.01 sqm,872 sqft
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4 Beds,3 Bath,108.98 sqm,"1,173 sqft"
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4 Beds,2 Bath,130.06 sqm,"1,400 sqft"
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House,4 Beds,4 Bath,163.51 sqm,"1,760 sqft"
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3 Beds,3 Bath,133.04 sqm,"1,432 sqft"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2 Beds,2 Bath,65.96 sqm,710 sqft
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4 Beds,5 Bath,192.03 sqm,"2,067 sqft"
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4 Beds,4 Bath,121.98 sqm,"1,313 sqft"
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3 Beds,2 Bath,108.98 sqm,"1,173 sqft"
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3 Beds,2 Bath,86.03 sqm,926 sqft

In [114]:
noof_duplicxtaes.duplicated().sum()

0

In [115]:
noof_duplicxtaes.isnull().sum()

Name                     0
Lane                   174
PageNo                   0
Price                    0
Offer                   17
Bed_bath_sizeinfo        0
Year_of_Manufacture     42
Lease_period             0
Type_of_home             1
No_of_Bedrooms          68
Bathrooms                0
Area_in_sqm              4
Area_in_sqft             4
dtype: int64

In [116]:
home_df.isnull().sum()

Name                     0
Lane                   175
PageNo                   0
Price                    0
Offer                   17
Bed_bath_sizeinfo        0
Year_of_Manufacture     42
Lease_period             0
Type_of_home             1
No_of_Bedrooms          68
Bathrooms                0
Area_in_sqm              4
Area_in_sqft             4
dtype: int64

In [117]:
home_df["Lane"].unique()

array(['21 Rambai Rd', '590 Yishun Ring Rd', nan, ' Jln Senang',
       '18 Lor M Telok Kurau', '9 Butterworth Lane', '8 Keppel Bay View',
       '37 Scotts Rd', '1 Leedon Hts', '190 Depot Rd',
       '370F Alexandra Rd', '30 Jln Kemaman', '10 Choa Chu Kang Grove',
       ' Luxus Hill Ave', '88 Mackenzie Rd', ' Emerald Hill Rd',
       '5 Dairy Farm Hts', '64 Flora Dr', '21 Ang Mo Kio Ave 9',
       '1 Silat Ave', '55 Cove Dr', '1 Lewis Rd', '10 Upp Serangoon View',
       '7 Upp Bt Timah View', '235 Arcadia Rd', '6 Hacienda Grove',
       '10 Bt Batok St 41', '12 West Coast Cres', '99 Hougang Ave 2',
       '8 Clementi Ave 1', '20 Handy Rd', '6 Derbyshire Rd',
       '14 Bedok Nth Dr', '828 Upp Bt Timah Rd', '2 Indus Rd',
       '9 Alexandra View', '93 Yishun St 81', '50 Everton Rd',
       '10 Gopeng St', '2 Kensington Pk Dr', '188 Joo Chiat Terrace',
       '13 Sengkang East Ave', '73 Punggol Ctrl', '6 Tg Rhu Rd',
       ' Ocean Dr', '101 Prince Charles Cres', '70 Shenton Way',
       '13 Cove Dr', '16 Choa Chu Kang Grove', '21 Flora Rd',
       '30 Farrer Rd', '13 Fernvale Lane', '9 Lor 101 Changi',
       '18 Marina Boulevard', '21 Sembawang Cres', '41 Hougang Ave 7',
       ' Sembawang Rd', ' Fernvale Rd', '21 Marina Way', ' ',
       '1 Shenton Way', '26 Simei St 1', '49 Normanton Pk', ' Jln Jarak',
       '25 Meyappa Chettiar Rd', '22 Balmoral Rd', '18 Siglap Link',
       '299 Bedok Sth Ave 3', '10A Braddell Hill', '57 Hillview Ave',
       '64A Sth Buona Vista Rd', '70 Upp Serangoon View',
       '26 Serangoon Nth Ave 1', '7 Sengkang East Ave', '28 Beach Rd',
       '66 Anchorvale Cres', ' Upp Changi Rd East', '10 Prome Rd',
       '83 Hougang Ave 2', ' Jln Labu Manis', '32 Flora Dr',
       '35 Sembawang Cres', '11 King Albert Pk', '23 Kim Keat Cl',
       '1B Shelford Rd', '57 Choa Chu Kang Loop', '107 West Coast Vale',
       '60 Anchorvale Cres', '9 Sin Ming Walk', '16 Enggor St',
       '510 Upp Serangoon Rd', '42 East Coast Rd', '21 Lor M Telok Kurau',
       '1 Bt Batok St 25', '8 Jln Rama Rama', '432 Upp Changi Rd',
       '13 Silat Ave', '10 Alexandra View', '103 Hillview Rise',
       '103 Prince Charles Cres', ' Jln Lanjut', '12 Tai Thong Cres',
       '5A Shenton Way', '1 Fort Rd', ' Lentor Plain', '57 Tampines Lane',
       '10 Hillview Rise', '12 Bedok Rise', '21 Tampines Lane',
       '24 Bt Batok St 52', '408 River Valley Rd', '11 Pasir Ris Grove',
       '23 Pasir Ris Rise', '20 Margaret Dr', ' Coronation Rd West',
       '5 Lor 39 Geylang', ' Daisy Rd', '9 Cairnhill Rd', ' Tu Fu Ave',
       '6 Marina Boulevard', '308 Telok Kurau Rd', '287 Ocean Dr',
       '8A Paterson Hill', '55 Cairnhill Rd', ' Paya Lebar Cres',
       '91 Hougang Ave 2', '6 Alexandra View', '60 Robertson Quay',
       '26 Bedok Nth Dr', '221 Queensway', '520 Balestier Rd',
       '8 Amber Rd', '1189 Upp Serangoon Rd', '18 Anderson Rd',
       '40 Keppel Bay Dr', '471 River Valley Rd', '3 Bt Batok St 25',
       '115 Tampines Rd', '33 Leonie Hill Rd', '103 Pasir Ris Grove',
       ' How Sun Dr', '71 Punggol Ctrl', '3 Bedok Sth Ave 3',
       '21 Fernvale Rd', '73 Oxley Rise', '1 Duchess Rd', '51 Kg Bugis',
       '115 Jln Jurong Kechil', '69 Pasir Ris Grove', '52 Flora Dr',
       '2 Bishan St 25', '37 Yishun St 51', ' Jln Bangsawan',
       '137 Tanah Merah Kechil Rd Sth', '22 Serangoon Nth Ave 1',
       '3 Leedon Hts', '233 Upp Paya Lebar Rd', '55 Normanton Pk',
       '2 Mistri Rd', '17 Cove Way', '90 Jellicoe Rd', '21 Stirling Rd',
       '124 Jurong East St 13', '15 Jln Rajawali', '107 West Coast Cres',
       '8 Jln Ayer', '69 Poh Huat Rd', '6 Rambai Rd', '19 Pasir Ris Rise',
       '41 Tampines Lane', ' Blair Rd', ' Barker Rd',
       '50 Sth Buona Vista Rd', ' Jln Keruing', ' Jln Pernama',
       '25 Fernvale Lane', '10B Braddell Hill', '10 Martin Pl',
       '98 Punggol Dr', '224 Telok Kurau Rd', '206 Depot Rd',
       '71 Sinaran Dr', '33 Lor Kilat', '18 Woodsville Cl', '23 Amber Rd',
       '27 Ewe Boon Rd', ' Jln Seruling', '6 Sims Dr', '88 Jellicoe Rd',
       '89 Pasir Ris Hts', '97 Hougang Ave 2', ' Pearl Island',
       '64 Potong Pasir Ave 1', ' Tanah Merah Besar Lane',
       '238 Orchard Boulevard', '85 Tampines Ave 1', '332 Jln Eunos',
       '112 Lor G Telok Kurau', '1 Lincoln Rd', '85 Pasir Ris Hts',
       '252 Pasir Panjang Rd', ' Kheam Hock Rd', '166 Lentor Loop',
       '96 Punggol Dr', '18 Ang Mo Kio Ave 2', ' Sunrise Ave',
       '9 Leonie Hill', '63 Tampines St 86', '463 Pasir Panjang Rd',
       '87 Compassvale Bow', '21 Delta Rd', '60 Zion Rd', '17 Hume Ave',
       '902 Sims Ave', '5 Silat Ave', '89 Rangoon Rd', ' Eden Grove',
       '965 Bt Timah Rd', '10 Lor Marzuki', '1 Cherry Ave',
       '15 Leedon Hts', ' Richards Pl', '12 Jelebu Rd', '60 Newton Rd',
       '101 West Coast Cres', '205 Jln Loyang Besar', '1177 Serangoon Rd',
       ' Koon Seng Rd', '63 Cairnhill Circle', '63 Cavenagh Rd',
       '1 Fraser St', '3 Wallich St', '7 Jurong Lake Link',
       '28B Jln Lempeng', ' Kg Java Rd', '6 Paya Lebar Rd',
       '11 Serangoon Nth View', '38 Lor 30 Geylang', ' Boscombe Rd',
       '34 Bayshore Rd', '2 Jln Anak Bt', '31 Pheng Geck Ave',
       ' Lentor St', '273 Bedok Sth Ave 3', '237 Arcadia Rd',
       ' Charlton Lane', '62 Flora Rd', '34 Parbury Ave',
       '376 Thomson Rd', '1 Serangoon Nth View', '3 Bishan St 15',
       ' Trevose Cres', '21 Mccallum St', '50 Bayshore Rd',
       '2 Marina Boulevard', ' Westwood Rd', ' Lengkok Angsa',
       '36 Ah Hood Rd', '213 Guillemard Rd', '8 Bassein Rd',
       '142 Race Course Rd', '14 Yishun Ave 9', ' Treasure Island',
       '1 Kim Seng Walk', '55 Changi Rd', '29 Fernvale Cl',
       '10 Beatty Rd', '767 Upp Serangoon Rd', '8 Margate Rd',
       '1 Keppel Bay View', ' Jln Riang', '91 Cashew Rd',
       '6C Orange Grove Rd', '46 Phoenix Rd', '53C Grange Rd',
       '11 Thomson Lane', '27 Yishun Cl', '2 Kitchener Link',
       '12 Kitchener Link', '61 Grange Rd', '119 Bt Batok West Ave 8',
       ' Walmer Dr', '46 Keppel Bay Dr', '17 Keppel Bay View',
       '33 Rochester Dr', '15 Leonie Hill Rd', '1 Bernam St',
       '86 Compassvale Bow', '29 Keppel Bay View', '10 Prinsep Link',
       '8 Enggor St', '11 River Valley Cl', ' Jln Kechubong',
       '11 Woodlands Dr 72', '20 Sims Dr', '1 Robey Cres',
       '1 Ridgewood Cl', ' Wak Hassan Dr', '1 Jln Naung',
       '592 Yishun Ring Rd', ' Tanah Merah Kechil Ave', '30 Braddell Rd',
       '180 Bencoolen St', ' Lornie Rd', '1 Jln Taman',
       '53 Compassvale Bow', '1 Yishun St 51', '73 Jln Tua Kong',
       ' Meyer Rd', '2 Bt Batok St 41', '8 Sims Dr', ' Jln Rukam',
       '16 Fernvale St', '11 Yio Chu Kang Rd', '16 Canberra Dr',
       '162 Mariam Way', ' Jln Angin Laut', '48 St. Thomas Walk',
       '158 Canberra Dr', '93 Compassvale Bow', '37 Sembawang Cres',
       ' Jln Selamat', '2 Kay Poh Rd', '65 Cavenagh Rd',
       '1 King Albert Pk', ' Holland Rd', '65 Lloyd Rd',
       '19 Tampines Ctrl 7', '18 Holland Hill', ' West Coast Lane',
       '348 Balestier Rd', '3 Yishun St 51', '5 Jln Mutiara',
       '36 Chay Yan St', ' Jln Kayu', '5 Kellock Rd', '19 Oxley Rd',
       '732 Bedok Reservoir Rd', '88 Mergui Rd', '344 River Valley Rd',
       '56 Lor 8 Geylang', '8 Lor 25A Geylang', ' Jln Binchang',
       '202 Depot Rd', ' Sian Tuan Ave', '15 Seletar Rd',
       '89 Lor L Telok Kurau', ' Stevens Rd', '42 Florence Rd',
       '5 Pandan Valley', '80 Anson Rd', '800 Upp Bt Timah Rd',
       '37 Lentor Hills Rd', '74 Grange Rd', '1 Lor 20 Geylang',
       '36 Pine Grove', '22 Yew Siang Rd', '1 Jiak Kim St', '2 Dunman Rd'],
      dtype=object)

In [118]:
#home_df.drop(columns=["Bed_bath_sizeinfo"],axis=1, inplace=True)

In [119]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,Bathrooms,Area_in_sqm,Area_in_sqft
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2 Beds,2 Bath,81.01 sqm,872 sqft
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4 Beds,3 Bath,108.98 sqm,"1,173 sqft"
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4 Beds,2 Bath,130.06 sqm,"1,400 sqft"
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House,4 Beds,4 Bath,163.51 sqm,"1,760 sqft"
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3 Beds,3 Bath,133.04 sqm,"1,432 sqft"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2 Beds,2 Bath,65.96 sqm,710 sqft
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4 Beds,5 Bath,192.03 sqm,"2,067 sqft"
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4 Beds,4 Bath,121.98 sqm,"1,313 sqft"
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3 Beds,2 Bath,108.98 sqm,"1,173 sqft"
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3 Beds,2 Bath,86.03 sqm,926 sqft

In [120]:
home_df.isnull().sum()

Name                     0
Lane                   175
PageNo                   0
Price                    0
Offer                   17
Bed_bath_sizeinfo        0
Year_of_Manufacture     42
Lease_period             0
Type_of_home             1
No_of_Bedrooms          68
Bathrooms                0
Area_in_sqm              4
Area_in_sqft             4
dtype: int64

In [121]:
home_df.duplicated().sum()

3

In [122]:
home_df.drop_duplicates(inplace=True)

In [123]:
home_df.duplicated().sum()

0

In [124]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,Bathrooms,Area_in_sqm,Area_in_sqft
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2 Beds,2 Bath,81.01 sqm,872 sqft
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4 Beds,3 Bath,108.98 sqm,"1,173 sqft"
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4 Beds,2 Bath,130.06 sqm,"1,400 sqft"
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House,4 Beds,4 Bath,163.51 sqm,"1,760 sqft"
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3 Beds,3 Bath,133.04 sqm,"1,432 sqft"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2 Beds,2 Bath,65.96 sqm,710 sqft
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4 Beds,5 Bath,192.03 sqm,"2,067 sqft"
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4 Beds,4 Bath,121.98 sqm,"1,313 sqft"
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3 Beds,2 Bath,108.98 sqm,"1,173 sqft"
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3 Beds,2 Bath,86.03 sqm,926 sqft

In [125]:
home_df.isnull().sum()

Name                     0
Lane                   174
PageNo                   0
Price                    0
Offer                   17
Bed_bath_sizeinfo        0
Year_of_Manufacture     42
Lease_period             0
Type_of_home             1
No_of_Bedrooms          68
Bathrooms                0
Area_in_sqm              4
Area_in_sqft             4
dtype: int64

In [126]:
#home_df.drop(columns=["Bed_bath_sizeinfo"],axis=1, inplace=True)

In [127]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,Bathrooms,Area_in_sqm,Area_in_sqft
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2 Beds,2 Bath,81.01 sqm,872 sqft
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4 Beds,3 Bath,108.98 sqm,"1,173 sqft"
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4 Beds,2 Bath,130.06 sqm,"1,400 sqft"
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House,4 Beds,4 Bath,163.51 sqm,"1,760 sqft"
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3 Beds,3 Bath,133.04 sqm,"1,432 sqft"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2 Beds,2 Bath,65.96 sqm,710 sqft
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4 Beds,5 Bath,192.03 sqm,"2,067 sqft"
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4 Beds,4 Bath,121.98 sqm,"1,313 sqft"
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3 Beds,2 Bath,108.98 sqm,"1,173 sqft"
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3 Beds,2 Bath,86.03 sqm,926 sqft

In [128]:
home_df.isnull().sum()

Name                     0
Lane                   174
PageNo                   0
Price                    0
Offer                   17
Bed_bath_sizeinfo        0
Year_of_Manufacture     42
Lease_period             0
Type_of_home             1
No_of_Bedrooms          68
Bathrooms                0
Area_in_sqm              4
Area_in_sqft             4
dtype: int64

In [129]:
home_df["Name"]

0                         2 Bed Condo in Cantiz @ Rambai
1            4 Bed Condo in The Wisteria / Wisteria Mall
2                     4 Room HDB in 114 Edgefield Plains
3                            4 Bed House on Jalan Senang
4                           3 Bed Condo in Madeira Court
                             ...
607               2 Bed Condo in Lentor Hills Residences
608    4 Bed Condo in Newport Residences / Newport Tower
609                            4 Bed Condo in Terra Hill
610                               3 Bed Condo in Riviere
611                          3 Bed Condo in Grand Dunman
Name: Name, Length: 609, dtype: object

In [130]:
reg =home_df["Name"].str.replace("[0-9A-z ]* (?:in|on)",'').str.replace('\d{2,5}[A-z]','').str.replace('\d{2,5}','')

C:\Users\65866\AppData\Local\Temp\ipykernel_16308\395660814.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  reg =home_df["Name"].str.replace("[0-9A-z ]* (?:in|on)",'').str.replace('\d{2,5}[A-z]','').str.replace('\d{2,5}','')

In [131]:
reg

0                          Cantiz @ Rambai
1             The Wisteria / Wisteria Mall
2                         Edgefield Plains
3                             Jalan Senang
4                            Madeira Court
                      ...
607                Lentor Hills Residences
608     Newport Residences / Newport Tower
609                             Terra Hill
610                                Riviere
611                           Grand Dunman
Name: Name, Length: 609, dtype: object

In [132]:
home_df["Name_of_house"] =home_df["Name"].str.replace("[0-9A-z ]* (?:in|on)",'').str.replace('\d{2,5}[A-z]','').str.replace('\d{2,5}','')

C:\Users\65866\AppData\Local\Temp\ipykernel_16308\1593094841.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  home_df["Name_of_house"] =home_df["Name"].str.replace("[0-9A-z ]* (?:in|on)",'').str.replace('\d{2,5}[A-z]','').str.replace('\d{2,5}','')

In [133]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,Bathrooms,Area_in_sqm,Area_in_sqft,Name_of_house
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2 Beds,2 Bath,81.01 sqm,872 sqft,Cantiz @ Rambai
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4 Beds,3 Bath,108.98 sqm,"1,173 sqft",The Wisteria / Wisteria Mall
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4 Beds,2 Bath,130.06 sqm,"1,400 sqft",Edgefield Plains
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House,4 Beds,4 Bath,163.51 sqm,"1,760 sqft",Jalan Senang
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3 Beds,3 Bath,133.04 sqm,"1,432 sqft",Madeira Court
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2 Beds,2 Bath,65.96 sqm,710 sqft,Lentor Hills Residences
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4 Beds,5 Bath,192.03 sqm,"2,067 sqft",Newport Residences / Newport Tower
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4 Beds,4 Bath,121.98 sqm,"1,313 sqft",Terra Hill
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3 Beds,2 Bath,108.98 sqm,"1,173 sqft",Riviere
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3 Beds,2 Bath,86.03 sqm,926 sqft,Grand Dunman

In [134]:
home_df["Name_of_house"].isnull().sum()

0

In [135]:
# regex for Area_in_sqm 
home_df["Area_in_sqm"]

0       81.01 sqm
1      108.98 sqm
2      130.06 sqm
3      163.51 sqm
4      133.04 sqm
          ...
607     65.96 sqm
608    192.03 sqm
609    121.98 sqm
610    108.98 sqm
611     86.03 sqm
Name: Area_in_sqm, Length: 609, dtype: object

In [136]:
reg = re.sub(r"sqm",'', home_df["Area_in_sqm"][0])

In [137]:
reg

'81.01 '

In [138]:
home_df["Area_in_sqm"]

0       81.01 sqm
1      108.98 sqm
2      130.06 sqm
3      163.51 sqm
4      133.04 sqm
          ...
607     65.96 sqm
608    192.03 sqm
609    121.98 sqm
610    108.98 sqm
611     86.03 sqm
Name: Area_in_sqm, Length: 609, dtype: object

In [139]:
#home_df["Area_in_sqm"] = home_df["Area_in_sqm"].apply(lambda x:re.sub(r"sqm",'',x)[0] if re.sub(r"sqm",'',x) else None)

In [140]:
# Filling home_df["Area_in_sqm"]
home_df["Area_in_sqm"] = home_df["Area_in_sqm"].fillna(0)

In [141]:
home_df["Area_in_sqm"].isnull().sum()

0

In [142]:
# Filling home_df["Area_in_sqft"]
home_df["Area_in_sqft"] = home_df["Area_in_sqft"].fillna(0)

In [143]:
home_df["Area_in_sqft"].isnull().sum()

0

In [144]:
home_df.isnull().sum()

Name                     0
Lane                   174
PageNo                   0
Price                    0
Offer                   17
Bed_bath_sizeinfo        0
Year_of_Manufacture     42
Lease_period             0
Type_of_home             1
No_of_Bedrooms          68
Bathrooms                0
Area_in_sqm              0
Area_in_sqft             0
Name_of_house            0
dtype: int64

In [145]:
home_df["Type_of_home"].isnull().sum()

1

In [146]:
# filling home_df["Type_of_home"]
home_df["Type_of_home"] = home_df["Type_of_home"].fillna("Condo")

In [147]:
home_df["Type_of_home"].isnull().sum()

0

In [148]:
home_df.isnull().sum()

Name                     0
Lane                   174
PageNo                   0
Price                    0
Offer                   17
Bed_bath_sizeinfo        0
Year_of_Manufacture     42
Lease_period             0
Type_of_home             0
No_of_Bedrooms          68
Bathrooms                0
Area_in_sqm              0
Area_in_sqft             0
Name_of_house            0
dtype: int64

In [149]:
#home_df["Area_in_sqm"] = home_df["Area_in_sqm"].apply(lambda x:re.sub(r"sqm",'',x)[0] if re.sub(r"sqm",'',x) else None)

In [150]:
# filling Area_in_sqm
home_df["Area_in_sqm"] = home_df["Area_in_sqm"].fillna(0)

In [151]:
home_df["Area_in_sqm"].isnull().sum()

0

In [152]:
#home_df["Area_in_sqm"].str.replace('sqm','')

In [153]:
home_df["Area_in_sqm"]

0       81.01 sqm
1      108.98 sqm
2      130.06 sqm
3      163.51 sqm
4      133.04 sqm
          ...
607     65.96 sqm
608    192.03 sqm
609    121.98 sqm
610    108.98 sqm
611     86.03 sqm
Name: Area_in_sqm, Length: 609, dtype: object

In [154]:
a = home_df["Area_in_sqm"].str.replace(' sqm','')

In [155]:
a

0       81.01
1      108.98
2      130.06
3      163.51
4      133.04
        ...
607     65.96
608    192.03
609    121.98
610    108.98
611     86.03
Name: Area_in_sqm, Length: 609, dtype: object

In [156]:
home_df["Area_in_sqm"] = home_df["Area_in_sqm"].str.replace(' sqm','')

In [157]:
home_df["Area_in_sqm"]

0       81.01
1      108.98
2      130.06
3      163.51
4      133.04
        ...
607     65.96
608    192.03
609    121.98
610    108.98
611     86.03
Name: Area_in_sqm, Length: 609, dtype: object

In [158]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,Bathrooms,Area_in_sqm,Area_in_sqft,Name_of_house
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2 Beds,2 Bath,81.01,872 sqft,Cantiz @ Rambai
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4 Beds,3 Bath,108.98,"1,173 sqft",The Wisteria / Wisteria Mall
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4 Beds,2 Bath,130.06,"1,400 sqft",Edgefield Plains
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House,4 Beds,4 Bath,163.51,"1,760 sqft",Jalan Senang
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3 Beds,3 Bath,133.04,"1,432 sqft",Madeira Court
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2 Beds,2 Bath,65.96,710 sqft,Lentor Hills Residences
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4 Beds,5 Bath,192.03,"2,067 sqft",Newport Residences / Newport Tower
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4 Beds,4 Bath,121.98,"1,313 sqft",Terra Hill
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3 Beds,2 Bath,108.98,"1,173 sqft",Riviere
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3 Beds,2 Bath,86.03,926 sqft,Grand Dunman

In [159]:
# Regex for Area_in_sqft
home_df["Area_in_sqft"] = home_df["Area_in_sqft"].str.replace(' sqft','').str.replace(',','')

In [160]:
home_df["Area_in_sqft"]

0       872
1      1173
2      1400
3      1760
4      1432
       ...
607     710
608    2067
609    1313
610    1173
611     926
Name: Area_in_sqft, Length: 609, dtype: object

In [161]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,Bathrooms,Area_in_sqm,Area_in_sqft,Name_of_house
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2 Beds,2 Bath,81.01,872,Cantiz @ Rambai
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4 Beds,3 Bath,108.98,1173,The Wisteria / Wisteria Mall
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4 Beds,2 Bath,130.06,1400,Edgefield Plains
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House,4 Beds,4 Bath,163.51,1760,Jalan Senang
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3 Beds,3 Bath,133.04,1432,Madeira Court
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2 Beds,2 Bath,65.96,710,Lentor Hills Residences
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4 Beds,5 Bath,192.03,2067,Newport Residences / Newport Tower
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4 Beds,4 Bath,121.98,1313,Terra Hill
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3 Beds,2 Bath,108.98,1173,Riviere
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3 Beds,2 Bath,86.03,926,Grand Dunman

In [162]:
home_df["Area_in_sqm"].isnull().sum()

4

In [163]:
home_df["Area_in_sqft"].isnull().sum()

4

In [164]:
#home_df["Area_in_sqm"] = home_df["Area_in_sqm"].fillna(0)

In [165]:
home_df["Area_in_sqm"]

0       81.01
1      108.98
2      130.06
3      163.51
4      133.04
        ...
607     65.96
608    192.03
609    121.98
610    108.98
611     86.03
Name: Area_in_sqm, Length: 609, dtype: object

In [166]:
# Regex for No_of_Bedrooms
home_df["No_of_Bedrooms"] = home_df["No_of_Bedrooms"].str.replace(' Beds','')

In [168]:
home_df["No_of_Bedrooms"]

0      2
1      4
2      4
3      4
4      3
      ..
607    2
608    4
609    4
610    3
611    3
Name: No_of_Bedrooms, Length: 609, dtype: object

In [172]:
home_df["Bathrooms"]

0      2 Bath
1      3 Bath
2      2 Bath
3      4 Bath
4      3 Bath
        ...
607    2 Bath
608    5 Bath
609    4 Bath
610    2 Bath
611    2 Bath
Name: Bathrooms, Length: 609, dtype: object

In [171]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,Bathrooms,Area_in_sqm,Area_in_sqft,Name_of_house
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2,2 Bath,81.01,872,Cantiz @ Rambai
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4,3 Bath,108.98,1173,The Wisteria / Wisteria Mall
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4,2 Bath,130.06,1400,Edgefield Plains
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House,4,4 Bath,163.51,1760,Jalan Senang
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3,3 Bath,133.04,1432,Madeira Court
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2,2 Bath,65.96,710,Lentor Hills Residences
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4,5 Bath,192.03,2067,Newport Residences / Newport Tower
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4,4 Bath,121.98,1313,Terra Hill
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3,2 Bath,108.98,1173,Riviere
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3,2 Bath,86.03,926,Grand Dunman

In [174]:
home_df["Bathrooms"] = home_df["Bathrooms"].str.replace(' Bath','')

In [176]:
home_df["No_of_Bedrooms"].isnull().sum()

68

In [177]:
# Regex for Bathrooms
home_df["Bathrooms"] = home_df["Bathrooms"].str.replace(' Bath','')

In [178]:
home_df["Bathrooms"]

0      2
1      3
2      2
3      4
4      3
      ..
607    2
608    5
609    4
610    2
611    2
Name: Bathrooms, Length: 609, dtype: object

In [179]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,Bathrooms,Area_in_sqm,Area_in_sqft,Name_of_house
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2,2,81.01,872,Cantiz @ Rambai
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4,3,108.98,1173,The Wisteria / Wisteria Mall
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4,2,130.06,1400,Edgefield Plains
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House,4,4,163.51,1760,Jalan Senang
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3,3,133.04,1432,Madeira Court
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2,2,65.96,710,Lentor Hills Residences
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4,5,192.03,2067,Newport Residences / Newport Tower
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4,4,121.98,1313,Terra Hill
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3,2,108.98,1173,Riviere
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3,2,86.03,926,Grand Dunman

In [180]:
# regex for Offer
home_df["Offer_persquarefeet_in_$"] = home_df["Offer"].str.replace(' psf','').str.replace('$','').str.replace(',','')

C:\Users\65866\AppData\Local\Temp\ipykernel_16308\446060272.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  home_df["Offer_persquarefeet_in_$"] = home_df["Offer"].str.replace(' psf','').str.replace('$','').str.replace(',','')

In [181]:
home_df["Offer_persquarefeet"]

KeyError: 'Offer_persquarefeet'

In [182]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,Bathrooms,Area_in_sqm,Area_in_sqft,Name_of_house,Offer_persquarefeet_in_$
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2,2,81.01,872,Cantiz @ Rambai,1606
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4,3,108.98,1173,The Wisteria / Wisteria Mall,1321
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4,2,130.06,1400,Edgefield Plains,536
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House,4,4,163.51,1760,Jalan Senang,2273
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3,3,133.04,1432,Madeira Court,1536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2,2,65.96,710,Lentor Hills Residences,1900
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4,5,192.03,2067,Newport Residences / Newport Tower,2945
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4,4,121.98,1313,Terra Hill,2497
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3,2,108.98,1173,Riviere,2477
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3,2,86.03,926,Grand Dunman,2100

In [183]:
# Regex for Price
home_df["Price_in_$"] = home_df["Price"].str.replace('$','').str.replace(',','')

C:\Users\65866\AppData\Local\Temp\ipykernel_16308\1795269636.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  home_df["Price_in_$"] = home_df["Price"].str.replace('$','').str.replace(',','')

In [184]:
home_df["Price_in_$"]

0      1400000
1      1550000
2       750000
3      3999999
4      2200000
        ...
607    1349000
608    6087315
609    3278450
610    2905200
611    1944600
Name: Price_in_$, Length: 609, dtype: object

In [185]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,Bathrooms,Area_in_sqm,Area_in_sqft,Name_of_house,Offer_persquarefeet_in_$,Price_in_$
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2,2,81.01,872,Cantiz @ Rambai,1606,1400000
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4,3,108.98,1173,The Wisteria / Wisteria Mall,1321,1550000
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4,2,130.06,1400,Edgefield Plains,536,750000
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House,4,4,163.51,1760,Jalan Senang,2273,3999999
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3,3,133.04,1432,Madeira Court,1536,2200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2,2,65.96,710,Lentor Hills Residences,1900,1349000
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4,5,192.03,2067,Newport Residences / Newport Tower,2945,6087315
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4,4,121.98,1313,Terra Hill,2497,3278450
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3,2,108.98,1173,Riviere,2477,2905200
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3,2,86.03,926,Grand Dunman,2100,1944600

In [187]:
home_df["Offer_persquarefeet_in_$"] =  home_df["Offer_persquarefeet_in_$"].str.replace(',','')

In [188]:
home_df["Offer_persquarefeet_in_$"]

0      1606
1      1321
2       536
3      2273
4      1536
       ...
607    1900
608    2945
609    2497
610    2477
611    2100
Name: Offer_persquarefeet_in_$, Length: 609, dtype: object

In [189]:
home_df["Price_in_$"]= home_df["Price_in_$"].str.replace(',','')

In [190]:
home_df["Price_in_$"]

0      1400000
1      1550000
2       750000
3      3999999
4      2200000
        ...
607    1349000
608    6087315
609    3278450
610    2905200
611    1944600
Name: Price_in_$, Length: 609, dtype: object

In [ ]:
#home_df.rename(columns={"Name_of_house":"Location","Bathrooms":"No_of_Bathrooms","Lane":"Street_address"})

In [ ]:
#home_df.drop(columns=["PageNo","Price","Offer"], axis=1,inplace=True)

In [ ]:
home_df

In [ ]:
#home_df.rename(columns={"Lane":"Street_address","Name_of_house":"Location","Bathrooms":"No_of_bathrooms"}, inplace=True)

In [191]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,Bathrooms,Area_in_sqm,Area_in_sqft,Name_of_house,Offer_persquarefeet_in_$,Price_in_$
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2,2,81.01,872,Cantiz @ Rambai,1606,1400000
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4,3,108.98,1173,The Wisteria / Wisteria Mall,1321,1550000
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4,2,130.06,1400,Edgefield Plains,536,750000
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House,4,4,163.51,1760,Jalan Senang,2273,3999999
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3,3,133.04,1432,Madeira Court,1536,2200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2,2,65.96,710,Lentor Hills Residences,1900,1349000
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4,5,192.03,2067,Newport Residences / Newport Tower,2945,6087315
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4,4,121.98,1313,Terra Hill,2497,3278450
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3,2,108.98,1173,Riviere,2477,2905200
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3,2,86.03,926,Grand Dunman,2100,1944600

In [192]:
home_df.isnull().sum()

Name                          0
Lane                        174
PageNo                        0
Price                         0
Offer                        17
Bed_bath_sizeinfo             0
Year_of_Manufacture          42
Lease_period                  0
Type_of_home                  0
No_of_Bedrooms               68
Bathrooms                     0
Area_in_sqm                   4
Area_in_sqft                  4
Name_of_house                 0
Offer_persquarefeet_in_$     17
Price_in_$                    0
dtype: int64

In [193]:
home_df.duplicated().sum()

0

In [194]:
home_df.drop_duplicates(inplace=True)

In [195]:
home_df.duplicated().sum()

0

In [196]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,Bathrooms,Area_in_sqm,Area_in_sqft,Name_of_house,Offer_persquarefeet_in_$,Price_in_$
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2,2,81.01,872,Cantiz @ Rambai,1606,1400000
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4,3,108.98,1173,The Wisteria / Wisteria Mall,1321,1550000
2,4 Room HDB in 114 Edgefield Plains,NaN,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4,2,130.06,1400,Edgefield Plains,536,750000
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",None,Freehold,Terraced House,4,4,163.51,1760,Jalan Senang,2273,3999999
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3,3,133.04,1432,Madeira Court,1536,2200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2,2,65.96,710,Lentor Hills Residences,1900,1349000
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4,5,192.03,2067,Newport Residences / Newport Tower,2945,6087315
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4,4,121.98,1313,Terra Hill,2497,3278450
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3,2,108.98,1173,Riviere,2477,2905200
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3,2,86.03,926,Grand Dunman,2100,1944600

In [199]:
# Filling missing values for home_df["Street_address"]
home_df["Lane"] = home_df["Lane"].fillna("Unknown_address")

In [201]:
home_df["Lane"].isnull().sum()

0

In [202]:
home_df.isnull().sum()

Name                         0
Lane                         0
PageNo                       0
Price                        0
Offer                       17
Bed_bath_sizeinfo            0
Year_of_Manufacture         42
Lease_period                 0
Type_of_home                 0
No_of_Bedrooms              68
Bathrooms                    0
Area_in_sqm                  4
Area_in_sqft                 4
Name_of_house                0
Offer_persquarefeet_in_$    17
Price_in_$                   0
dtype: int64

In [203]:
home_df["Year_of_Manufacture"].values

array(['2010', '2019', '2003', None, '1996', '2013', '2011', '2012',
       '2015', '2019', '2013', '1997', '2020', '2018', '2013', '2010',
       '2015', '2009', '1997', None, '1998', '1998', '1976', '1997',
       '2015', '2004', '2016', '2015', '2004', '2023', '2010', '2011',
       '2004', '2008', '1995', '2011', '1983', '1986', '2020', '1974',
       '1970', '2018', None, '1998', '2023', '2025', '2018', '1987',
       '2008', '1999', '1984', '1983', '2017', '2015', '2024', '1999',
       '1993', '2016', '1994', '2023', '2007', '1979', '1990', '1983',
       '2015', None, '2023', '2014', '2017', '2016', None, '2018', '2019',
       '2011', '2018', '2001', '1999', '1993', '1996', None, '2023',
       '1978', '2016', '1996', '2010', '2018', '1985', '2019', '2023',
       None, '1989', '1976', '2019', '2018', '1994', '1975', '2014',
       '2016', '2011', '1996', '2023', '2023', None, '1984', '2011',
       '2018', '2021', '2017', '1985', '2018', '1981', '2002', '2023',
       '2019', '2018', '1969', '2024', '1996', '2015', '2018', '2016',
       '2018', '2018', '1985', '1999', '2012', '2023', None, None, '2015',
       '1985', '2018', '2016', '1976', '2012', '2001', '2025', None,
       '2005', '2004', '2018', '2023', '2022', '2018', '2004', '1985',
       '2014', '2019', '1998', '1980', '2014', '2019', '2004', '1998',
       None, '2004', '2014', '1999', '2023', '2004', '2021', '2016',
       '2018', '1980', '2017', '2017', '2005', None, '2005', '1982',
       '2003', '2023', '2024', '2001', '2017', '2023', '2000', '2000',
       '2015', '2015', '2019', '2023', '2007', '1989', '2019', '1976',
       '2016', '2021', None, '2015', '2019', None, '2017', '1970', '2008',
       '2019', '2015', '2010', '2011', '1989', '1978', '2016', '2023',
       '2009', '1998', '2015', '2008', '2018', '2017', '2004', '2016',
       '2014', '2004', '2015', '2017', '2015', '1998', '2016', '2018',
       '2015', '2015', None, '2017', '1985', '2008', '2020', '1988',
       '2019', '2018', '2018', '2018', '1998', '2019', '2014', '2011',
       '2007', '1967', '2018', None, '2015', '1977', '1993', '2012',
       '2017', '1983', '1999', '2017', '1980', '1984', '2024', '2015',
       '2018', '1989', '2019', '2023', '2010', '2016', '2013', '2007',
       '2010', '2002', '2022', '1993', '1997', '2016', '2014', '2019',
       '1989', '2010', '1996', '1987', '2001', '2022', '1997', '2016',
       '1997', '1988', '2015', '2023', None, '1987', None, '2023', '2016',
       '2015', None, None, '2016', '1985', '2016', '1988', '1981', '2021',
       '1976', '1989', '2003', '2018', '1987', '2014', '1983', '2024',
       '1977', '2013', '1985', '2005', '2018', '1989', '2015', '2013',
       '1996', '1992', '2003', None, '1983', '1988', '2017', '2019',
       '2007', '1996', '2017', '2023', '2016', '2022', None, '2003',
       '1978', '2018', '1998', '2012', '2010', '2014', '2015', '2008',
       '2012', '2017', '1999', '2016', None, '1993', '2003', '2023',
       '2014', '2021', '2019', '1993', '2011', '2021', '2016', '2017',
       '2007', '2011', '2013', '1967', '1995', '2022', '2023', '2003',
       '2011', '2018', None, '2011', '2018', '2023', '2012', '2019',
       '1979', '2011', '1999', '2015', None, '1981', '1985', '2018',
       '2007', '2023', '2011', '2012', '2016', '2016', '2010', '2022',
       '1984', '2010', '2010', '1984', '2024', '2017', '2015', '2017',
       '2017', '2003', '2013', '1985', '2001', '2018', '2017', None,
       '2020', '2021', '2001', '2015', '1978', None, '2001', '1996',
       '2003', '2024', '2012', '1972', '2016', '1998', None, '2017',
       '2018', '1983', '2011', '2014', '1998', '2019', '2018', '2013',
       '1988', '2021', '2016', '2016', '1990', '1987', '2011', '1986',
       '2019', '2008', '1997', '2018', '1981', None, '2016', '2011',
       '2012', '2010', '2018', '2017', '2016', '2015', '2017', '2015',
       '2017', '2010', '2018', '1995', '2018', '2017', '2016', '2018',
       '2014', '2016', '2020', '2017', '1984', '2012', '2016', '2011',
       None, '1983', '1992', '2008', '2019', '2016', '1985', '1996', None,
       '2010', '2027', '2009', '2009', '1983', '1982', '1996', '2027',
       None, '2004', '2011', '2011', '1984', '1996', '2026', '2017', None,
       '2023', '2015', '1983', '2011', '2004', '1971', '2001', '2015',
       '2015', '1990', '2001', '2000', '2025', '2016', '2018', '1981',
       '1984', '1981', '1984', '2017', None, '2015', '1970', '2019',
       '2007', '2001', '1997', '2011', '2016', '1998', '1981', '2008',
       '1997', '2009', '1989', '2018', '1994', None, None, '2020', '2017',
       '2017', '2018', '1980', '2022', '2015', '2019', '2014', '2000',
       None, '2018', '2013', '2017', '2017', '2018', '2018', '2002',
       '2002', '2014', '1984', '2007', '1997', '1997', '2018', '2017',
       '2015', '2013', '2012', '2016', None, '2022', '2013', '2018',
       '2018', '2017', '2010', None, '2018', '1997', '1970', '2015',
       '1973', None, '2018', '2023', '1971', '1997', '1997', '2011',
       '2025', '1978', '2013', None, '1985', '2014', '2021', '1992',
       '1985', '2013', '2012', '1978', '1978', '1997', '2015', '2030',
       '2029', '2028', '2024', '2029', '2030', '2029', '2030', '2030',
       '2029', '2018', '2028', '2027', '2028', '2030', '2026', '2023',
       '2028'], dtype=object)

In [204]:
# fill na for Year_of_Manufacture         
home_df["Year_of_Manufacture"] = home_df["Year_of_Manufacture"].fillna("Unknown")

In [205]:
home_df.dtypes

Name                        object
Lane                        object
PageNo                       int64
Price                       object
Offer                       object
Bed_bath_sizeinfo           object
Year_of_Manufacture         object
Lease_period                object
Type_of_home                object
No_of_Bedrooms              object
Bathrooms                   object
Area_in_sqm                 object
Area_in_sqft                object
Name_of_house               object
Offer_persquarefeet_in_$    object
Price_in_$                  object
dtype: object

In [206]:
home_df["Year_of_Manufacture"]=home_df["Year_of_Manufacture"].astype(int)

ValueError: invalid literal for int() with base 10: 'Unknown'

In [207]:
## fillna for Offer_persquarefeet_in_$    
home_df["Offer_persquarefeet_in_$"].fillna(home_df["Offer_persquarefeet_in_$"].mean(), inplace=True)

TypeError: can only concatenate str (not "int") to str

In [208]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,Bathrooms,Area_in_sqm,Area_in_sqft,Name_of_house,Offer_persquarefeet_in_$,Price_in_$
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2,2,81.01,872,Cantiz @ Rambai,1606,1400000
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4,3,108.98,1173,The Wisteria / Wisteria Mall,1321,1550000
2,4 Room HDB in 114 Edgefield Plains,Unknown_address,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4,2,130.06,1400,Edgefield Plains,536,750000
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",Unknown,Freehold,Terraced House,4,4,163.51,1760,Jalan Senang,2273,3999999
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3,3,133.04,1432,Madeira Court,1536,2200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2,2,65.96,710,Lentor Hills Residences,1900,1349000
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4,5,192.03,2067,Newport Residences / Newport Tower,2945,6087315
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4,4,121.98,1313,Terra Hill,2497,3278450
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3,2,108.98,1173,Riviere,2477,2905200
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3,2,86.03,926,Grand Dunman,2100,1944600

In [209]:
home_df.isnull().sum()

Name                         0
Lane                         0
PageNo                       0
Price                        0
Offer                       17
Bed_bath_sizeinfo            0
Year_of_Manufacture          0
Lease_period                 0
Type_of_home                 0
No_of_Bedrooms              68
Bathrooms                    0
Area_in_sqm                  4
Area_in_sqft                 4
Name_of_house                0
Offer_persquarefeet_in_$    17
Price_in_$                   0
dtype: int64

In [210]:
home_df["No_of_Bedrooms"] = home_df["No_of_Bedrooms"].fillna( )

ValueError: Must specify a fill 'value' or 'method'.

In [ ]:
home_df["No_of_Bedrooms"]

In [ ]:
home_df["No_of_Bedrooms"].isnull().sum()

In [211]:
home_df.isnull().sum()

Name                         0
Lane                         0
PageNo                       0
Price                        0
Offer                       17
Bed_bath_sizeinfo            0
Year_of_Manufacture          0
Lease_period                 0
Type_of_home                 0
No_of_Bedrooms              68
Bathrooms                    0
Area_in_sqm                  4
Area_in_sqft                 4
Name_of_house                0
Offer_persquarefeet_in_$    17
Price_in_$                   0
dtype: int64

In [ ]:
home_df["No_of_bathrooms"] = home_df["No_of_bathrooms"].fillna(1)

In [ ]:
home_df

In [ ]:
home_df["No_of_Bathrooms"].isnull().sum()

In [ ]:
home_df

In [212]:
home_df.isnull().sum()

Name                         0
Lane                         0
PageNo                       0
Price                        0
Offer                       17
Bed_bath_sizeinfo            0
Year_of_Manufacture          0
Lease_period                 0
Type_of_home                 0
No_of_Bedrooms              68
Bathrooms                    0
Area_in_sqm                  4
Area_in_sqft                 4
Name_of_house                0
Offer_persquarefeet_in_$    17
Price_in_$                   0
dtype: int64

In [214]:
home_df

,Name,Lane,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,Bathrooms,Area_in_sqm,Area_in_sqft,Name_of_house,Offer_persquarefeet_in_$,Price_in_$
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2,2,81.01,872,Cantiz @ Rambai,1606,1400000
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4,3,108.98,1173,The Wisteria / Wisteria Mall,1321,1550000
2,4 Room HDB in 114 Edgefield Plains,Unknown_address,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4,2,130.06,1400,Edgefield Plains,536,750000
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",Unknown,Freehold,Terraced House,4,4,163.51,1760,Jalan Senang,2273,3999999
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3,3,133.04,1432,Madeira Court,1536,2200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2,2,65.96,710,Lentor Hills Residences,1900,1349000
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4,5,192.03,2067,Newport Residences / Newport Tower,2945,6087315
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4,4,121.98,1313,Terra Hill,2497,3278450
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3,2,108.98,1173,Riviere,2477,2905200
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3,2,86.03,926,Grand Dunman,2100,1944600

In [215]:
home_df.rename(columns={"Lane":"Street_address","Name_of_house":"Location_of_house","Bathrooms":"No_of_bathrooms"}, inplace=True)

In [216]:
home_df

,Name,Street_address,PageNo,Price,Offer,Bed_bath_sizeinfo,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,No_of_bathrooms,Area_in_sqm,Area_in_sqft,Location_of_house,Offer_persquarefeet_in_$,Price_in_$
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,1,"$1,400,000","$1,606 psf",2 Beds2 Baths872 sqft / 81.01 sqm,2010,Freehold,Apartment,2,2,81.01,872,Cantiz @ Rambai,1606,1400000
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,1,"$1,550,000","$1,321 psf","4 Beds3 Baths1,173 sqft / 108.98 sqm",2019,99 years,Apartment,4,3,108.98,1173,The Wisteria / Wisteria Mall,1321,1550000
2,4 Room HDB in 114 Edgefield Plains,Unknown_address,1,"$750,000",$536 psf,"4 Beds2 Baths1,400 sqft / 130.06 sqm",2003,99 years,HDB (4RM),4,2,130.06,1400,Edgefield Plains,536,750000
3,4 Bed House on Jalan Senang,Jln Senang,1,"$3,999,999","$2,273 psf","4 Beds4 Baths1,760 sqft / 163.51 sqm",Unknown,Freehold,Terraced House,4,4,163.51,1760,Jalan Senang,2273,3999999
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1,"$2,200,000","$1,536 psf","3 Beds3 Baths1,432 sqft / 133.04 sqm",1996,Freehold,Apartment,3,3,133.04,1432,Madeira Court,1536,2200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,17,"$1,349,000","$1,900 psf",2 Beds2 Baths710 sqft / 65.96 sqm,2028,99 years,Condo,2,2,65.96,710,Lentor Hills Residences,1900,1349000
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,17,"$6,087,315","$2,945 psf","4 Beds5 Baths2,067 sqft / 192.03 sqm",2030,Freehold,Condo,4,5,192.03,2067,Newport Residences / Newport Tower,2945,6087315
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,17,"$3,278,450","$2,497 psf","4 Beds4 Baths1,313 sqft / 121.98 sqm",2026,Freehold,Condo,4,4,121.98,1313,Terra Hill,2497,3278450
610,3 Bed Condo in Riviere,1 Jiak Kim St,17,"$2,905,200","$2,477 psf","3 Beds2 Baths1,173 sqft / 108.98 sqm",2023,99 years,Condo,3,2,108.98,1173,Riviere,2477,2905200
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,17,"$1,944,600","$2,100 psf",3 Beds2 Baths926 sqft / 86.03 sqm,2028,99 years,Condo,3,2,86.03,926,Grand Dunman,2100,1944600

In [217]:
home_df.drop(columns=["PageNo","Price","Offer","Bed_bath_sizeinfo"], axis=1,inplace=True)

In [218]:
home_df

,Name,Street_address,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,No_of_bathrooms,Area_in_sqm,Area_in_sqft,Location_of_house,Offer_persquarefeet_in_$,Price_in_$
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,2010,Freehold,Apartment,2,2,81.01,872,Cantiz @ Rambai,1606,1400000
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,2019,99 years,Apartment,4,3,108.98,1173,The Wisteria / Wisteria Mall,1321,1550000
2,4 Room HDB in 114 Edgefield Plains,Unknown_address,2003,99 years,HDB (4RM),4,2,130.06,1400,Edgefield Plains,536,750000
3,4 Bed House on Jalan Senang,Jln Senang,Unknown,Freehold,Terraced House,4,4,163.51,1760,Jalan Senang,2273,3999999
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1996,Freehold,Apartment,3,3,133.04,1432,Madeira Court,1536,2200000
...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,2028,99 years,Condo,2,2,65.96,710,Lentor Hills Residences,1900,1349000
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,2030,Freehold,Condo,4,5,192.03,2067,Newport Residences / Newport Tower,2945,6087315
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,2026,Freehold,Condo,4,4,121.98,1313,Terra Hill,2497,3278450
610,3 Bed Condo in Riviere,1 Jiak Kim St,2023,99 years,Condo,3,2,108.98,1173,Riviere,2477,2905200
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,2028,99 years,Condo,3,2,86.03,926,Grand Dunman,2100,1944600

In [220]:
home_df.isnull().sum()

Name                         0
Street_address               0
Year_of_Manufacture          0
Lease_period                 0
Type_of_home                 0
No_of_Bedrooms              68
No_of_bathrooms              0
Area_in_sqm                  4
Area_in_sqft                 4
Location_of_house            0
Offer_persquarefeet_in_$    17
Price_in_$                   0
dtype: int64

In [221]:
home_df.duplicated().sum()

5

In [224]:
home_df.drop_duplicates(inplace=True)

In [225]:
home_df.duplicated().sum()

0

In [226]:
home_df.shape

(604, 12)

In [227]:
home_df.isnull().sum()

Name                         0
Street_address               0
Year_of_Manufacture          0
Lease_period                 0
Type_of_home                 0
No_of_Bedrooms              68
No_of_bathrooms              0
Area_in_sqm                  4
Area_in_sqft                 4
Location_of_house            0
Offer_persquarefeet_in_$    17
Price_in_$                   0
dtype: int64

In [233]:
mean = home_df.fillna(home_df.mean())

C:\Users\65866\AppData\Local\Temp\ipykernel_16308\3944896915.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean = home_df.fillna(home_df.mean())

In [234]:
mean

,Name,Street_address,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,No_of_bathrooms,Area_in_sqm,Area_in_sqft,Location_of_house,Offer_persquarefeet_in_$,Price_in_$
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,2010,Freehold,Apartment,2,2,81.01,872,Cantiz @ Rambai,1606,1400000
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,2019,99 years,Apartment,4,3,108.98,1173,The Wisteria / Wisteria Mall,1321,1550000
2,4 Room HDB in 114 Edgefield Plains,Unknown_address,2003,99 years,HDB (4RM),4,2,130.06,1400,Edgefield Plains,536,750000
3,4 Bed House on Jalan Senang,Jln Senang,Unknown,Freehold,Terraced House,4,4,163.51,1760,Jalan Senang,2273,3999999
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1996,Freehold,Apartment,3,3,133.04,1432,Madeira Court,1536,2200000
...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,2028,99 years,Condo,2,2,65.96,710,Lentor Hills Residences,1900,1349000
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,2030,Freehold,Condo,4,5,192.03,2067,Newport Residences / Newport Tower,2945,6087315
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,2026,Freehold,Condo,4,4,121.98,1313,Terra Hill,2497,3278450
610,3 Bed Condo in Riviere,1 Jiak Kim St,2023,99 years,Condo,3,2,108.98,1173,Riviere,2477,2905200
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,2028,99 years,Condo,3,2,86.03,926,Grand Dunman,2100,1944600

In [253]:
mean[mean["Offer_persquarefeet_in_$"].isnull()]

,Name,Street_address,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,No_of_bathrooms,Area_in_sqm,Area_in_sqft,Location_of_house,Offer_persquarefeet_in_$,Price_in_$
15,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,2010,Freehold,Apartment,2,2,81.01,872,Cantiz @ Rambai,NaN,Make an offer
51,5 Bed Condo in The Arcadia,235 Arcadia Rd,1983,99 years,Condo,5,4,348.85,3755,The Arcadia,NaN,Make an offer
87,2 Bed Condo in Eon Shenton,70 Shenton Way,2019,99 years,Condo,2,1,49.98,538,Eon Shenton,NaN,Make an offer
123,3 Bed Condo in Bedok Court,299 Bedok Sth Ave 3,1985,99 years,Condo,3,2,210.98,2271,Bedok Court,NaN,Make an offer
159,2 Bed Condo in The Gardens At Bishan,9 Sin Ming Walk,2004,99 years,Condo,2,2,82.03,883,The Gardens At Bishan,NaN,Make an offer
195,4 Room HDB in 449B Bukit Batok West Avenue 9,Unknown_address,2019,99 years,HDB (4A),3,2,92.9,1000,Bukit Batok West Avenue 9,NaN,Make an offer
231,3 Bed Condo in Parkview Apartments,3 Bt Batok St 25,1998,99 years,Apartment,3,3,104.05,1120,Parkview Apartments,NaN,Make an offer
267,5 Room HDB in 920 Jurong West Street 92,Unknown_address,1989,99 years,HDB (5I),4,2,121.98,1313,Jurong West Street,NaN,Make an offer
303,3 Room HDB in 102 Woodlands Street 13,Unknown_address,1985,99 years,HDB (3NG),2,2,68,732,Woodlands Street,NaN,Make an offer
339,4 Room HDB in 980D Buangkok Crescent,Unknown_address,2003,99 years,HDB (4A),3,2,89.93,968,Buangkok Crescent,NaN,Make an offer
375,2 Bed Condo in Floridian,965 Bt Timah Rd,2011,Freehold,Condo,2,2,90.02,969,Floridian,NaN,Make an offer
411,4 Bed House on Kampong Java Road,Kg Java Rd,Unknown,Freehold,Terraced House,4,3,138.24,1488,Kampong Java Road,NaN,Make an offer
447,4 Room HDB in 231A Sumang Lane,Unknown_address,2018,99 years,HDB (4RM),3,2,93,1001,Sumang Lane,NaN,Make an offer
483,2 Bed Condo in Spring Grove,53C Grange Rd,1996,99 years,Condo,2,3,94.02,1012,Spring Grove,NaN,Make an offer
519,3 Bed Condo in Ridgewood Condominium,1 Ridgewood Cl,1981,99 years,Condo,3,2,162.02,1744,Ridgewood Condominium,NaN,Make an offer
555,2 Bed Condo in Espada,48 St. Thomas Walk,2013,Freehold,Condo,2,1,64.01,689,Espada,NaN,Make an offer
591,3 Bed Condo in Aston Lodge,56 Lor 8 Geylang,1997,Freehold,Apartment,3,2,91.04,980,Aston Lodge,NaN,Make an offer

In [231]:
home_df["No_of_Bedrooms"].values

array(['2', '4', '4', '4', '3', '3', '3', '3', '3', '3', '3', '3', '3',
       '4', '5', '2', None, '2', '3', '4', '3', '4', '3', '4', '3', '3',
       '3', None, '3', '2', '4', '2', '4', '3', '2', '3', '5', '4', '3',
       '2', '2', '2', '2', '3', '2', '2', '3', '3', None, '3', '3', '5',
       '3', None, '2', '3', '2', '3', '3', '5', None, '3', '3', '2', '3',
       '3', '2', '3', None, '3', '4', '3', '2', '3', '2', '3', '3', '4',
       '4', '3', '2', '2', '3', '3', '4', '3', '3', '2', '2', '6', '3',
       '2', '4', '2', '2', '2', '2', '6', '6', '3', '2', '2', '6', '2',
       '2', '4', '5', '3', '3', '3', '5', '3', '4', '3', '3', '2', None,
       '3', '3', '2', '2', '3', '3', '3', '5', '3', None, '3', '6', '3',
       '3', '3', '2', '3', '2', '2', '2', '4', None, '2', None, '2', '2',
       '3', '2', '4', None, '3', '3', '3', '3', '3', '3', '2', '3', None,
       '2', '3', '2', '2', '2', None, '2', '5', '2', '2', '3', '3', '4',
       '3', '3', '5', '3', '3', None, '5', '3', '3', '3', '2', '3', '2',
       None, '3', '4', '2', '4', '2', '4', '2', '3', '6', None, '4', '4',
       '3', None, '3', '4', '4', '3', '4', '2', '2', '3', '2', '3', None,
       '4', '3', '2', '3', '4', '2', '3', '3', '3', '2', '2', '3', '2',
       '4', None, '2', '3', '2', '4', '2', '3', '3', '4', '3', '2', '2',
       '3', '3', '2', '2', '3', '3', '4', '4', '3', '3', '3', '3', '2',
       '5', '2', None, '5', '2', '4', '2', None, None, '3', '4', '2',
       None, '3', '2', '3', '2', '4', None, '3', '4', '3', '4', '3', '3',
       '4', '4', '4', '4', '3', '2', '2', '5', '4', '5', None, '3', '3',
       '5', '4', None, '2', '5', '4', '4', '3', '3', '3', '3', '3', '4',
       '4', '4', '3', '2', '3', '2', '3', '3', '3', None, '2', '3', '4',
       '3', '5', '3', '3', '3', '2', None, '3', '2', None, '6', '2', '5',
       '3', '2', '3', '4', '3', '3', '2', '2', '3', '4', '2', '4', None,
       '5', '2', '3', '3', '4', '2', '2', '5', '4', '3', '3', None, None,
       '2', '3', None, '3', '2', None, '3', '2', None, '3', '2', '2', '2',
       '4', '3', '2', '4', '2', '4', '3', '2', '3', '2', '4', '2', '2',
       '6', '3', '4', '3', None, '3', '5', '3', '3', None, '2', '2', None,
       '3', '3', '3', '3', '3', '3', None, '4', '2', None, '3', None, '3',
       '9', '3', '2', '3', '3', '2', None, '3', '5', '4', None, '3', '4',
       '5', '3', '3', '3', None, None, '4', None, '2', '3', '6', '2', '2',
       '2', '2', None, '5', '3', '2', '5', '2', '4', '2', None, None, '2',
       '3', None, '2', '2', '4', '6', '3', '2', None, '3', '2', '2', '5',
       None, '4', '3', '3', None, '3', '3', '6', '2', '3', '4', '3', '4',
       '3', '2', '4', '3', '3', '3', '4', '3', '4', '3', '4', '3', '3',
       None, '4', '2', '3', '4', '6', '2', '4', '4', '3', '4', '2', '3',
       None, '3', '6', '4', '3', None, '3', '4', '3', '4', '3', '7', '2',
       '2', '2', '2', '4', '4', None, '3', '2', '3', '5', '4', '3', '3',
       '3', '4', '5', '2', None, '2', '2', '3', '7', '2', None, '3', '2',
       '3', '5', '4', '2', '4', '2', '4', '3', '6', None, None, '3', None,
       '2', '6', '3', '2', '4', '2', '3', '3', '5', None, '3', '3', None,
       '2', '7', None, '2', '4', '2', '3', '0', '2', '2', '2', '3', '2',
       '4', '4', '3', '5', '3', '2', None, '3', '3', '5', '2', '5', '3',
       '3', '3', '2', '4', '4', None, '4', '3', '2', '2', '4', '3', None,
       '4', '4', '2', '4', '4', '3', '3'], dtype=object)

In [235]:
home_df

,Name,Street_address,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,No_of_bathrooms,Area_in_sqm,Area_in_sqft,Location_of_house,Offer_persquarefeet_in_$,Price_in_$
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,2010,Freehold,Apartment,2,2,81.01,872,Cantiz @ Rambai,1606,1400000
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,2019,99 years,Apartment,4,3,108.98,1173,The Wisteria / Wisteria Mall,1321,1550000
2,4 Room HDB in 114 Edgefield Plains,Unknown_address,2003,99 years,HDB (4RM),4,2,130.06,1400,Edgefield Plains,536,750000
3,4 Bed House on Jalan Senang,Jln Senang,Unknown,Freehold,Terraced House,4,4,163.51,1760,Jalan Senang,2273,3999999
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1996,Freehold,Apartment,3,3,133.04,1432,Madeira Court,1536,2200000
...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,2028,99 years,Condo,2,2,65.96,710,Lentor Hills Residences,1900,1349000
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,2030,Freehold,Condo,4,5,192.03,2067,Newport Residences / Newport Tower,2945,6087315
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,2026,Freehold,Condo,4,4,121.98,1313,Terra Hill,2497,3278450
610,3 Bed Condo in Riviere,1 Jiak Kim St,2023,99 years,Condo,3,2,108.98,1173,Riviere,2477,2905200
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,2028,99 years,Condo,3,2,86.03,926,Grand Dunman,2100,1944600

In [236]:
home_df.isnull().sum()

Name                         0
Street_address               0
Year_of_Manufacture          0
Lease_period                 0
Type_of_home                 0
No_of_Bedrooms              68
No_of_bathrooms              0
Area_in_sqm                  4
Area_in_sqft                 4
Location_of_house            0
Offer_persquarefeet_in_$    17
Price_in_$                   0
dtype: int64

In [238]:
home_df[home_df["No_of_Bedrooms"].isnull()] # shows null values

,Name,Street_address,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,No_of_bathrooms,Area_in_sqm,Area_in_sqft,Location_of_house,Offer_persquarefeet_in_$,Price_in_$
16,2 Room HDB in 180B Rivervale Crescent,Unknown_address,2015,99 years,HDB (2RM),None,1,46.92,505,Rivervale Crescent,768,388000
27,1 Bed Condo in Parc Olympia,64 Flora Dr,2015,99 years,Condo,None,1,45.99,495,Parc Olympia,1390,688000
48,Studio Condo in Nomu,20 Handy Rd,2008,Freehold,Apartment,None,1,44.04,474,Nomu,2700,1280000
53,1 Bed Condo in Bedok Residences,14 Bedok Nth Dr,2015,99 years,Condo,None,1,55,592,Bedok Residences,2111,1250000
60,1 Bed Condo in Icon,10 Gopeng St,2007,99 years,Apartment,None,2,73.02,786,Icon,1832,1440000
...,...,...,...,...,...,...,...,...,...,...,...,...
563,1 Bed Condo in M5,5 Jln Mutiara,2017,Freehold,Apartment,None,1,43.94,473,M5,2051,970000
566,2 Room HDB in 694D Woodlands Drive 62,Unknown_address,2018,99 years,HDB (2A),None,1,36.98,398,Woodlands Drive,754,300000
584,1 Bed Condo in The Garden Residences,1 Serangoon Nth View,2021,99 years,Condo,None,1,48.03,517,The Garden Residences,1818,940000
597,1 Bed Condo in Grange 1866,74 Grange Rd,2024,Freehold,Apartment,None,1,48.96,527,Grange,2979,1570000
604,1 Bed Condo in # 1 Suites,1 Lor 20 Geylang,2018,Freehold,Apartment,None,2,53.98,581,# 1 Suites,1528,888000

In [240]:
home_df["No_of_Bedrooms"] = home_df["No_of_Bedrooms"].fillna(1)

In [241]:
home_df[home_df["No_of_Bedrooms"].isnull()]

Empty DataFrame
Columns: [Name, Street_address, Year_of_Manufacture, Lease_period, Type_of_home, No_of_Bedrooms, No_of_bathrooms, Area_in_sqm, Area_in_sqft, Location_of_house, Offer_persquarefeet_in_$, Price_in_$]
Index: []

In [242]:
home_df.isnull().sum()

Name                         0
Street_address               0
Year_of_Manufacture          0
Lease_period                 0
Type_of_home                 0
No_of_Bedrooms               0
No_of_bathrooms              0
Area_in_sqm                  4
Area_in_sqft                 4
Location_of_house            0
Offer_persquarefeet_in_$    17
Price_in_$                   0
dtype: int64

In [243]:
home_df[home_df["Area_in_sqm"].isnull()]

,Name,Street_address,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,No_of_bathrooms,Area_in_sqm,Area_in_sqft,Location_of_house,Offer_persquarefeet_in_$,Price_in_$
124,5 Bed House on Summer Gardens,Upp Changi Rd East,1999,99 years,Cluster House,5,4,NaN,NaN,Summer Gardens,889,2688888
201,4 Bed House on The Morris Residences,Paya Lebar Cres,2016,Freehold,Cluster House,4,5,NaN,NaN,The Morris Residences,917,3680000
281,5 Bed House on Barker Road,Barker Rd,Unknown,Freehold,Bungalow,5,6,NaN,NaN,Barker Road,2449,12000000
513,4 Bed House on D'manor,Tanah Merah Kechil Ave,2001,99 years,Terraced House,4,5,NaN,NaN,D'manor,936,2550000

In [244]:
home_df.drop(index=[124,201,281,513], inplace=True) # to drop the rows which are missing values

In [245]:
home_df.isnull().sum()

Name                         0
Street_address               0
Year_of_Manufacture          0
Lease_period                 0
Type_of_home                 0
No_of_Bedrooms               0
No_of_bathrooms              0
Area_in_sqm                  0
Area_in_sqft                 0
Location_of_house            0
Offer_persquarefeet_in_$    17
Price_in_$                   0
dtype: int64

In [247]:
home_df[home_df["Offer_persquarefeet_in_$"].isnull()]

,Name,Street_address,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,No_of_bathrooms,Area_in_sqm,Area_in_sqft,Location_of_house,Offer_persquarefeet_in_$,Price_in_$
15,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,2010,Freehold,Apartment,2,2,81.01,872,Cantiz @ Rambai,NaN,Make an offer
51,5 Bed Condo in The Arcadia,235 Arcadia Rd,1983,99 years,Condo,5,4,348.85,3755,The Arcadia,NaN,Make an offer
87,2 Bed Condo in Eon Shenton,70 Shenton Way,2019,99 years,Condo,2,1,49.98,538,Eon Shenton,NaN,Make an offer
123,3 Bed Condo in Bedok Court,299 Bedok Sth Ave 3,1985,99 years,Condo,3,2,210.98,2271,Bedok Court,NaN,Make an offer
159,2 Bed Condo in The Gardens At Bishan,9 Sin Ming Walk,2004,99 years,Condo,2,2,82.03,883,The Gardens At Bishan,NaN,Make an offer
195,4 Room HDB in 449B Bukit Batok West Avenue 9,Unknown_address,2019,99 years,HDB (4A),3,2,92.9,1000,Bukit Batok West Avenue 9,NaN,Make an offer
231,3 Bed Condo in Parkview Apartments,3 Bt Batok St 25,1998,99 years,Apartment,3,3,104.05,1120,Parkview Apartments,NaN,Make an offer
267,5 Room HDB in 920 Jurong West Street 92,Unknown_address,1989,99 years,HDB (5I),4,2,121.98,1313,Jurong West Street,NaN,Make an offer
303,3 Room HDB in 102 Woodlands Street 13,Unknown_address,1985,99 years,HDB (3NG),2,2,68,732,Woodlands Street,NaN,Make an offer
339,4 Room HDB in 980D Buangkok Crescent,Unknown_address,2003,99 years,HDB (4A),3,2,89.93,968,Buangkok Crescent,NaN,Make an offer
375,2 Bed Condo in Floridian,965 Bt Timah Rd,2011,Freehold,Condo,2,2,90.02,969,Floridian,NaN,Make an offer
411,4 Bed House on Kampong Java Road,Kg Java Rd,Unknown,Freehold,Terraced House,4,3,138.24,1488,Kampong Java Road,NaN,Make an offer
447,4 Room HDB in 231A Sumang Lane,Unknown_address,2018,99 years,HDB (4RM),3,2,93,1001,Sumang Lane,NaN,Make an offer
483,2 Bed Condo in Spring Grove,53C Grange Rd,1996,99 years,Condo,2,3,94.02,1012,Spring Grove,NaN,Make an offer
519,3 Bed Condo in Ridgewood Condominium,1 Ridgewood Cl,1981,99 years,Condo,3,2,162.02,1744,Ridgewood Condominium,NaN,Make an offer
555,2 Bed Condo in Espada,48 St. Thomas Walk,2013,Freehold,Condo,2,1,64.01,689,Espada,NaN,Make an offer
591,3 Bed Condo in Aston Lodge,56 Lor 8 Geylang,1997,Freehold,Apartment,3,2,91.04,980,Aston Lodge,NaN,Make an offer

In [248]:
home_df[home_df["Price_in_$"].isnull()]

Empty DataFrame
Columns: [Name, Street_address, Year_of_Manufacture, Lease_period, Type_of_home, No_of_Bedrooms, No_of_bathrooms, Area_in_sqm, Area_in_sqft, Location_of_house, Offer_persquarefeet_in_$, Price_in_$]
Index: []

In [249]:
home_df["Price_in_$"].values

array(['1400000', '1550000', '750000', '3999999', '2200000', '1800000',
       '3333000', '11418000', '2600000', '680000', '3900000', '3200000',
       '1680000', '1700000', '4980000', 'Make an offer', '388000',
       '1600000', '568000', '10900000', '600000', '520000', '375888',
       '1158888', '620000', '649222', '1650000', '688000', '2500000',
       '1689000', '6300000', '2280000', '2388000', '950000', '1600000',
       '1450000', '4800000', '3784000', '1680000', '450000', '420000',
       '458000', '820000', '1720000', '1150000', '1600000', '888888',
       '988888', '1280000', '809000', '658888', 'Make an offer',
       '2750000', '1250000', '1260000', '838000', '1690000', '3300000',
       '1200000', '5868000', '1440000', '399999', '3499000', '450000',
       '2500000', '980000', '1300000', '1320000', '960000', '2850000',
       '25000000', '3400000', '1200000', '3680000', '1180000', '520000',
       '2100000', '839000', '860000', '611000', '2266000', '450000',
       '1288888', '1501500', '18000000', '1300000', '588000',
       'Make an offer', '1000000', '6000000', '530000', '700000',
       '2851333', '2690000', '899999', '415000', '720000', '5300000',
       '25000000', '1238888', '1725000', '980000', '5189000', '550000',
       '1530000', '7588000', '11580000', '586000', '2360000', '550000',
       '3800000', '2500000', '3650000', '738000', '1270000', '338000',
       '918000', '690000', '1688000', '475000', '7500000', '999999',
       '1500000', 'Make an offer', '1635000', '830000', '800000',
       '5500000', '1190000', '800000', '1550000', '1850000', '445000',
       '680000', '630000', '1400000', '1550000', '1680000', '1328000',
       '1570000', '1900000', '1350000', '1500000', '1400000', '655000',
       '1680000', '599999', '2100000', '518000', '3588000', '710000',
       '1980000', '960000', '930000', '1345000', '1550000', '550000',
       '1649899', 'Make an offer', '1780000', '768888', '1690000',
       '6080000', '1650000', '2400000', '2780000', '658000', '5000000',
       '508000', '658888', '2750000', '1980000', '670000', '890000',
       '2950000', '540000', '1400000', '739999', '1250000', '578888',
       '1180000', '1380000', '495000', '2350000', '388000', '1768000',
       '1480000', '23000000', '918888', '1390000', '6600000', '2250000',
       '4600000', '3800000', 'Make an offer', '800000', '3000000',
       '15500000', '595000', '6000000', '1220000', '1430000', '3000000',
       '999000', '3200000', '1200000', '7160400', '800000', '999000',
       '6000000', '4200000', '518000', '630000', '2300000', '1250000',
       '800000', '1008000', '4200000', '1199000', '7180000', '967260',
       '410000', '638000', '1350000', '928000', '1050000', '1668000',
       '698000', '3390000', 'Make an offer', '2500000', '2300000',
       '1980000', '598888', '418000', '488000', '600000', '1180000',
       '6180000', '980000', '3480000', '1350000', '598888', '1015000',
       '580000', '4888888', '1280000', '918000', '5650000', '820000',
       '565000', '1500000', '1199999', '1250000', '668000', '5280000',
       '1800000', '1650000', '525000', '1470000', '1848000', '1550000',
       '4814783', '779000', '650000', 'Make an offer', '1950000',
       '589999', '1000000', '930000', '2188888', '620000', '1750000',
       '721000', '508000', '2500000', '1000000', '8800000', '900000',
       '950000', '750000', '4250000', '4780000', '5300000', '750000',
       '458000', '2600000', '1050000', '3800000', '3980000', '468000',
       '495000', '1090000', '4300000', '1020000', '1830000', '3230000',
       '1720000', '450000', '4088000', 'Make an offer', '2980000',
       '1188888', '1990000', '920000', '1400000', '950000', '1090000',
       '2450000', '7250000', '580000', '528000', '2200000', '800000',
       '1310000', '1128000', '950000', '849000', '13888000', '1500000',
       '9000000', '545000', '490000', '585000', '909000', '748865',
       '6800000', '1380000', '1550000', '2980000', '6500000', '1088000',
       '928000', '1080000', '15880000', '1398000', 'Make an offer',
       '3250000', '2800000', '1600000', '1428000', '5988000', '6000000',
       '1850000', '2650000', '900000', '1058000', '1880000', '818000',
       '299999', '2168000', '1688000', '1100000', '568000', '1838000',
       '358000', '4000000', '2180000', '555000', '1180000', '2550000',
       '1080000', '630000', '8260000', '2800000', '4100000', '3900000',
       '398000', '485000', '1300000', '8990000', '1818000',
       'Make an offer', '21000000', '2749000', '4814783', '2800000',
       '850000', '630000', '8800000', '4500000', '488000', '958000',
       '1550000', '2999990', '1400000', '5500000', '720000', '3400000',
       '668888', '650000', '1950000', '890000', '5000000', '1850000',
       '789999', '880000', '1350000', '665000', '10000000', '768888',
       '1200000', '718888', '1500000', '1980000', '310000', '2380000',
       '5888888', 'Make an offer', '950000', '690000', '5000000',
       '3600000', '1850000', '2480000', '675000', '1600000', '1030000',
       '898000', '908000', '1650000', '620000', '18000000', '360000',
       '1750000', '1250000', '2550000', '1600000', '2600000', '615000',
       '390000', '13800000', '4360000', '5500000', '1680000', '1283310',
       '1750000', '1300000', '6242000', '908000', '1350000', '1000000',
       '6038000', '23800000', 'Make an offer', '2300000', '1680000',
       '610000', '1780000', '1200000', '35875000', '1050000', '2550000',
       '1480000', '850000', '355000', '3200000', '2600000', '10600000',
       '370000', '2000000', '4200000', '2479999', '3450000', '545000',
       '2000000', '6300000', '1132000', '2380000', '2410000', '10300000',
       '599000', '790000', '1385000', '8888888', '2749998', '2368000',
       '1568888', '3999000', 'Make an offer', '3500000', '18800000',
       '5300000', '1600000', '725000', '9900000', '3900000', '6500000',
       '350000', '3000000', '950000', '4960000', '8730000', '640000',
       '1180000', '950000', '1650000', '1970000', '3299999', '710000',
       '2780000', '3500000', '1188888', '380000', '1180000', '1780000',
       '810000', '1299000', '2688888', '1651000', 'Make an offer',
       '5750000', '1680000', '1480000', '598000', '1100000', '3350000',
       '8900000', '738888', '800000', '1428000', '1349800', '625000',
       '6500000', '1000000', '900000', '695000', '1080000', '1600000',
       '5500000', '625000', '1650000', '1700000', '1450000', '1600000',
       '550000', '8400000', '1280000', '1200000', '700000', '1498000',
       '2800000', '8100000', '590000', '6443000', '1900000',
       'Make an offer', '4880000', '750000', '6380000', '650000',
       '1345000', '1180000', '970000', '2250000', '8730000', '300000',
       '2199000', '2550000', '1380000', '318000', '11900000', '1800000',
       '1880000', '350000', '999999', '2975000', '2498700', '6993282',
       '3980000', '9880000', '638888', '1300000', '940000', '1850000',
       '638000', '13930000', '1800000', '5100000', '670000',
       'Make an offer', '588000', '2217585', '2608700', '2408250',
       '1570000', '2739990', '2886100', '1223790', '2409010', '38167200',
       '1622600', '888000', '2658100', '3044700', '1349000', '6087315',
       '3278450', '2905200', '1944600'], dtype=object)

In [251]:
home_df["Price_in_$"].unique()

array(['1400000', '1550000', '750000', '3999999', '2200000', '1800000',
       '3333000', '11418000', '2600000', '680000', '3900000', '3200000',
       '1680000', '1700000', '4980000', 'Make an offer', '388000',
       '1600000', '568000', '10900000', '600000', '520000', '375888',
       '1158888', '620000', '649222', '1650000', '688000', '2500000',
       '1689000', '6300000', '2280000', '2388000', '950000', '1450000',
       '4800000', '3784000', '450000', '420000', '458000', '820000',
       '1720000', '1150000', '888888', '988888', '1280000', '809000',
       '658888', '2750000', '1250000', '1260000', '838000', '1690000',
       '3300000', '1200000', '5868000', '1440000', '399999', '3499000',
       '980000', '1300000', '1320000', '960000', '2850000', '25000000',
       '3400000', '3680000', '1180000', '2100000', '839000', '860000',
       '611000', '2266000', '1288888', '1501500', '18000000', '588000',
       '1000000', '6000000', '530000', '700000', '2851333', '2690000',
       '899999', '415000', '720000', '5300000', '1238888', '1725000',
       '5189000', '550000', '1530000', '7588000', '11580000', '586000',
       '2360000', '3800000', '3650000', '738000', '1270000', '338000',
       '918000', '690000', '1688000', '475000', '7500000', '999999',
       '1500000', '1635000', '830000', '800000', '5500000', '1190000',
       '1850000', '445000', '630000', '1328000', '1570000', '1900000',
       '1350000', '655000', '599999', '518000', '3588000', '710000',
       '1980000', '930000', '1345000', '1649899', '1780000', '768888',
       '6080000', '2400000', '2780000', '658000', '5000000', '508000',
       '670000', '890000', '2950000', '540000', '739999', '578888',
       '1380000', '495000', '2350000', '1768000', '1480000', '23000000',
       '918888', '1390000', '6600000', '2250000', '4600000', '3000000',
       '15500000', '595000', '1220000', '1430000', '999000', '7160400',
       '4200000', '2300000', '1008000', '1199000', '7180000', '967260',
       '410000', '638000', '928000', '1050000', '1668000', '698000',
       '3390000', '598888', '418000', '488000', '6180000', '3480000',
       '1015000', '580000', '4888888', '5650000', '565000', '1199999',
       '668000', '5280000', '525000', '1470000', '1848000', '4814783',
       '779000', '650000', '1950000', '589999', '2188888', '1750000',
       '721000', '8800000', '900000', '4250000', '4780000', '3980000',
       '468000', '1090000', '4300000', '1020000', '1830000', '3230000',
       '4088000', '2980000', '1188888', '1990000', '920000', '2450000',
       '7250000', '528000', '1310000', '1128000', '849000', '13888000',
       '9000000', '545000', '490000', '585000', '909000', '748865',
       '6800000', '6500000', '1088000', '1080000', '15880000', '1398000',
       '3250000', '2800000', '1428000', '5988000', '2650000', '1058000',
       '1880000', '818000', '299999', '2168000', '1100000', '1838000',
       '358000', '4000000', '2180000', '555000', '2550000', '8260000',
       '4100000', '398000', '485000', '8990000', '1818000', '21000000',
       '2749000', '850000', '4500000', '958000', '2999990', '668888',
       '789999', '880000', '665000', '10000000', '718888', '310000',
       '2380000', '5888888', '3600000', '2480000', '675000', '1030000',
       '898000', '908000', '360000', '615000', '390000', '13800000',
       '4360000', '1283310', '6242000', '6038000', '23800000', '610000',
       '35875000', '355000', '10600000', '370000', '2000000', '2479999',
       '3450000', '1132000', '2410000', '10300000', '599000', '790000',
       '1385000', '8888888', '2749998', '2368000', '1568888', '3999000',
       '3500000', '18800000', '725000', '9900000', '350000', '4960000',
       '8730000', '640000', '1970000', '3299999', '380000', '810000',
       '1299000', '2688888', '1651000', '5750000', '598000', '3350000',
       '8900000', '738888', '1349800', '625000', '695000', '8400000',
       '1498000', '8100000', '590000', '6443000', '4880000', '6380000',
       '970000', '300000', '2199000', '318000', '11900000', '2975000',
       '2498700', '6993282', '9880000', '638888', '940000', '13930000',
       '5100000', '2217585', '2608700', '2408250', '2739990', '2886100',
       '1223790', '2409010', '38167200', '1622600', '888000', '2658100',
       '3044700', '1349000', '6087315', '3278450', '2905200', '1944600'],
      dtype=object)

In [256]:
home_df[home_df["Offer_persquarefeet_in_$"].isnull()]

,Name,Street_address,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,No_of_bathrooms,Area_in_sqm,Area_in_sqft,Location_of_house,Offer_persquarefeet_in_$,Price_in_$
15,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,2010,Freehold,Apartment,2,2,81.01,872,Cantiz @ Rambai,NaN,Make an offer
51,5 Bed Condo in The Arcadia,235 Arcadia Rd,1983,99 years,Condo,5,4,348.85,3755,The Arcadia,NaN,Make an offer
87,2 Bed Condo in Eon Shenton,70 Shenton Way,2019,99 years,Condo,2,1,49.98,538,Eon Shenton,NaN,Make an offer
123,3 Bed Condo in Bedok Court,299 Bedok Sth Ave 3,1985,99 years,Condo,3,2,210.98,2271,Bedok Court,NaN,Make an offer
159,2 Bed Condo in The Gardens At Bishan,9 Sin Ming Walk,2004,99 years,Condo,2,2,82.03,883,The Gardens At Bishan,NaN,Make an offer
195,4 Room HDB in 449B Bukit Batok West Avenue 9,Unknown_address,2019,99 years,HDB (4A),3,2,92.9,1000,Bukit Batok West Avenue 9,NaN,Make an offer
231,3 Bed Condo in Parkview Apartments,3 Bt Batok St 25,1998,99 years,Apartment,3,3,104.05,1120,Parkview Apartments,NaN,Make an offer
267,5 Room HDB in 920 Jurong West Street 92,Unknown_address,1989,99 years,HDB (5I),4,2,121.98,1313,Jurong West Street,NaN,Make an offer
303,3 Room HDB in 102 Woodlands Street 13,Unknown_address,1985,99 years,HDB (3NG),2,2,68,732,Woodlands Street,NaN,Make an offer
339,4 Room HDB in 980D Buangkok Crescent,Unknown_address,2003,99 years,HDB (4A),3,2,89.93,968,Buangkok Crescent,NaN,Make an offer
375,2 Bed Condo in Floridian,965 Bt Timah Rd,2011,Freehold,Condo,2,2,90.02,969,Floridian,NaN,Make an offer
411,4 Bed House on Kampong Java Road,Kg Java Rd,Unknown,Freehold,Terraced House,4,3,138.24,1488,Kampong Java Road,NaN,Make an offer
447,4 Room HDB in 231A Sumang Lane,Unknown_address,2018,99 years,HDB (4RM),3,2,93,1001,Sumang Lane,NaN,Make an offer
483,2 Bed Condo in Spring Grove,53C Grange Rd,1996,99 years,Condo,2,3,94.02,1012,Spring Grove,NaN,Make an offer
519,3 Bed Condo in Ridgewood Condominium,1 Ridgewood Cl,1981,99 years,Condo,3,2,162.02,1744,Ridgewood Condominium,NaN,Make an offer
555,2 Bed Condo in Espada,48 St. Thomas Walk,2013,Freehold,Condo,2,1,64.01,689,Espada,NaN,Make an offer
591,3 Bed Condo in Aston Lodge,56 Lor 8 Geylang,1997,Freehold,Apartment,3,2,91.04,980,Aston Lodge,NaN,Make an offer

In [262]:
home_df.describe(include='all')

,Name,Street_address,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,No_of_bathrooms,Area_in_sqm,Area_in_sqft,Location_of_house,Offer_persquarefeet_in_$,Price_in_$
count,600,600,600,600,600,600,600,600,600,600,583,600
unique,529,355,62,2,34,9,10,272,272,415,492,365
top,2 Bed Condo in The Florence Residences,Unknown_address,2018,99 years,Condo,3,2,93,1001,Jurong West Street,2945,Make an offer
freq,5,173,50,421,216,224,303,22,22,13,5,17

In [275]:
home_df[home_df['Area_in_sqft']=="872"].value_counts()

Name                                    Street_address   Year_of_Manufacture  Lease_period  Type_of_home  No_of_Bedrooms  No_of_bathrooms  Area_in_sqm  Area_in_sqft  Location_of_house         Offer_persquarefeet_in_$  Price_in_$
1 Bed Condo in Icon                     10 Gopeng St     2007                 99 years      Apartment     1               2                81.01        872            Icon                     1583                      1380000       1
                                                                                                                                                                                                1718                      1498000       1
2 Bed Condo in Cantiz @ Rambai          21 Rambai Rd     2010                 Freehold      Apartment     2               2                81.01        872            Cantiz @ Rambai          1606                      1400000       1
2 Bed Condo in Orchid Park Condominium  93 Yishun St 81  1994                 99 years      Condo         2               3                81.01        872            Orchid Park Condominium  1032                      899999        1
dtype: int64

In [280]:
home_df[home_df["Year_of_Manufacture"]=='Unknown'].index

Int64Index([  3,  19,  42,  65,  70,  79,  89, 102, 127, 128, 137, 154, 167,
            188, 191, 221, 238, 279, 285, 286, 312, 323, 337, 359, 369, 396,
            402, 411, 434, 461, 478, 486, 507, 526, 527, 538, 558, 565, 571,
            581],
           dtype='int64')

In [281]:
home_df.drop(index=[  3,  19,  42,  65,  70,  79,  89, 102, 127, 128, 137, 154, 167,
            188, 191, 221, 238, 279, 285, 286, 312, 323, 337, 359, 369, 396,
            402, 411, 434, 461, 478, 486, 507, 526, 527, 538, 558, 565, 571,
            581], inplace=True)

In [282]:
home_df["Year_of_Manufacture"].values

array(['2010', '2019', '2003', '1996', '2013', '2011', '2012', '2015',
       '2019', '2013', '1997', '2020', '2018', '2013', '2010', '2015',
       '2009', '1997', '1998', '1998', '1976', '1997', '2015', '2004',
       '2016', '2015', '2004', '2023', '2010', '2011', '2004', '2008',
       '1995', '2011', '1983', '1986', '2020', '1974', '1970', '2018',
       '1998', '2023', '2025', '2018', '1987', '2008', '1999', '1984',
       '1983', '2017', '2015', '2024', '1999', '1993', '2016', '1994',
       '2023', '2007', '1979', '1990', '1983', '2015', '2023', '2014',
       '2017', '2016', '2018', '2019', '2011', '2018', '2001', '1999',
       '1993', '1996', '2023', '1978', '2016', '1996', '2010', '2018',
       '1985', '2019', '2023', '1989', '1976', '2019', '2018', '1994',
       '1975', '2014', '2016', '2011', '1996', '2023', '2023', '1984',
       '2011', '2018', '2021', '2017', '1985', '2018', '1981', '2002',
       '2023', '2019', '2018', '1969', '2024', '1996', '2015', '2018',
       '2016', '2018', '2018', '1985', '2012', '2023', '2015', '1985',
       '2018', '2016', '1976', '2012', '2001', '2025', '2005', '2004',
       '2018', '2023', '2022', '2018', '2004', '1985', '2014', '2019',
       '1998', '1980', '2014', '2019', '2004', '1998', '2004', '2014',
       '1999', '2023', '2004', '2021', '2016', '2018', '1980', '2017',
       '2017', '2005', '2005', '1982', '2003', '2023', '2024', '2001',
       '2017', '2023', '2000', '2000', '2015', '2015', '2019', '2023',
       '2007', '1989', '2019', '1976', '2016', '2021', '2015', '2019',
       '2017', '1970', '2008', '2019', '2015', '2010', '2011', '1989',
       '1978', '2023', '2009', '1998', '2015', '2008', '2018', '2017',
       '2004', '2016', '2014', '2004', '2015', '2017', '2015', '1998',
       '2016', '2018', '2015', '2015', '2017', '1985', '2008', '2020',
       '1988', '2019', '2018', '2018', '2018', '1998', '2019', '2014',
       '2011', '2007', '1967', '2018', '2015', '1977', '1993', '2012',
       '2017', '1983', '1999', '2017', '1980', '1984', '2024', '2015',
       '2018', '1989', '2019', '2023', '2010', '2016', '2013', '2007',
       '2010', '2002', '2022', '1993', '1997', '2016', '2014', '2019',
       '1989', '2010', '1996', '1987', '2001', '2022', '1997', '2016',
       '1997', '1988', '2015', '2023', '1987', '2023', '2016', '2015',
       '2016', '1985', '2016', '1988', '1981', '2021', '1976', '1989',
       '2003', '2018', '1987', '2014', '1983', '2024', '1977', '2013',
       '1985', '2005', '2018', '1989', '2015', '2013', '1996', '1992',
       '2003', '1983', '1988', '2017', '2019', '2007', '1996', '2017',
       '2023', '2016', '2022', '2003', '1978', '2018', '1998', '2012',
       '2010', '2014', '2015', '2008', '2012', '2017', '1999', '2016',
       '1993', '2003', '2023', '2014', '2021', '2019', '1993', '2011',
       '2021', '2016', '2017', '2007', '2011', '2013', '1967', '1995',
       '2022', '2023', '2003', '2011', '2018', '2011', '2018', '2023',
       '2012', '2019', '1979', '2011', '1999', '2015', '1981', '1985',
       '2018', '2007', '2023', '2011', '2012', '2016', '2016', '2010',
       '2022', '1984', '2010', '2010', '1984', '2024', '2017', '2015',
       '2017', '2017', '2003', '2013', '1985', '2001', '2018', '2017',
       '2020', '2021', '2001', '2015', '1978', '2001', '1996', '2003',
       '2024', '2012', '1972', '2016', '1998', '2017', '2018', '1983',
       '2011', '2014', '1998', '2019', '2018', '2013', '1988', '2021',
       '2016', '2016', '1990', '1987', '2011', '1986', '2019', '2008',
       '1997', '2018', '1981', '2016', '2011', '2012', '2010', '2018',
       '2017', '2016', '2015', '2017', '2015', '2017', '2010', '2018',
       '1995', '2018', '2017', '2016', '2018', '2014', '2016', '2020',
       '2017', '1984', '2012', '2016', '2011', '1983', '1992', '2008',
       '2019', '2016', '1985', '1996', '2010', '2027', '2009', '2009',
       '1983', '1982', '1996', '2027', '2004', '2011', '2011', '1984',
       '1996', '2026', '2017', '2023', '2015', '1983', '2011', '2004',
       '1971', '2001', '2015', '2015', '1990', '2001', '2000', '2025',
       '2016', '2018', '1981', '1984', '2017', '2015', '1970', '2019',
       '2007', '1997', '2011', '2016', '1998', '1981', '2008', '1997',
       '2009', '1989', '2018', '1994', '2020', '2017', '2017', '2018',
       '1980', '2022', '2015', '2019', '2014', '2000', '2018', '2013',
       '2017', '2017', '2018', '2018', '2002', '2002', '2014', '1984',
       '2007', '1997', '1997', '2018', '2017', '2015', '2013', '2012',
       '2016', '2013', '2018', '2018', '2017', '2010', '2018', '1997',
       '1970', '2015', '1973', '2018', '2023', '1971', '1997', '2011',
       '2025', '1978', '2013', '1985', '2014', '2021', '1992', '1985',
       '2013', '2012', '1978', '1978', '1997', '2015', '2030', '2029',
       '2028', '2024', '2029', '2030', '2029', '2030', '2030', '2029',
       '2018', '2028', '2027', '2028', '2030', '2026', '2023', '2028'],
      dtype=object)

In [283]:
home_df.shape

(560, 12)

In [288]:
home_df["Year_of_Manufacture"] = home_df["Year_of_Manufacture"].astype("int32")

In [289]:
home_df.dtypes

Name                        object
Street_address              object
Year_of_Manufacture          int32
Lease_period                object
Type_of_home                object
No_of_Bedrooms              object
No_of_bathrooms             object
Area_in_sqm                 object
Area_in_sqft                object
Location_of_house           object
Offer_persquarefeet_in_$    object
Price_in_$                  object
dtype: object

In [290]:
home_df["Offer_persquarefeet_in_$"] = home_df["Offer_persquarefeet_in_$"].fillna(0)

In [291]:
home_df["Offer_persquarefeet_in_$"].values

array(['1606', '1321', '536', '1536', '1901', '1821', '4143', '2082',
       '679', '1006', '2065', '2054', '1317', '2306', 0, '768', '1905',
       '528', '541', '474', '538', '769', '626', '656', '1395', '1390',
       '1028', '2093', '1687', '2327', '1051', '990', '1709', '1389',
       '1278', '1724', '1795', '709', '542', '627', '1118', '1811',
       '2094', '731', '760', '2700', '627', '460', 0, '2717', '2111',
       '2019', '771', '1785', '2099', '1042', '3226', '1832', '515',
       '1563', '523', '1952', '1917', '1290', '1652', '2407', '2178',
       '2230', '1966', '1388', '440', '1148', '527', '555', '3009', '624',
       '1409', '1500', '4531', '1389', '650', 0, '1658', '5146', '707',
       '1168', '2404', '1032', '594', '1115', '3797', '2736', '944',
       '2197', '1625', '720', '1896', '1451', '3515', '585', '1039',
       '549', '1128', '1636', '1894', '597', '1422', '515', '1639', '599',
       '1426', '650', '4873', '1010', '1394', 0, '1747', '1715', '1202',
       '614', '1398', '2354', '505', '903', '532', '2065', '2168', '1246',
       '2243', '2941', '2239', '1394', '1586', '503', '2000', '600',
       '1097', '523', '1949', '589', '1672', '1037', '1225', '1297',
       '487', '2254', 0, '2265', '1401', '2181', '3040', '1941', '2275',
       '2305', '2322', '507', '556', '1627', '2000', '561', '1969',
       '1713', '590', '1093', '614', '2323', '579', '1769', '1583', '451',
       '1705', '555', '1346', '2253', '1674', '1143', '3028', '1314',
       '2307', 0, '1956', '1764', '5018', '450', '2143', '1829', '1819',
       '1845', '1932', '1661', '2143', '1547', '708', '1546', '3574',
       '1309', '718', '629', '2671', '1116', '1144', '1836', '2618',
       '1594', '1604', '522', '539', '2024', '591', '1574', '2497', '697',
       '2386', 0, '2610', '2138', '1472', '612', '547', '657', '1192',
       '2868', '6901', '1600', '1230', '460', '786', '792', '2915',
       '1414', '1706', '1151', '1105', '430', '2049', '2143', '1844',
       '675', '2105', '1944', '2324', '443', '2356', '1086', '1515',
       '1347', '1855', '650', 0, '1604', '435', '768', '720', '1832',
       '488', '1311', '468', '562', '2370', '1689', '573', '2008', '617',
       '2650', '1659', '626', '1050', '668', '1128', '2801', '529', '447',
       '921', '2833', '707', '1478', '1796', '1903', '573', '1114', 0,
       '2429', '978', '1579', '1859', '2244', '849', '599', '1962', '518',
       '584', '1858', '1094', '1932', '1048', '1357', '1754', '1888',
       '2143', '563', '623', '584', '584', '741', '3128', '1490', '1532',
       '2051', '2228', '1365', '718', '2089', '1732', 0, '2931', '1150',
       '2286', '1817', '1868', '2467', '1637', '1432', '1944', '1889',
       '2426', '826', '649', '1599', '2272', '2222', '471', '1538', '875',
       '2250', '770', '1858', '1173', '1079', '861', '2180', '1872',
       '2052', '544', '536', '1831', '1850', '2639', 0, '2322', '2322',
       '1347', '1037', '1836', '563', '3995', '2235', '440', '2025',
       '1824', '2402', '2657', '3385', '743', '2025', '514', '549',
       '1709', '1654', '2490', '1748', '962', '1568', '520', '550',
       '1296', '534', '1765', '1521', '721', '1992', '1805', '1496',
       '567', '1312', '1149', '1246', '1681', '674', '2186', '1839',
       '571', '1654', '2434', '619', '2793', '558', '2258', '1335',
       '2469', '2399', '1489', '614', '533', '3717', '2935', '1609',
       '1893', '2465', '1609', '3186', '2107', '1650', '1429', '3642',
       '2838', 0, '2576', '2366', '5398', '1575', '1690', '5555', '2500',
       '1962', '1348', '711', '733', '1739', '1964', '513', '1630',
       '2365', '1986', '1027', '487', '1976', '2322', '1168', '1973',
       '1998', '2726', '612', '503', '1399', '2028', '1849', '1225',
       '1736', 0, '2463', '3032', '2094', '596', '2620', '1907', '2387',
       '542', '1340', '2387', '1531', '909', '434', '870', '2008', '1368',
       '1488', '1892', '475', '2305', '1492', '527', '1858', '1922',
       '632', '1546', '1644', '1300', 0, '1306', '1312', '1262', '455',
       '1232', '1701', '1616', '1817', '1694', '624', '1945', '1721',
       '1639', '577', '1254', '1190', '624', '2395', '1339', '1604',
       '1260', '549', '1194', '1951', '2065', '619', '1718', '1970',
       '1421', '589', '3521', '1459', 0, '2158', '617', '1890', '1250',
       '1179', '2051', '2349', '754', '2462', '1768', '1527', '485',
       '1578', '3013', '581', '1020', '2536', '1903', '1849', '1094',
       '571', '1438', '1818', '1548', '570', '2153', '1277', '1164',
       '523', 0, '594', '2945', '1544', '1791', '2979', '1805', '2945',
       '1805', '2945', '2945', '1909', '1528', '1900', '2357', '1900',
       '2945', '2497', '2477', '2100'], dtype=object)

In [292]:
home_df["Offer_persquarefeet_in_$"] = home_df["Offer_persquarefeet_in_$"].astype("int32")

In [293]:
home_df["Offer_persquarefeet_in_$"].dtype

dtype('int32')

In [294]:
home_df["Offer_persquarefeet_in_$"].mean()

1535.6178571428572

In [295]:
np.around(home_df["Offer_persquarefeet_in_$"].mean())

1536.0

In [296]:
np.around(home_df["Offer_persquarefeet_in_$"].mean()).astype("int16")

1536

In [302]:
home_df["Offer_persquarefeet_in_$"].re.replace('0','1536')

0      1606
1      1321
2       536
4      1536
5      1901
       ...
607    1900
608    2945
609    2497
610    2477
611    2100
Name: Offer_persquarefeet_in_$, Length: 560, dtype: int32

In [305]:
re.sub(r"0",'1536',home_df["Offer_persquarefeet_in_$"][0])

TypeError: cannot use a string pattern on a bytes-like object

In [299]:
home_df["Offer_persquarefeet_in_$"] = home_df["Offer_persquarefeet_in_$"].re.sub('0','1536')

In [300]:
home_df["Offer_persquarefeet_in_$"].values

array([1606, 1321,  536, 1536, 1901, 1821, 4143, 2082,  679, 1006, 2065,
       2054, 1317, 2306,    0,  768, 1905,  528,  541,  474,  538,  769,
        626,  656, 1395, 1390, 1028, 2093, 1687, 2327, 1051,  990, 1709,
       1389, 1278, 1724, 1795,  709,  542,  627, 1118, 1811, 2094,  731,
        760, 2700,  627,  460,    0, 2717, 2111, 2019,  771, 1785, 2099,
       1042, 3226, 1832,  515, 1563,  523, 1952, 1917, 1290, 1652, 2407,
       2178, 2230, 1966, 1388,  440, 1148,  527,  555, 3009,  624, 1409,
       1500, 4531, 1389,  650,    0, 1658, 5146,  707, 1168, 2404, 1032,
        594, 1115, 3797, 2736,  944, 2197, 1625,  720, 1896, 1451, 3515,
        585, 1039,  549, 1128, 1636, 1894,  597, 1422,  515, 1639,  599,
       1426,  650, 4873, 1010, 1394,    0, 1747, 1715, 1202,  614, 1398,
       2354,  505,  903,  532, 2065, 2168, 1246, 2243, 2941, 2239, 1394,
       1586,  503, 2000,  600, 1097,  523, 1949,  589, 1672, 1037, 1225,
       1297,  487, 2254,    0, 2265, 1401, 2181, 3040, 1941, 2275, 2305,
       2322,  507,  556, 1627, 2000,  561, 1969, 1713,  590, 1093,  614,
       2323,  579, 1769, 1583,  451, 1705,  555, 1346, 2253, 1674, 1143,
       3028, 1314, 2307,    0, 1956, 1764, 5018,  450, 2143, 1829, 1819,
       1845, 1932, 1661, 2143, 1547,  708, 1546, 3574, 1309,  718,  629,
       2671, 1116, 1144, 1836, 2618, 1594, 1604,  522,  539, 2024,  591,
       1574, 2497,  697, 2386,    0, 2610, 2138, 1472,  612,  547,  657,
       1192, 2868, 6901, 1600, 1230,  460,  786,  792, 2915, 1414, 1706,
       1151, 1105,  430, 2049, 2143, 1844,  675, 2105, 1944, 2324,  443,
       2356, 1086, 1515, 1347, 1855,  650,    0, 1604,  435,  768,  720,
       1832,  488, 1311,  468,  562, 2370, 1689,  573, 2008,  617, 2650,
       1659,  626, 1050,  668, 1128, 2801,  529,  447,  921, 2833,  707,
       1478, 1796, 1903,  573, 1114,    0, 2429,  978, 1579, 1859, 2244,
        849,  599, 1962,  518,  584, 1858, 1094, 1932, 1048, 1357, 1754,
       1888, 2143,  563,  623,  584,  584,  741, 3128, 1490, 1532, 2051,
       2228, 1365,  718, 2089, 1732,    0, 2931, 1150, 2286, 1817, 1868,
       2467, 1637, 1432, 1944, 1889, 2426,  826,  649, 1599, 2272, 2222,
        471, 1538,  875, 2250,  770, 1858, 1173, 1079,  861, 2180, 1872,
       2052,  544,  536, 1831, 1850, 2639,    0, 2322, 2322, 1347, 1037,
       1836,  563, 3995, 2235,  440, 2025, 1824, 2402, 2657, 3385,  743,
       2025,  514,  549, 1709, 1654, 2490, 1748,  962, 1568,  520,  550,
       1296,  534, 1765, 1521,  721, 1992, 1805, 1496,  567, 1312, 1149,
       1246, 1681,  674, 2186, 1839,  571, 1654, 2434,  619, 2793,  558,
       2258, 1335, 2469, 2399, 1489,  614,  533, 3717, 2935, 1609, 1893,
       2465, 1609, 3186, 2107, 1650, 1429, 3642, 2838,    0, 2576, 2366,
       5398, 1575, 1690, 5555, 2500, 1962, 1348,  711,  733, 1739, 1964,
        513, 1630, 2365, 1986, 1027,  487, 1976, 2322, 1168, 1973, 1998,
       2726,  612,  503, 1399, 2028, 1849, 1225, 1736,    0, 2463, 3032,
       2094,  596, 2620, 1907, 2387,  542, 1340, 2387, 1531,  909,  434,
        870, 2008, 1368, 1488, 1892,  475, 2305, 1492,  527, 1858, 1922,
        632, 1546, 1644, 1300,    0, 1306, 1312, 1262,  455, 1232, 1701,
       1616, 1817, 1694,  624, 1945, 1721, 1639,  577, 1254, 1190,  624,
       2395, 1339, 1604, 1260,  549, 1194, 1951, 2065,  619, 1718, 1970,
       1421,  589, 3521, 1459,    0, 2158,  617, 1890, 1250, 1179, 2051,
       2349,  754, 2462, 1768, 1527,  485, 1578, 3013,  581, 1020, 2536,
       1903, 1849, 1094,  571, 1438, 1818, 1548,  570, 2153, 1277, 1164,
        523,    0,  594, 2945, 1544, 1791, 2979, 1805, 2945, 1805, 2945,
       2945, 1909, 1528, 1900, 2357, 1900, 2945, 2497, 2477, 2100])

In [306]:
home_df[home_df["Price_in_$"].isnull()]

Empty DataFrame
Columns: [Name, Street_address, Year_of_Manufacture, Lease_period, Type_of_home, No_of_Bedrooms, No_of_bathrooms, Area_in_sqm, Area_in_sqft, Location_of_house, Offer_persquarefeet_in_$, Price_in_$]
Index: []

In [307]:
home_df["Price_in_$"].values

array(['1400000', '1550000', '750000', '2200000', '1800000', '3333000',
       '11418000', '2600000', '680000', '3900000', '3200000', '1680000',
       '1700000', '4980000', 'Make an offer', '388000', '1600000',
       '568000', '600000', '520000', '375888', '1158888', '620000',
       '649222', '1650000', '688000', '2500000', '1689000', '6300000',
       '2280000', '2388000', '950000', '1600000', '1450000', '4800000',
       '3784000', '1680000', '450000', '420000', '458000', '1720000',
       '1150000', '1600000', '888888', '988888', '1280000', '809000',
       '658888', 'Make an offer', '2750000', '1250000', '1260000',
       '838000', '1690000', '3300000', '1200000', '5868000', '1440000',
       '399999', '3499000', '450000', '2500000', '1300000', '1320000',
       '960000', '2850000', '3400000', '1200000', '3680000', '1180000',
       '520000', '2100000', '839000', '860000', '2266000', '450000',
       '1288888', '1501500', '18000000', '1300000', '588000',
       'Make an offer', '1000000', '530000', '700000', '2851333',
       '2690000', '899999', '415000', '720000', '5300000', '25000000',
       '1238888', '1725000', '980000', '550000', '1530000', '7588000',
       '11580000', '586000', '2360000', '550000', '3800000', '2500000',
       '3650000', '738000', '1270000', '338000', '918000', '690000',
       '1688000', '475000', '7500000', '999999', '1500000',
       'Make an offer', '1635000', '830000', '1190000', '800000',
       '1550000', '1850000', '445000', '680000', '630000', '1400000',
       '1680000', '1328000', '1570000', '1900000', '1350000', '1500000',
       '1400000', '655000', '1680000', '599999', '2100000', '518000',
       '3588000', '710000', '1980000', '960000', '1345000', '1550000',
       '550000', '1649899', 'Make an offer', '1780000', '768888',
       '1690000', '6080000', '1650000', '2400000', '2780000', '5000000',
       '508000', '658888', '2750000', '1980000', '670000', '890000',
       '2950000', '540000', '1400000', '739999', '1250000', '578888',
       '1180000', '1380000', '495000', '2350000', '388000', '1768000',
       '1480000', '918888', '1390000', '2250000', '4600000', '3800000',
       'Make an offer', '800000', '3000000', '15500000', '595000',
       '6000000', '1220000', '1430000', '3000000', '999000', '3200000',
       '1200000', '7160400', '800000', '999000', '6000000', '4200000',
       '518000', '630000', '2300000', '1250000', '800000', '1008000',
       '4200000', '1199000', '967260', '410000', '638000', '1350000',
       '928000', '1050000', '1668000', '698000', '3390000',
       'Make an offer', '2500000', '2300000', '1980000', '598888',
       '418000', '488000', '1180000', '6180000', '980000', '3480000',
       '1350000', '598888', '1015000', '580000', '4888888', '1280000',
       '918000', '5650000', '820000', '565000', '1500000', '1199999',
       '1250000', '668000', '5280000', '1800000', '1650000', '525000',
       '1470000', '1848000', '1550000', '4814783', '779000', '650000',
       'Make an offer', '1950000', '589999', '1000000', '930000',
       '2188888', '620000', '1750000', '721000', '508000', '2500000',
       '1000000', '900000', '950000', '750000', '4250000', '750000',
       '458000', '2600000', '1050000', '3800000', '3980000', '468000',
       '495000', '1090000', '4300000', '1020000', '1830000', '3230000',
       '1720000', '450000', '4088000', 'Make an offer', '2980000',
       '1188888', '1990000', '920000', '1400000', '950000', '1090000',
       '2450000', '580000', '528000', '2200000', '800000', '1310000',
       '1128000', '950000', '849000', '13888000', '1500000', '545000',
       '490000', '585000', '909000', '748865', '6800000', '1380000',
       '1550000', '2980000', '6500000', '1088000', '928000', '1080000',
       '1398000', 'Make an offer', '3250000', '2800000', '1600000',
       '1428000', '5988000', '6000000', '1850000', '2650000', '900000',
       '1058000', '1880000', '818000', '299999', '2168000', '1688000',
       '1100000', '568000', '1838000', '358000', '2180000', '555000',
       '1180000', '2550000', '1080000', '630000', '8260000', '2800000',
       '4100000', '398000', '485000', '1300000', '8990000', '1818000',
       'Make an offer', '21000000', '2749000', '4814783', '2800000',
       '850000', '630000', '8800000', '4500000', '488000', '958000',
       '1550000', '2999990', '1400000', '5500000', '720000', '3400000',
       '668888', '650000', '1950000', '890000', '1850000', '789999',
       '880000', '1350000', '665000', '768888', '1200000', '718888',
       '1500000', '1980000', '310000', '2380000', '5888888', '950000',
       '690000', '5000000', '3600000', '1850000', '2480000', '675000',
       '1600000', '1030000', '898000', '908000', '1650000', '620000',
       '18000000', '360000', '1750000', '1250000', '2550000', '1600000',
       '2600000', '615000', '390000', '4360000', '5500000', '1680000',
       '1283310', '1750000', '1300000', '6242000', '908000', '1350000',
       '1000000', '6038000', '23800000', 'Make an offer', '2300000',
       '1680000', '610000', '1780000', '1200000', '35875000', '1050000',
       '2550000', '1480000', '850000', '355000', '3200000', '2600000',
       '370000', '2000000', '4200000', '2479999', '3450000', '545000',
       '2000000', '6300000', '1132000', '2380000', '2410000', '10300000',
       '599000', '790000', '1385000', '2749998', '2368000', '1568888',
       '3999000', 'Make an offer', '3500000', '18800000', '1600000',
       '725000', '9900000', '3900000', '6500000', '350000', '3000000',
       '950000', '4960000', '8730000', '640000', '1180000', '950000',
       '1650000', '1970000', '3299999', '710000', '2780000', '1188888',
       '380000', '1180000', '1780000', '810000', '1299000', '2688888',
       '1651000', 'Make an offer', '5750000', '1680000', '1480000',
       '598000', '1100000', '3350000', '800000', '1428000', '1349800',
       '625000', '6500000', '1000000', '900000', '695000', '1080000',
       '1600000', '625000', '1650000', '1700000', '1450000', '1600000',
       '550000', '8400000', '1280000', '1200000', '700000', '1498000',
       '2800000', '8100000', '590000', '6443000', '1900000',
       'Make an offer', '4880000', '750000', '650000', '1345000',
       '1180000', '970000', '2250000', '300000', '2199000', '2550000',
       '1380000', '318000', '1800000', '1880000', '350000', '999999',
       '2975000', '2498700', '6993282', '3980000', '638888', '1300000',
       '940000', '1850000', '638000', '13930000', '1800000', '5100000',
       '670000', 'Make an offer', '588000', '2217585', '2608700',
       '2408250', '1570000', '2739990', '2886100', '1223790', '2409010',
       '38167200', '1622600', '888000', '2658100', '3044700', '1349000',
       '6087315', '3278450', '2905200', '1944600'], dtype=object)

In [ ]:
home_df["Offer_persquarefeet_in_$"] = home_df["Offer_persquarefeet_in_$"].astype("int32")

In [308]:
home_df[home_df["Price_in_$"]=="Make an offer"].index

Int64Index([15, 51, 87, 123, 159, 195, 231, 267, 303, 339, 375, 447, 483, 519,
            555, 591],
           dtype='int64')

In [309]:
home_df.drop(index=[15, 51, 87, 123, 159, 195, 231, 267, 303, 339, 375, 447, 483, 519,
            555, 591], inplace=True)

In [311]:
home_df["Price_in_$"] = home_df["Price_in_$"].fillna(0)

In [312]:
home_df["Price_in_$"].values

array(['1400000', '1550000', '750000', '2200000', '1800000', '3333000',
       '11418000', '2600000', '680000', '3900000', '3200000', '1680000',
       '1700000', '4980000', '388000', '1600000', '568000', '600000',
       '520000', '375888', '1158888', '620000', '649222', '1650000',
       '688000', '2500000', '1689000', '6300000', '2280000', '2388000',
       '950000', '1600000', '1450000', '4800000', '3784000', '1680000',
       '450000', '420000', '458000', '1720000', '1150000', '1600000',
       '888888', '988888', '1280000', '809000', '658888', '2750000',
       '1250000', '1260000', '838000', '1690000', '3300000', '1200000',
       '5868000', '1440000', '399999', '3499000', '450000', '2500000',
       '1300000', '1320000', '960000', '2850000', '3400000', '1200000',
       '3680000', '1180000', '520000', '2100000', '839000', '860000',
       '2266000', '450000', '1288888', '1501500', '18000000', '1300000',
       '588000', '1000000', '530000', '700000', '2851333', '2690000',
       '899999', '415000', '720000', '5300000', '25000000', '1238888',
       '1725000', '980000', '550000', '1530000', '7588000', '11580000',
       '586000', '2360000', '550000', '3800000', '2500000', '3650000',
       '738000', '1270000', '338000', '918000', '690000', '1688000',
       '475000', '7500000', '999999', '1500000', '1635000', '830000',
       '1190000', '800000', '1550000', '1850000', '445000', '680000',
       '630000', '1400000', '1680000', '1328000', '1570000', '1900000',
       '1350000', '1500000', '1400000', '655000', '1680000', '599999',
       '2100000', '518000', '3588000', '710000', '1980000', '960000',
       '1345000', '1550000', '550000', '1649899', '1780000', '768888',
       '1690000', '6080000', '1650000', '2400000', '2780000', '5000000',
       '508000', '658888', '2750000', '1980000', '670000', '890000',
       '2950000', '540000', '1400000', '739999', '1250000', '578888',
       '1180000', '1380000', '495000', '2350000', '388000', '1768000',
       '1480000', '918888', '1390000', '2250000', '4600000', '3800000',
       '800000', '3000000', '15500000', '595000', '6000000', '1220000',
       '1430000', '3000000', '999000', '3200000', '1200000', '7160400',
       '800000', '999000', '6000000', '4200000', '518000', '630000',
       '2300000', '1250000', '800000', '1008000', '4200000', '1199000',
       '967260', '410000', '638000', '1350000', '928000', '1050000',
       '1668000', '698000', '3390000', '2500000', '2300000', '1980000',
       '598888', '418000', '488000', '1180000', '6180000', '980000',
       '3480000', '1350000', '598888', '1015000', '580000', '4888888',
       '1280000', '918000', '5650000', '820000', '565000', '1500000',
       '1199999', '1250000', '668000', '5280000', '1800000', '1650000',
       '525000', '1470000', '1848000', '1550000', '4814783', '779000',
       '650000', '1950000', '589999', '1000000', '930000', '2188888',
       '620000', '1750000', '721000', '508000', '2500000', '1000000',
       '900000', '950000', '750000', '4250000', '750000', '458000',
       '2600000', '1050000', '3800000', '3980000', '468000', '495000',
       '1090000', '4300000', '1020000', '1830000', '3230000', '1720000',
       '450000', '4088000', '2980000', '1188888', '1990000', '920000',
       '1400000', '950000', '1090000', '2450000', '580000', '528000',
       '2200000', '800000', '1310000', '1128000', '950000', '849000',
       '13888000', '1500000', '545000', '490000', '585000', '909000',
       '748865', '6800000', '1380000', '1550000', '2980000', '6500000',
       '1088000', '928000', '1080000', '1398000', '3250000', '2800000',
       '1600000', '1428000', '5988000', '6000000', '1850000', '2650000',
       '900000', '1058000', '1880000', '818000', '299999', '2168000',
       '1688000', '1100000', '568000', '1838000', '358000', '2180000',
       '555000', '1180000', '2550000', '1080000', '630000', '8260000',
       '2800000', '4100000', '398000', '485000', '1300000', '8990000',
       '1818000', '21000000', '2749000', '4814783', '2800000', '850000',
       '630000', '8800000', '4500000', '488000', '958000', '1550000',
       '2999990', '1400000', '5500000', '720000', '3400000', '668888',
       '650000', '1950000', '890000', '1850000', '789999', '880000',
       '1350000', '665000', '768888', '1200000', '718888', '1500000',
       '1980000', '310000', '2380000', '5888888', '950000', '690000',
       '5000000', '3600000', '1850000', '2480000', '675000', '1600000',
       '1030000', '898000', '908000', '1650000', '620000', '18000000',
       '360000', '1750000', '1250000', '2550000', '1600000', '2600000',
       '615000', '390000', '4360000', '5500000', '1680000', '1283310',
       '1750000', '1300000', '6242000', '908000', '1350000', '1000000',
       '6038000', '23800000', '2300000', '1680000', '610000', '1780000',
       '1200000', '35875000', '1050000', '2550000', '1480000', '850000',
       '355000', '3200000', '2600000', '370000', '2000000', '4200000',
       '2479999', '3450000', '545000', '2000000', '6300000', '1132000',
       '2380000', '2410000', '10300000', '599000', '790000', '1385000',
       '2749998', '2368000', '1568888', '3999000', '3500000', '18800000',
       '1600000', '725000', '9900000', '3900000', '6500000', '350000',
       '3000000', '950000', '4960000', '8730000', '640000', '1180000',
       '950000', '1650000', '1970000', '3299999', '710000', '2780000',
       '1188888', '380000', '1180000', '1780000', '810000', '1299000',
       '2688888', '1651000', '5750000', '1680000', '1480000', '598000',
       '1100000', '3350000', '800000', '1428000', '1349800', '625000',
       '6500000', '1000000', '900000', '695000', '1080000', '1600000',
       '625000', '1650000', '1700000', '1450000', '1600000', '550000',
       '8400000', '1280000', '1200000', '700000', '1498000', '2800000',
       '8100000', '590000', '6443000', '1900000', '4880000', '750000',
       '650000', '1345000', '1180000', '970000', '2250000', '300000',
       '2199000', '2550000', '1380000', '318000', '1800000', '1880000',
       '350000', '999999', '2975000', '2498700', '6993282', '3980000',
       '638888', '1300000', '940000', '1850000', '638000', '13930000',
       '1800000', '5100000', '670000', '588000', '2217585', '2608700',
       '2408250', '1570000', '2739990', '2886100', '1223790', '2409010',
       '38167200', '1622600', '888000', '2658100', '3044700', '1349000',
       '6087315', '3278450', '2905200', '1944600'], dtype=object)

In [314]:
home_df["Price_in_$"].shape

(544,)

In [315]:
home_df.shape

(544, 12)

In [316]:
home_df["Name"].shape

(544,)

In [319]:
home_df["Price_in_$"].isnull().sum()

0

In [320]:
home_df["Price_in_$"] = home_df["Price_in_$"].astype("int32")

In [321]:
home_df["Price_in_$"].dtype

dtype('int32')

In [322]:
home_df.dtypes

Name                        object
Street_address              object
Year_of_Manufacture          int32
Lease_period                object
Type_of_home                object
No_of_Bedrooms              object
No_of_bathrooms             object
Area_in_sqm                 object
Area_in_sqft                object
Location_of_house           object
Offer_persquarefeet_in_$     int32
Price_in_$                   int32
dtype: object

In [323]:
home_df["Offer_persquarefeet_in_$"].values

array([1606, 1321,  536, 1536, 1901, 1821, 4143, 2082,  679, 1006, 2065,
       2054, 1317, 2306,  768, 1905,  528,  541,  474,  538,  769,  626,
        656, 1395, 1390, 1028, 2093, 1687, 2327, 1051,  990, 1709, 1389,
       1278, 1724, 1795,  709,  542,  627, 1118, 1811, 2094,  731,  760,
       2700,  627,  460, 2717, 2111, 2019,  771, 1785, 2099, 1042, 3226,
       1832,  515, 1563,  523, 1952, 1917, 1290, 1652, 2407, 2178, 2230,
       1966, 1388,  440, 1148,  527,  555, 3009,  624, 1409, 1500, 4531,
       1389,  650, 1658, 5146,  707, 1168, 2404, 1032,  594, 1115, 3797,
       2736,  944, 2197, 1625,  720, 1896, 1451, 3515,  585, 1039,  549,
       1128, 1636, 1894,  597, 1422,  515, 1639,  599, 1426,  650, 4873,
       1010, 1394, 1747, 1715, 1202,  614, 1398, 2354,  505,  903,  532,
       2065, 2168, 1246, 2243, 2941, 2239, 1394, 1586,  503, 2000,  600,
       1097,  523, 1949,  589, 1672, 1037, 1225, 1297,  487, 2254, 2265,
       1401, 2181, 3040, 1941, 2275, 2305, 2322,  507,  556, 1627, 2000,
        561, 1969, 1713,  590, 1093,  614, 2323,  579, 1769, 1583,  451,
       1705,  555, 1346, 2253, 1674, 1143, 3028, 1314, 2307, 1956, 1764,
       5018,  450, 2143, 1829, 1819, 1845, 1932, 1661, 2143, 1547,  708,
       1546, 3574, 1309,  718,  629, 2671, 1116, 1144, 1836, 2618, 1594,
       1604,  522,  539, 2024,  591, 1574, 2497,  697, 2386, 2610, 2138,
       1472,  612,  547,  657, 1192, 2868, 6901, 1600, 1230,  460,  786,
        792, 2915, 1414, 1706, 1151, 1105,  430, 2049, 2143, 1844,  675,
       2105, 1944, 2324,  443, 2356, 1086, 1515, 1347, 1855,  650, 1604,
        435,  768,  720, 1832,  488, 1311,  468,  562, 2370, 1689,  573,
       2008,  617, 2650, 1659,  626, 1050,  668, 1128, 2801,  529,  447,
        921, 2833,  707, 1478, 1796, 1903,  573, 1114, 2429,  978, 1579,
       1859, 2244,  849,  599, 1962,  518,  584, 1858, 1094, 1932, 1048,
       1357, 1754, 1888, 2143,  563,  623,  584,  584,  741, 3128, 1490,
       1532, 2051, 2228, 1365,  718, 2089, 1732, 2931, 1150, 2286, 1817,
       1868, 2467, 1637, 1432, 1944, 1889, 2426,  826,  649, 1599, 2272,
       2222,  471, 1538,  875, 2250,  770, 1858, 1173, 1079,  861, 2180,
       1872, 2052,  544,  536, 1831, 1850, 2639, 2322, 2322, 1347, 1037,
       1836,  563, 3995, 2235,  440, 2025, 1824, 2402, 2657, 3385,  743,
       2025,  514,  549, 1709, 1654, 2490, 1748,  962, 1568,  520,  550,
       1296,  534, 1765, 1521,  721, 1992, 1805, 1496,  567, 1312, 1149,
       1246, 1681,  674, 2186, 1839,  571, 1654, 2434,  619, 2793,  558,
       2258, 1335, 2469, 2399, 1489,  614,  533, 3717, 2935, 1609, 1893,
       2465, 1609, 3186, 2107, 1650, 1429, 3642, 2838, 2576, 2366, 5398,
       1575, 1690, 5555, 2500, 1962, 1348,  711,  733, 1739, 1964,  513,
       1630, 2365, 1986, 1027,  487, 1976, 2322, 1168, 1973, 1998, 2726,
        612,  503, 1399, 2028, 1849, 1225, 1736, 2463, 3032, 2094,  596,
       2620, 1907, 2387,  542, 1340, 2387, 1531,  909,  434,  870, 2008,
       1368, 1488, 1892,  475, 2305, 1492,  527, 1858, 1922,  632, 1546,
       1644, 1300, 1306, 1312, 1262,  455, 1232, 1701, 1616, 1817, 1694,
        624, 1945, 1721, 1639,  577, 1254, 1190,  624, 2395, 1339, 1604,
       1260,  549, 1194, 1951, 2065,  619, 1718, 1970, 1421,  589, 3521,
       1459, 2158,  617, 1890, 1250, 1179, 2051, 2349,  754, 2462, 1768,
       1527,  485, 1578, 3013,  581, 1020, 2536, 1903, 1849, 1094,  571,
       1438, 1818, 1548,  570, 2153, 1277, 1164,  523,  594, 2945, 1544,
       1791, 2979, 1805, 2945, 1805, 2945, 2945, 1909, 1528, 1900, 2357,
       1900, 2945, 2497, 2477, 2100])

In [324]:
home_df.isnull().sum()

Name                        0
Street_address              0
Year_of_Manufacture         0
Lease_period                0
Type_of_home                0
No_of_Bedrooms              0
No_of_bathrooms             0
Area_in_sqm                 0
Area_in_sqft                0
Location_of_house           0
Offer_persquarefeet_in_$    0
Price_in_$                  0
dtype: int64

In [325]:
home_df["Year_of_Manufacture"] = home_df["Year_of_Manufacture"].astype("int32")

In [326]:
home_df["No_of_Bedrooms"] = home_df["No_of_Bedrooms"].astype("int32")

In [327]:
home_df["No_of_bathrooms"] = home_df["No_of_bathrooms"].astype("int32")

In [328]:
home_df["Area_in_sqft"] = home_df["Area_in_sqft"].astype("int32")

In [329]:
home_df.isnull().sum()

Name                        0
Street_address              0
Year_of_Manufacture         0
Lease_period                0
Type_of_home                0
No_of_Bedrooms              0
No_of_bathrooms             0
Area_in_sqm                 0
Area_in_sqft                0
Location_of_house           0
Offer_persquarefeet_in_$    0
Price_in_$                  0
dtype: int64

In [330]:
home_df.dtypes

Name                        object
Street_address              object
Year_of_Manufacture          int32
Lease_period                object
Type_of_home                object
No_of_Bedrooms               int32
No_of_bathrooms              int32
Area_in_sqm                 object
Area_in_sqft                 int32
Location_of_house           object
Offer_persquarefeet_in_$     int32
Price_in_$                   int32
dtype: object

In [331]:
home_df

,Name,Street_address,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,No_of_bathrooms,Area_in_sqm,Area_in_sqft,Location_of_house,Offer_persquarefeet_in_$,Price_in_$
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,2010,Freehold,Apartment,2,2,81.01,872,Cantiz @ Rambai,1606,1400000
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,2019,99 years,Apartment,4,3,108.98,1173,The Wisteria / Wisteria Mall,1321,1550000
2,4 Room HDB in 114 Edgefield Plains,Unknown_address,2003,99 years,HDB (4RM),4,2,130.06,1400,Edgefield Plains,536,750000
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1996,Freehold,Apartment,3,3,133.04,1432,Madeira Court,1536,2200000
5,3 Bed Condo in The Silver Fir,9 Butterworth Lane,2013,Freehold,Apartment,3,2,87.98,947,The Silver Fir,1901,1800000
...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,2028,99 years,Condo,2,2,65.96,710,Lentor Hills Residences,1900,1349000
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,2030,Freehold,Condo,4,5,192.03,2067,Newport Residences / Newport Tower,2945,6087315
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,2026,Freehold,Condo,4,4,121.98,1313,Terra Hill,2497,3278450
610,3 Bed Condo in Riviere,1 Jiak Kim St,2023,99 years,Condo,3,2,108.98,1173,Riviere,2477,2905200
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,2028,99 years,Condo,3,2,86.03,926,Grand Dunman,2100,1944600

In [332]:
home_df["Price_in_$"].values

array([ 1400000,  1550000,   750000,  2200000,  1800000,  3333000,
       11418000,  2600000,   680000,  3900000,  3200000,  1680000,
        1700000,  4980000,   388000,  1600000,   568000,   600000,
         520000,   375888,  1158888,   620000,   649222,  1650000,
         688000,  2500000,  1689000,  6300000,  2280000,  2388000,
         950000,  1600000,  1450000,  4800000,  3784000,  1680000,
         450000,   420000,   458000,  1720000,  1150000,  1600000,
         888888,   988888,  1280000,   809000,   658888,  2750000,
        1250000,  1260000,   838000,  1690000,  3300000,  1200000,
        5868000,  1440000,   399999,  3499000,   450000,  2500000,
        1300000,  1320000,   960000,  2850000,  3400000,  1200000,
        3680000,  1180000,   520000,  2100000,   839000,   860000,
        2266000,   450000,  1288888,  1501500, 18000000,  1300000,
         588000,  1000000,   530000,   700000,  2851333,  2690000,
         899999,   415000,   720000,  5300000, 25000000,  1238888,
        1725000,   980000,   550000,  1530000,  7588000, 11580000,
         586000,  2360000,   550000,  3800000,  2500000,  3650000,
         738000,  1270000,   338000,   918000,   690000,  1688000,
         475000,  7500000,   999999,  1500000,  1635000,   830000,
        1190000,   800000,  1550000,  1850000,   445000,   680000,
         630000,  1400000,  1680000,  1328000,  1570000,  1900000,
        1350000,  1500000,  1400000,   655000,  1680000,   599999,
        2100000,   518000,  3588000,   710000,  1980000,   960000,
        1345000,  1550000,   550000,  1649899,  1780000,   768888,
        1690000,  6080000,  1650000,  2400000,  2780000,  5000000,
         508000,   658888,  2750000,  1980000,   670000,   890000,
        2950000,   540000,  1400000,   739999,  1250000,   578888,
        1180000,  1380000,   495000,  2350000,   388000,  1768000,
        1480000,   918888,  1390000,  2250000,  4600000,  3800000,
         800000,  3000000, 15500000,   595000,  6000000,  1220000,
        1430000,  3000000,   999000,  3200000,  1200000,  7160400,
         800000,   999000,  6000000,  4200000,   518000,   630000,
        2300000,  1250000,   800000,  1008000,  4200000,  1199000,
         967260,   410000,   638000,  1350000,   928000,  1050000,
        1668000,   698000,  3390000,  2500000,  2300000,  1980000,
         598888,   418000,   488000,  1180000,  6180000,   980000,
        3480000,  1350000,   598888,  1015000,   580000,  4888888,
        1280000,   918000,  5650000,   820000,   565000,  1500000,
        1199999,  1250000,   668000,  5280000,  1800000,  1650000,
         525000,  1470000,  1848000,  1550000,  4814783,   779000,
         650000,  1950000,   589999,  1000000,   930000,  2188888,
         620000,  1750000,   721000,   508000,  2500000,  1000000,
         900000,   950000,   750000,  4250000,   750000,   458000,
        2600000,  1050000,  3800000,  3980000,   468000,   495000,
        1090000,  4300000,  1020000,  1830000,  3230000,  1720000,
         450000,  4088000,  2980000,  1188888,  1990000,   920000,
        1400000,   950000,  1090000,  2450000,   580000,   528000,
        2200000,   800000,  1310000,  1128000,   950000,   849000,
       13888000,  1500000,   545000,   490000,   585000,   909000,
         748865,  6800000,  1380000,  1550000,  2980000,  6500000,
        1088000,   928000,  1080000,  1398000,  3250000,  2800000,
        1600000,  1428000,  5988000,  6000000,  1850000,  2650000,
         900000,  1058000,  1880000,   818000,   299999,  2168000,
        1688000,  1100000,   568000,  1838000,   358000,  2180000,
         555000,  1180000,  2550000,  1080000,   630000,  8260000,
        2800000,  4100000,   398000,   485000,  1300000,  8990000,
        1818000, 21000000,  2749000,  4814783,  2800000,   850000,
         630000,  8800000,  4500000,   488000,   958000,  1550000,
        2999990,  1400000,  5500000,   720000,  3400000,   668888,
         650000,  1950000,   890000,  1850000,   789999,   880000,
        1350000,   665000,   768888,  1200000,   718888,  1500000,
        1980000,   310000,  2380000,  5888888,   950000,   690000,
        5000000,  3600000,  1850000,  2480000,   675000,  1600000,
        1030000,   898000,   908000,  1650000,   620000, 18000000,
         360000,  1750000,  1250000,  2550000,  1600000,  2600000,
         615000,   390000,  4360000,  5500000,  1680000,  1283310,
        1750000,  1300000,  6242000,   908000,  1350000,  1000000,
        6038000, 23800000,  2300000,  1680000,   610000,  1780000,
        1200000, 35875000,  1050000,  2550000,  1480000,   850000,
         355000,  3200000,  2600000,   370000,  2000000,  4200000,
        2479999,  3450000,   545000,  2000000,  6300000,  1132000,
        2380000,  2410000, 10300000,   599000,   790000,  1385000,
        2749998,  2368000,  1568888,  3999000,  3500000, 18800000,
        1600000,   725000,  9900000,  3900000,  6500000,   350000,
        3000000,   950000,  4960000,  8730000,   640000,  1180000,
         950000,  1650000,  1970000,  3299999,   710000,  2780000,
        1188888,   380000,  1180000,  1780000,   810000,  1299000,
        2688888,  1651000,  5750000,  1680000,  1480000,   598000,
        1100000,  3350000,   800000,  1428000,  1349800,   625000,
        6500000,  1000000,   900000,   695000,  1080000,  1600000,
         625000,  1650000,  1700000,  1450000,  1600000,   550000,
        8400000,  1280000,  1200000,   700000,  1498000,  2800000,
        8100000,   590000,  6443000,  1900000,  4880000,   750000,
         650000,  1345000,  1180000,   970000,  2250000,   300000,
        2199000,  2550000,  1380000,   318000,  1800000,  1880000,
         350000,   999999,  2975000,  2498700,  6993282,  3980000,
         638888,  1300000,   940000,  1850000,   638000, 13930000,
        1800000,  5100000,   670000,   588000,  2217585,  2608700,
        2408250,  1570000,  2739990,  2886100,  1223790,  2409010,
       38167200,  1622600,   888000,  2658100,  3044700,  1349000,
        6087315,  3278450,  2905200,  1944600])

In [334]:
home_df.duplicated().sum()

0

In [335]:
home_df.dtypes

Name                        object
Street_address              object
Year_of_Manufacture          int32
Lease_period                object
Type_of_home                object
No_of_Bedrooms               int32
No_of_bathrooms              int32
Area_in_sqm                 object
Area_in_sqft                 int32
Location_of_house           object
Offer_persquarefeet_in_$     int32
Price_in_$                   int32
dtype: object

In [336]:
home_df.isnull().sum()

Name                        0
Street_address              0
Year_of_Manufacture         0
Lease_period                0
Type_of_home                0
No_of_Bedrooms              0
No_of_bathrooms             0
Area_in_sqm                 0
Area_in_sqft                0
Location_of_house           0
Offer_persquarefeet_in_$    0
Price_in_$                  0
dtype: int64

In [337]:
home_df

,Name,Street_address,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,No_of_bathrooms,Area_in_sqm,Area_in_sqft,Location_of_house,Offer_persquarefeet_in_$,Price_in_$
0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,2010,Freehold,Apartment,2,2,81.01,872,Cantiz @ Rambai,1606,1400000
1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,2019,99 years,Apartment,4,3,108.98,1173,The Wisteria / Wisteria Mall,1321,1550000
2,4 Room HDB in 114 Edgefield Plains,Unknown_address,2003,99 years,HDB (4RM),4,2,130.06,1400,Edgefield Plains,536,750000
4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1996,Freehold,Apartment,3,3,133.04,1432,Madeira Court,1536,2200000
5,3 Bed Condo in The Silver Fir,9 Butterworth Lane,2013,Freehold,Apartment,3,2,87.98,947,The Silver Fir,1901,1800000
...,...,...,...,...,...,...,...,...,...,...,...,...
607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,2028,99 years,Condo,2,2,65.96,710,Lentor Hills Residences,1900,1349000
608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,2030,Freehold,Condo,4,5,192.03,2067,Newport Residences / Newport Tower,2945,6087315
609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,2026,Freehold,Condo,4,4,121.98,1313,Terra Hill,2497,3278450
610,3 Bed Condo in Riviere,1 Jiak Kim St,2023,99 years,Condo,3,2,108.98,1173,Riviere,2477,2905200
611,3 Bed Condo in Grand Dunman,2 Dunman Rd,2028,99 years,Condo,3,2,86.03,926,Grand Dunman,2100,1944600

In [339]:
home_df.to_csv("home_df.csv")

In [340]:
home = pd.read_csv("home_df.csv")

In [341]:
home

,Unnamed: 0,Name,Street_address,Year_of_Manufacture,Lease_period,Type_of_home,No_of_Bedrooms,No_of_bathrooms,Area_in_sqm,Area_in_sqft,Location_of_house,Offer_persquarefeet_in_$,Price_in_$
0,0,2 Bed Condo in Cantiz @ Rambai,21 Rambai Rd,2010,Freehold,Apartment,2,2,81.01,872,Cantiz @ Rambai,1606,1400000
1,1,4 Bed Condo in The Wisteria / Wisteria Mall,590 Yishun Ring Rd,2019,99 years,Apartment,4,3,108.98,1173,The Wisteria / Wisteria Mall,1321,1550000
2,2,4 Room HDB in 114 Edgefield Plains,Unknown_address,2003,99 years,HDB (4RM),4,2,130.06,1400,Edgefield Plains,536,750000
3,4,3 Bed Condo in Madeira Court,18 Lor M Telok Kurau,1996,Freehold,Apartment,3,3,133.04,1432,Madeira Court,1536,2200000
4,5,3 Bed Condo in The Silver Fir,9 Butterworth Lane,2013,Freehold,Apartment,3,2,87.98,947,The Silver Fir,1901,1800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
539,607,2 Bed Condo in Lentor Hills Residences,37 Lentor Hills Rd,2028,99 years,Condo,2,2,65.96,710,Lentor Hills Residences,1900,1349000
540,608,4 Bed Condo in Newport Residences / Newport Tower,80 Anson Rd,2030,Freehold,Condo,4,5,192.03,2067,Newport Residences / Newport Tower,2945,6087315
541,609,4 Bed Condo in Terra Hill,22 Yew Siang Rd,2026,Freehold,Condo,4,4,121.98,1313,Terra Hill,2497,3278450
542,610,3 Bed Condo in Riviere,1 Jiak Kim St,2023,99 years,Condo,3,2,108.98,1173,Riviere,2477,2905200
543,611,3 Bed Condo in Grand Dunman,2 Dunman Rd,2028,99 years,Condo,3,2,86.03,926,Grand Dunman,2100,1944600